{% extends "base.html" %}
{% block content %}
<style>
    .scrollable-list {
      max-height: 80%; /* Set a fixed height for the notification list */
      overflow-y: auto; /* Enable vertical scrolling */
      border: 1px solid #ccc; /* Add a border for styling */
      padding: 10px;
      max-width: 70%;
      margin-left: 15%;
      margin-right: 15%;
    }
  
    .event-card {
      border: 1px solid #ccc; /* Add a border for styling */
      padding: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a box shadow for a card effect */
      list-style: none; /* Remove default list styles */
      margin-bottom: 10px; /* Adjust the space between notifications */
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .event-info {
      /* Set the width for the left part of the card */
      max-width: 80%;
    }

    .event-actions {
      width: 20%; /* Set the width for the right part of the card */
      text-align: right;
    }
    .shift-left {
        margin-left: 10%;
    }
</style>
<div>
<h2 class="shift-left">Choin Events</h2>

<div class="scrollable-list">
  <ul>
    {% for choinevent in choinevent_list %}
      <li class="event-card">
        <div class="event-info">
          <p>{{ choinevent.created_at }}</p>
          {% if choinevent.content_params %}
            {% if choinevent.type == 'NEW' %}
            <p><i class="fa fa-user-plus"></i>
              You joined module '{{choinevent.module_name}}' - project '{{choinevent.project_name}}'
            {% elif choinevent.type == 'ADD' %}
            <p><i class="fa fa-plus"></i>
              Choin Giveaway! All {{ choinevent.user_count}} users receive {{choinevent.choins_per_user|floatformat:2 }} choins.
            </p>
            {%elif choinevent.type == 'ACC' %}
              {%if choinevent.support %}
                <p><i class="fa fa-check" style="color: deepskyblue;"></i>
                  Idea accepted! <a href={{choinevent.idea_url}}>{{choinevent.idea_name}}</a>
                  cost {{choinevent.total_cost}} choins.<br/>It was funded by {{choinevent.supporters_count}} supporters.
                  <br/>
                  All participants received more {{choinevent.giveaway|floatformat:2 }} choins. You supported it and paid {{choinevent.paid|floatformat:2 }} choins.
              {%else%}
              <p><i class="fa fa-check" style="color: crimson" ></i>
                Idea accepted! <a href={{choinevent.idea_url}}>{{choinevent.idea_name}}</a>
                cost {{choinevent.total_cost}} choins.<br/>It was funded by {{choinevent.supporters_count}} supporters.
                <br/>
                You did not support it so you recieved more {{choinevent.giveaway|floatformat:2 }} choins as a compensation.
              {% endif %}
            </p>
              {%else%}
              <p><i class="fa fa-bell"></i></p>
              {% endif %}
            {%else%}
              {{choinevent.content | safe}}
            {%endif%}
        </div>
        <div class="event-actions">
          <p><i class="fa fa-wallet" aria-label="balance"></i> Your balance: {{ choinevent.balance|floatformat:2  }}</p>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
</div>
{% endblock %}