.scrollable-list {
    max-height: 80%; /* Set a fixed height for the notification list */
    overflow-y: auto; /* Enable vertical scrolling */
    border: 1px solid #ccc; /* Add a border for styling */
    padding: 10px;
    max-width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }

  .event-card {
    border: 1px solid #ccc; /* Add a border for styling */
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a box shadow for a card effect */
    list-style: none; /* Remove default list styles */
    margin-bottom: 10px; /* Adjust the space between notifications */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .event-info {
    /* Set the width for the left part of the card */
    max-width: 80%;
  }

  .event-actions {
    width: 20%; /* Set the width for the right part of the card */
    text-align: right;
  }
  .shift-left {
      margin-left: 10%;
  }