{% extends "liqd_product_account/account_dashboard.html" %}

{% load i18n %}

{% block title %}{% trans 'Your user profile' %} &mdash; {{ block.super }}{% endblock %}
{% block dashboard_content %}
    <h1 class="u-first-heading">{% trans 'Your profile' %}</h1>

    <form enctype="multipart/form-data" action="{{ request.path }}" method="post">
        {% csrf_token %}
        {% include 'liqd_product_contrib/includes/form_field.html' with field=form.username %}

        {% include 'liqd_product_contrib/includes/form_field.html' with field=form.avatar %}

        {% include 'liqd_product_contrib/includes/form_field.html' with field=form.bio %}

        {% include 'liqd_product_contrib/includes/form_field.html' with field=form.homepage %}
        {% include 'liqd_product_contrib/includes/form_field.html' with field=form.facebook_handle %}
        {% include 'liqd_product_contrib/includes/form_field.html' with field=form.twitter_handle %}

        {% include 'liqd_product_contrib/includes/form_checkbox_field.html' with field=form.get_notifications %}

        {% include 'liqd_product_contrib/includes/form_checkbox_field.html' with field=form.get_newsletters %}

        <div class="u-spacer-bottom">
            <button type="submit" class="btn btn--primary">{% trans 'Save changes'%}</button>
        </div>
    </form>
    {{ form.media }}
{% endblock %}
