{% load i18n static %}

<li class="card blueprint__tile">
  <div class="row no-gutters">
    <div class="col-lg-4 d-flex">
      <div class="card-img-top blueprint__image" style="background-image: url({% static blueprint.image %});"></div>
    </div>
    <div class="col-lg-8">
        <form class="card-body" action="{% url 'a4dashboard:module-create' organisation_slug=project.organisation.slug project_slug=project.slug blueprint_slug=blueprint_slug %}" method="POST">
            {% csrf_token %}

            <h5 class="card-title m-0">{{ blueprint.title }}</h5>
            <p class="card-text">
                {{ blueprint.description | linebreaks }}
            </p>

            <input type="submit" class="list-item__cta ml-auto" value="{% trans 'Add module' %}" />
        </form>
    </div>
  </div>
</li>
