{% load i18n a4_candy_dashboard_tags a4dashboard_tags rules static %}

{% if project.is_draft %}
    {% include "a4dashboard/includes/progress_line.html" %}
{% else %}
    {% include "a4dashboard/includes/progress_line_done.html" %}
{% endif %}


{% if project.is_draft %}
    <button {% if not project|is_publishable:project_progress %}disabled{% endif %} class="btn btn--primary btn--full u-spacer-bottom" data-bs-toggle="modal" data-bs-target="#publish-modal">
        {% translate 'Publish' %}
    </button>
{% else %}
    <form action="{% url 'a4dashboard:project-publish' organisation_slug=project.organisation.slug project_slug=project.slug %}" method="post" data-ignore-submit="true">
        {% csrf_token %}
        <input type="hidden" name="referrer" value="{{ request.path }}" />
        <button name="action" value="unpublish" class="btn btn--light btn--full u-spacer-bottom">
            {% translate 'Unpublish' %}
        </button>
    </form>
{% endif %}

<div class="modal" tabindex="-1" role="dialog" id="publish-modal">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!-- Not using Bootstrap, but utility classes on purpose to align with component in A4 -->
                {% if project.is_draft %}
                    <h2 className="u-no-margin-bottom u-spacer-top-one-half">
                        {% translate 'Publish' %}
                    </h2>
                {% else %}
                    <h2 className="u-no-margin-bottom u-spacer-top-one-half">
                        {% translate 'Unpublish' %}
                    </h2>
                {% endif %}
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="{% translate 'Close'%}">
                    <i class="fas fa-times" aria-hidden="true"></i>
                </button>
            </div>
            <div class="modal-body">
                {% translate "Are you sure you want to publish your project?" %}
                {% if project.unpublished_modules %}
                <p>
                {% blocktranslate count counter=project.unpublished_modules.count %}One module has not been added to the project.{% plural %}{{ counter }} modules have not been added to the project.{% endblocktranslate %}
                </p>
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" class="cancel-button">{% translate 'Cancel'%}
                </button>
                <form class="submit-form" action="{% url 'a4dashboard:project-publish' organisation_slug=project.organisation.slug project_slug=project.slug %}" method="post" data-ignore-submit="true">
                    {% csrf_token %}
                    <input type="hidden" name="referrer" value="{{ request.path }}" />
                    <button name="action" value="publish" class="submit-button">
                    {% translate 'Publish' %}
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
