{% extends "a4_candy_account/account_dashboard.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block title %}{% translate 'Email Addresses' %} &mdash; {{ block.super }}{% endblock %}

{% block dashboard_content %}
<h1 class="mt-0">{% translate 'Email Addresses' %}</h1>

<section>
    <h2>{% translate 'Main Email' %}</h2>
    <span>{{ user.email }}</span>
    <span class="badge">{% translate "Primary" %}</span>
    <span class="badge">{% translate "Verified" %}</span>
</section>

{% if user.emailaddress_set.all|length > 1 %}
<section>
    <h2 class="bg--top-border">{% translate 'Other Emails' %}</h2>
    {% for emailaddress in user.emailaddress_set.all %}
        {% if not emailaddress.primary %}
            <form class="multiform" action="{% url 'account_email' %}?next={{ request.path|urlencode }}" method="post">
                {% csrf_token %}
                <input type="hidden" name="email"
                       value="{{emailaddress.email}}" >
                {{ emailaddress.email }}
                {% if emailaddress.verified %}
                <span class="badge mb-3">{% translate "Verified" %}</span>
                {% else %}
                <span class="badge mb-3">{% translate "Unverified" %}</span>
                {% endif %}
                <ul class="u-list-reset">
                {% if not emailaddress.primary and emailaddress.verified %}
                    <li class="d-inline"><button class="btn btn--primary" type="submit" name="action_primary">{% translate 'Make Primary' %}</button></li>
                {% endif %}
                {% if not emailaddress.verified %}
                    <li class="d-inline"><button class="btn btn--light" type="submit" name="action_send">{% translate 'Re-send Verification' %}</button></li>
                {% endif %}
                {% if not emailaddress.primary %}
                    <li class="d-inline"><button class="btn btn--light" type="submit" name="action_remove" >{% translate 'Remove' %}</button></li>
                {% endif %}
                </ul>
            </form>
        {% endif %}
    {% endfor %}
</section>
{% endif %}

<section>
    <form class="multiform bg--top-border" method="post" action="{% url 'account_email' %}">
        {% csrf_token %}
        {% if form.non_field_errors %}
        <div class="form-errors">
            {% for error in form.non_field_errors %}
            <p class="alert alert--danger">{{ error }}</p>
            {% endfor %}
        </div>
        {% endif %}

        <div class="form-group">
            <label for="{{ form.email.id_for_label }}">{% translate "Add another Email" %}</label>
            {{ form.email.errors }}
            {{ form.email|add_class:"form-control" }}
        </div>
        <div class="d-flex justify-content-end mb-3">
            <button class="btn btn--primary" name="action_add" type="submit">{% translate "Add Email" %}</button>
        </div>
    </form>
</section>
{% endblock %}
