{% extends "account/base.html" %}
{% load i18n account  %}

{% block head_title %}{% trans "Login" %}{% endblock %}

{% block content %}
    <h1>{% trans "Login" %}</h1>

    <p>{% blocktrans %}If you have not created an account yet, then please <a href="{{ signup_url }}">register</a> first.{% endblocktrans %}</p>

    <form method="POST" action="{% url 'account_login' %}" class="u-spacer-bottom-double">
        {{ form.non_field_errors }}
        {% csrf_token %}

        <div class="form-group">
            {% include 'a4_candy_contrib/includes/form_field.html' with field=form.login %}
            {% include 'a4_candy_contrib/includes/form_field.html' with field=form.password %}
            {% include 'a4_candy_contrib/includes/form_checkbox_field.html' with field=form.remember %}
        </div>

        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}

        <div class="row">
            <div class="col-12 mb-3">
            <button class="btn btn--primary" type="submit">{% trans "Login" %}</button>
            </div>
            <div class="col-12 mb-3">
            <a class="btn btn--link" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            </div>
        </div>
    </form>

    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
{% endblock %}
