{% extends "account/base.html" %}
{% load i18n account signup_flow %}

{% block head_title %}{% translate "Login" %}{% endblock head_title %}

{% block content %}
    {% guest_url as guest_url_value %}
    <h1>{% translate "Login" %}</h1>

    <p>
        {% blocktranslate %}Would you like to create an account? Then <a href="{{ signup_url }}">click here</a>.{% endblocktranslate %}
        </br>
        {% blocktranslate %}Would you like to proceed as a guest? Then <a href="{{ guest_url_value }}">click here</a>.{% endblocktranslate %}
    </p>

    <form method="post" action="{% url 'account_login' %}" class="account-auth-form u-spacer-bottom-double">
        {{ form.non_field_errors }}
        {% csrf_token %}

        <div class="form-group">
            {% include 'a4_candy_contrib/includes/form_field.html' with field=form.login %}
            {% include 'a4_candy_contrib/includes/form_field.html' with field=form.password %}
            {% include 'a4_candy_contrib/includes/form_checkbox_field.html' with field=form.remember %}
        </div>

        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}

        <div class="account-auth-form__actions">
            <button class="btn btn--black" type="submit">{% translate "Login" %}</button>
            <a class="btn btn--secondary proceed-guest-button" href="{{ guest_url_value }}">{% translate "Or continue as a guest" %}</a>
        </div>
        <div class="mb-3">
            <a class="btn btn--link" href="{% url 'account_reset_password' %}">{% translate "Forgot Password?" %}</a>
        </div>
    </form>

    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
{% endblock content %}
