{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Settings" %} &mdash; {{ block.super }}{% endblock%}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10 col-lg-8 offset-md-1 offset-lg-2">
            <h1>{% trans "Edit your organisation information" %}</h1>

            <form enctype="multipart/form-data" action="{{ request.path }}" method="post">
                {% csrf_token %}
                <h2>{{ object.name }}</h2>
                {% include 'a4_candy_contrib/includes/form_field.html' with field=form.title %}
                {% include 'a4_candy_contrib/includes/form_field.html' with field=form.logo %}
                {% include 'a4_candy_contrib/includes/form_field.html' with field=form.description %}
                {% include 'a4_candy_contrib/includes/form_field.html' with field=form.slogan %}
                {% include 'a4_candy_contrib/includes/form_field.html' with field=form.url %}
                {% include 'a4_candy_contrib/includes/form_field.html' with field=form.image %}
                {% include 'a4_candy_contrib/includes/form_field.html' with field=form.image_copyright %}
                {% include 'a4_candy_contrib/includes/form_field.html' with field=form.information %}
                {% include 'a4_candy_contrib/includes/form_field.html' with field=form.imprint %}

                <div class="u-spacer-bottom">
                    <button type="submit" class="btn btn--primary">{% trans 'Save changes'%}</button>
                </div>
            </form>
            {{ form.media }}
        </div>
    </div>
</div>
{% endblock %}
