{% extends 'base.html' %}
{% load humanize i18n rules thumbnail %}

{% block title %}{{organisation.name}}{% endblock %}

{% block social_meta_image %}
{% if organisation.image %}
<meta name="twitter:image" content="{% thumbnail organisation.image "1500x610" crop %}">
<meta name="linkedin:image" content="{% thumbnail organisation.image "1500x610" crop %}">
<meta property="og:image" content="{% thumbnail organisation.image "1500x610" crop %}">
<meta property="og:image:width" content="1500">
<meta property="og:image:height" content="610">
{% endif %}
{% endblock %}

{% block social_meta_description %}
{% if organisation.description %}
<meta name="twitter:description" content="{{ organisation.description }}">
<meta name="linkedin:description" content="{{ organisation.description }}">
<meta property="og:description" content="{{ organisation.description }}">
{% endif %}
{% endblock %}

{% block super_content %}
    <div class="hero-unit" style="background-image: url({% thumbnail organisation.image "1500x610" crop %});">
      {% if organisation.image_copyright %}
      <div class="header__copyright copyright">© {{ organisation.image_copyright }}</div>
      {% endif %}
    </div>

    {% if organisation.logo %}
    <div class="container">
        <div class="organisation__logo-box">
            <img src="{% thumbnail organisation.logo '0x160' %}" height="80" alt="{{ organisation.name }}" class="organisation__logo-img" />
        </div>
    </div>
    {% endif %}

    <div class="container organisation__header">
        <div class="row">
            <div class="col">
                <h1 class="marked-box">{{ organisation.title }}</h1>
                {% if organisation.url %}
                <a class="ml-3" href="{{ organisation.url }}" target="_blank">
                    <i class="fas fa-external-link-alt" aria-label="{{ organisation.title }} {% trans 'Opens in new window' %}"></i>
                </a>
                {% endif %}
                <div class="row">
                    <div class="col">
                        <h3>{{ organisation.slogan }}</h3>
                    </div>
                </div>
                <div class="l-two-col organisation__description">
                    {{ organisation.description }}
                </div>
            </div>
        </div>
    </div>

    <div class="bg--light">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                {% if object.projects.count > 0 %}
                    <h2>{{ project_headline }}</h2>
                    {% if object.projects.count == 1 %}
                        {% has_perm 'a4_candy_projects.view_project' request.user object.projects.0 as can_view_project %}
                        {% if can_view_project  %}
                            {% include 'a4_candy_projects/includes/project_list_tile.html' with project=object.projects.0 orientation='horizontal' %}
                        {% endif %}
                    {% else %}
                        <ul class="l-tiles-2">
                            {% if active_projects %}
                            {% for project in active_projects %}
                                {% include 'a4_candy_projects/includes/project_list_tile.html' with project=project orientation='vertical' %}
                            {% endfor %}
                            {% endif %}

                            {% if future_projects %}
                            {% for project in future_projects %}
                                {% include 'a4_candy_projects/includes/project_list_tile.html' with project=project orientation='vertical' %}
                            {% endfor %}
                            {% endif %}

                            {% if past_projects %}
                            {% for project in past_projects %}
                                {% include 'a4_candy_projects/includes/project_list_tile.html' with project=project orientation='vertical' status='past' %}
                            {% endfor %}
                            {% endif %}
                        </ul>
                    {% endif %}
                {% else %}
                    {% if organisation.information %}
                        {% url 'account_login' as account_login_url %}
                        {% url 'organisation' organisation_slug=organisation.slug as organisation_url %}
                        {% url 'organisation-information' organisation_slug=organisation.slug as organisation_information_url %}
                        <p>{% blocktrans %}Currently, there are no public participation processes. Sign in <a href="{{ account_login_url }}?next={{ organisation_url }}">here</a> or read more in <a href="{{ organisation_information_url }}">About</a>.{% endblocktrans %}</p>
                    {% else %}
                        {% url 'account_login' as account_login_url %}
                        {% url 'organisation' organisation_slug=organisation.slug as organisation_url %}
                        <p>{% blocktrans %}Currently, there are no public participation processes. Sign in <a href="{{ account_login_url }}?next={{ organisation_url }}">here</a>.{% endblocktrans %}</p>
                    {% endif %}
                {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
