{% extends 'base.html' %}
{% load thumbnail i18n humanize rules %}

{% block title %}{{organisation.name}}{% endblock %}

{% block social_meta_image %}
{% if organisation.image %}
<meta name="twitter:image" content="{% thumbnail organisation.image "1500x610" crop %}">
<meta name="linkedin:image" content="{% thumbnail organisation.image "1500x610" crop %}">
<meta property="og:image" content="{% thumbnail organisation.image "1500x610" crop %}">
<meta property="og:image:width" content="1500">
<meta property="og:image:height" content="610">
{% endif %}
{% endblock %}

{% block social_meta_description %}
{% if organisation.description %}
<meta name="twitter:description" content="{{ organisation.description }}">
<meta name="linkedin:description" content="{{ organisation.description }}">
<meta property="og:description" content="{{ organisation.description }}">
{% endif %}
{% endblock %}

{% block super_content %}
    <div class="hero-unit" style="background-image: url({% thumbnail organisation.image "1500x610" crop %});">
      {% if organisation.image_copyright %}
      <div class="header__copyright copyright">© {{ organisation.image_copyright }}</div>
      {% endif %}
    </div>

    {% if organisation.logo %}
    <div class="container">
        <div class="organisation__logo-box">
            <img src="{% thumbnail organisation.logo '0x160' %}" height="80" alt="{{ organisation.name }}" class="organisation__logo-img" />
        </div>
    </div>
    {% endif %}

    <div class="container organisation__header">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="u-no-margin marked-box">{{ organisation.title }}</h1>
                <h3 class="u-no-margin organisation__slogan">{{ organisation.slogan }}</h3>
            </div>
            <div class="col-lg-4 offset-lg-2 organisation__description">
                {{ organisation.description }}
            </div>
        </div>
    </div>

    {% if object.projects.count > 0 %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
              {% if object.projects.count == 1 %}
                {% has_perm 'a4_candy_projects.view_project' request.user object.projects.0 as can_view_project %}
                {% if can_view_project  %}
                {% include 'a4_candy_projects/includes/project_list_tile.html' with project=object.projects.0 orientation='horizontal' %}
              {% endif %}
              {% else %}
                <ul class="l-tiles-2">
                    {% if active_projects %}
                    {% for project in active_projects %}
                        {% include 'a4_candy_projects/includes/project_list_tile.html' with project=project orientation='vertical' %}
                    {% endfor %}
                    {% endif %}

                    {% if future_projects %}
                    {% for project in future_projects %}
                        {% include 'a4_candy_projects/includes/project_list_tile.html' with project=project orientation='vertical' %}
                    {% endfor %}
                    {% endif %}

                    {% if past_projects %}
                    {% for project in past_projects %}
                        {% include 'a4_candy_projects/includes/project_list_tile.html' with project=project orientation='vertical' status='past' %}
                    {% endfor %}
                    {% endif %}
                </ul>
        {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}
