{% extends 'base.html' %}
{% load thumbnail i18n humanize %}

{% block title %}{{organisation.name}}{% endblock %}

{% block super_content %}
    <div class="hero-unit" style="background-image: url({% thumbnail organisation.image "1500x610" crop %});"></div>

    {% if organisation.logo %}
    <div class="container">
        <div class="organisation__logo-box">
            <img src="{% thumbnail organisation.logo '0x160' %}" height="80" alt="{{ organisation.name }}" class="organisation__logo-img" />
        </div>
    </div>
    {% endif %}

    <div class="container organisation__header">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="u-no-margin marked-box">{{ organisation.title }}</h1>
                <h3 class="u-no-margin organisation__slogan">{{ organisation.slogan }}</h3>
            </div>
            <div class="col-lg-4 offset-lg-2 organisation__description">
                {{ organisation.description }}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="l-col-8-0">
                <ul class="u-list-reset">
                    {% for project in project_list %}
                        <li>
                            {% include 'a4_candy_projects/includes/project_list_tile.html' with project=project %}
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <aside class="l-col-4-8 aside">
                <div class="aside__block">
                    <h3 class="aside__block__title heading3">{% trans 'Activity' %}</h3>
                    <div>
                        {% for action in action_list %}
                            {% include 'a4_candy_actions/includes/action.html' with action=action %}
                        {% empty %}
                            {% trans 'No activity yet. '%}
                        {% endfor %}
                    </div>
                </div>
            </aside>
        </div>
    </div>
{% endblock %}
