{% load userindicator static i18n thumbnail %}
{% get_current_language as LANGUAGE_CODE %}

<div class="main-header__lang">
    {% get_available_languages as languages %}
    {% for lang_code, lang_name in languages %}
        {% if lang_code != LANGUAGE_CODE %}
            {% get_language_info for lang_code as lang %}
                <form class="lang__switch" action="{% url 'set_language' %}" method="post">{% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}" />
                    <input name="language" type="hidden" value="{{ lang_code }}">
                    {% if LANGUAGE_CODE == 'de' %}
                    <a class="lang__btn--left active" aria-label="{% trans 'German language selected' %}" role="button">de</a><button class="lang__btn--right" type="submit" aria-label="{% trans 'select English language' %}">en</button>
                    {% else %}
                    <button class="lang__btn--left" aria-label="{% trans 'select German language' %}" type="submit">de</button><a class="lang__btn--right active"  role="button" aria-label="{% trans 'English language selected' %}">en</a>
                    {% endif %}
                </form>
        {% endif %}
    {% endfor %}
</div>
