{% load userindicator static i18n thumbnail %}

    <ul class="nav d-inline-block d-md-none" role="tablist">
        <li class="nav-item dropdown">
          <a
              class="nav-link dropdown-toggle tab active me-2"
              data-bs-toggle="dropdown"
              href="#"
              role="button"
              aria-haspopup="true"
              aria-expanded="false">
              {% translate 'Project' %}
              <i class="fa fa-caret-down" aria-hidden="true"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-end">
              <a
                  id="tab-project-{{ project.pk }}-information"
                  class="dropdown-item"
                  data-bs-toggle="tab"
                  href="#tabpanel-project-{{ project.pk }}-information"
                  role="tab"
                  aria-controls="tabpanel-project-{{ project.pk }}-information"
                  aria-expanded="false">
                  {% translate 'Information' %}
              </a>
              <a
                  id="tab-project-{{ project.pk }}-participation"
                  class="dropdown-item active"
                  data-bs-toggle="tab"
                  href="#tabpanel-project-{{ project.pk }}-participation"
                  role="tab"
                  aria-controls="tabpanel-project-{{ project.pk }}-participation"
                  aria-expanded="true">
                  {% translate 'Participation' %}
              </a>
              <a
                  id="tab-project-{{ project.pk }}-result"
                  class="dropdown-item"
                  data-bs-toggle="tab"
                  href="#tabpanel-project-{{ project.pk }}-result"
                  role="tab"
                  aria-controls="tabpanel-project-{{ project.pk }}-result"
                  aria-expanded="false">
                  {% translate 'Result' %}
              </a>
          </div>
        </li>
    </ul>
