{% extends "base.html" %}
{% load i18n react_comments_async module_tags react_ratings wagtailcore_tags thumbnail %}

{% block title %}{{object.name}} &mdash; {{ block.super }}{% endblock %}
{% block content %}
<div class="u-bg-light py-5">
    <div class="container u-bg-light">
        <div class="col-12 container--shadow">
            <div class="row">
                <div class="col-md-10 col-lg-8 offset-md-1 offset-lg-2 pt-5">
                    <div class="row py-4">
                        <div class="offset-6 col-sm-3 offset-sm-9 position-relative header-lower__position--right">
                            {% include 'header_lower.html' with organisation=module.project.organisation %}
                        </div>
                    </div>

                    <nav class="breadcrumbs" aria-label="{% trans 'breadcrumbs' %}">
                        <ul>
                            <li>
                                <a href="{{ module.get_detail_url }}">
                                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                                    {% trans 'go back' %}
                                </a>
                            </li>
                        </ul>
                    </nav>

                    <div class="item-detail">
                        <h1 class="item-detail__title">{{ object.name }}</h1>
                        <p class="item-detail__description">{{ object.description }}</p>

                        {% react_comments_async object True %}
                    </div>
                </div>
            </div>
            {% include 'footer_upper.html' with organisation=module.project.organisation %}
        </div>
    </div>
</div>
{% endblock %}
