{% extends "base.html" %}
{% load i18n rules react_comments_async_with_categories module_tags react_ratings wagtailcore_tags thumbnail %}

{% block title %}{{object.name}} &mdash; {{ block.super }}{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10 col-lg-8 offset-md-1 offset-lg-2 pt-5">
            <nav class="breadcrumbs" aria-label="{% trans 'breadcrumbs' %}">
                <ul>
                    <li>
                        <a href="{{ module.get_detail_url }}">
                            <i class="fa fa-arrow-left" aria-hidden="true"></i>
                            {% trans 'go back' %}
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="item-detail">
                <h1 class="item-detail__title">{{ object.name }}</h1>
                <div class="item-detail__meta lr-bar">
                    <div class="lr-bar__right">
                        <strong>{% trans 'Reference No.' %}:</strong>
                        {{ object.reference_number }}
                    </div>
                </div>
                {% react_comments_async_with_categories object %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
