{% load i18n static %}
{% block extra_css %}
    <link type="text/css"
          href="{% static 'learning_sidebar.css' %}"
          rel="stylesheet" />
{% endblock extra_css %}
<noscript>
    <a href="{% url 'learning_nuggets:index' %}"
       class="learning-toggle__noscript">{% translate 'Go to Learning Center' %}</a>
</noscript>
<div id="learning-sidebar-backdrop"
     class="learning-sidebar__backdrop"
     aria-hidden="true"></div>
<div id="learning-sidebar"
     class="learning-sidebar"
     role="dialog"
     aria-modal="true"
     aria-hidden="true"
     aria-label="{% translate 'Learning Center' %}">
    <div class="u-page-ribbon" aria-hidden="true"></div>
    <button id="learning-close"
            class="learning-sidebar__close"
            type="button"
            aria-label="{% translate 'Close' %}">
        <i class="fas fa-times" aria-hidden="true"></i>
    </button>
    <div id="learning-content" class="learning-sidebar__content"></div>
</div>
{% block extra_js %}
    <script type="text/javascript" src="{% static 'learning_sidebar.js' %}"></script>
{% endblock extra_js %}
