<!DOCTYPE html>
{% load i18n static organisation_tags wagtailuserbar absolute_url %}
{% get_current_language as LANGUAGE_CODE %}
{% get_current_organisation as ORGANISATION %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% block title %}Beteiligung.in{% if ORGANISATION %}/{{ ORGANISATION.name }}{% endif %}{% endblock %}</title>
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'images/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor.css' %}" />
    {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
    {% endblock %}
    {% block social_meta %}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="what title">
    <meta name="twitter:description" content="what content?">
    <meta name="twitter:image" content="{% get_absolute_uri_static obj='images/logo.png' %}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:title" content="Adhocracy+">
    <meta property="og:description" content="Content">
    <meta property="og:image" content="{% get_absolute_uri_static obj='images/logo.png' %}">
    <meta property="og:image:width" content="360">
    <meta property="og:image:height" content="129">
    {% endblock %}
    {% if ORGANISATION %}
        <link rel="stylesheet" type="text/css" href="{% static 'adhocracy4.css' %}" />
    {% else %}
        <link rel="stylesheet" type="text/css" href="{% static 'platform.css' %}" />
    {% endif %}
    <script src="{% url 'javascript-catalog' %}"></script>
    <script src="{% static 'vendor.js' %}"></script>
    <script src="{% static 'adhocracy4.js' %}"></script>
    <meta name="viewport" content="width=device-width" />
    {% if request.user.is_authenticated %}
    <script>
        // if this was opened from an embed for login, notify it about success
        if (window.opener) {
            window.opener.postMessage(
                JSON.stringify({name: "popup-close",}),
                location.origin
            )
        }
    </script>
    {% endif %}

    {% block extra_js %}
        {# Override this in templates to add extra javascript #}
    {% endblock %}
</head>
<body>
    {% wagtailuserbar %}
    <div class="content__wrapper d-flex flex-column">
        <a href="#main" class="sr-only sr-only-focusable">{% trans "Skip to content "%}</a>

        {% block header %}
        {% include 'header.html' %}
        {% endblock %}

        <main id="main" class="flex-fill">

            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li class="alert alert--{{ message.tags }}">
                    <div class="l-wrapper">
                        {{ message }}
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% endif %}

            {% block extra_messages %}{% endblock %}

            {% block super_content %}
                {% block content %}{% endblock %}
            {% endblock %}

        </main>

        {% block before_footer %}{% endblock %}
        {% block footer %}
        {% include 'footer.html' %}
        {% endblock %}
    </div>
</body>
</html>
