{% load static %}

<footer class="footer">
    <div class="l-wrapper">
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="#" class="nav__link">Impressum</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link">Hilfe</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link">Facebook</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link">Twitter</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link">Flickr</a>
                </li>
            </ul>
            <p>Powered by Adhocracy4</p>
        </nav>
    </div>
</footer>
