{% load i18n static %}

<footer class="footer">
    <div class="row">
        <div class="col-md-6">
            <p>
                {% blocktrans %}Beteiligung.in is a platform provided by Liquid Democracy e.V. in Berlin. Only the respective operator of the offer is responsible for the editorial content.{% endblocktrans %}
            </p>
        </div>
        <div class="col-md-6">
            <a class="btn btn--transparent" href="https://creativecommons.org/licenses/by-sa/4.0/">OPEN CONTENT CC-BY-SA</a>
            <a class="btn btn--transparent" href="https://github.com/liqd/a4-product">OPEN SOURCE AGPLv3</a>
        </div>
        <nav class="navi">
            {%  with pages=settings.a4_candy_cms_settings.ImportantPages %}
            <ul class="navi__list">
                {% if pages.imprint %}
                <li class="navi__item footer__link">
                    <a href="{{ pages.imprint.url }}" class="navi__link">{% trans 'Imprint' %}</a>
                </li>
                {% endif %}
                {% if pages.terms_of_use %}
                <li class="navi__item footer__link">
                    <a href="{{ pages.terms_of_use.url }}" class="navi__link">{% trans 'Terms of use' %}</a>
                </li>
                {% endif %}
                {% if pages.data_protection_policy %}
                <li class="navi__item footer__link">
                    <a href="{{ pages.data_protection_policy.url }}" class="navi__link">{% trans 'Data protection policy' %}</a>
                </li>
                {% endif %}
            </ul>
            {% endwith %}
        </nav>
    </div>
</footer>
