{% load userindicator static i18n %}

<header class="header header--platform" aria-label="{% trans 'Platform header' %}">
    <div class="l-wrapper">
        <nav class="navi">
            <div class="header__brand">
            {% spaceless %}
                <a href="/" class="navi__link">Beteiligen.in</a>
                {% if partner %}<span class="header__brand__partner">/<span class="marked">{{ partner.name }}</span></span>{% endif %}
            {% endspaceless %}
            </div>
            <div class="header__user">
                {% userindicator %}
            </div>
        </nav>
    </div>
</header>
