{% load i18n userindicator %}
{% get_current_language as LANGUAGE_CODE %}

<div class="u-page-ribbon u-page-ribbon--platform"></div>
<header class="main-header" aria-label="{% trans 'Header' %}">
    <nav class="navbar">
        <div class="navbar-brand mr-auto d-flex">
        {% spaceless %}
            <a href="{% if view.organisation %}{% url 'organisation' organisation_slug=view.organisation.slug %}{% else %}/{% endif %}" class="platform-brand__link navbar-brand">{% if view.organisation %}{{ view.organisation.name }}{% else %}adhocracy +{% endif %}</a>
        {% endspaceless %}
        </div>

        <div class="main-header__lang">
            {% get_available_languages as languages %}
            {% for lang_code, lang_name in languages %}
                {% if lang_code != LANGUAGE_CODE %}
                    {% get_language_info for lang_code as lang %}
                        <form class="lang__switch" action="{% url 'set_language' %}" method="post">{% csrf_token %}
                            <input name="next" type="hidden" value="{{ redirect_to }}" />
                            <input name="language" type="hidden" value="{{ lang_code }}">
                            {% if LANGUAGE_CODE == 'de' %}
                            <a class="lang__btn--left" role="button">de</a><button class="lang__btn--right" type="submit">en</button>
                            {% else %}
                            <button class="lang__btn--left" type="submit">de</button><a class="lang__btn--right" role="button">en</a>
                            {% endif %}
                        </form>
                {% endif %}
            {% endfor %}
        </div>

        <div class="main-header__menu main-header__menu--platform collapse" id="main-header-collapse">
            <div class="main-header__user">
                {% userindicator %}
            </div>
        </div>

        <button class="navbar-toggler btn btn--square btn--small btn--transparent main-header__mobile-toggle main-header__mobile-toggle--platform" data-toggle="collapse" data-target="#main-header-collapse" aria-expanded="false" aria-controls="main-header-collapse">
        </button>
    </nav>
</header>
