{% load userindicator static i18n thumbnail %}
{% get_current_language as LANGUAGE_CODE %}

<header class="main-header" aria-label="{% trans 'Header' %}">
    <div class="u-page-ribbon"></div>
    <div class="container u-position-relative">
        <div class="main-header__brand">
            {% include 'includes/header_logo_link.html' %}
        </div>
        <nav class="main-header__nav">
            {% include 'includes/header_language_switch.html' %}
            <div class="main-header__mobile-menu {% if not ORGANISATION %}main-header__mobile-menu--platform{% endif %} collapse" id="main-header-collapse">
                <div class="main-header__user">
                    {% userindicator %}
                </div>
            </div>
            {% include 'includes/header_mobile_toggle.html' %}
        </nav>
    </div>
</header>
