{% load userindicator static i18n %}

<header class="header header--platform">
    <div class="l-wrapper">
        <nav class="nav">
            <div class="header__brand">
            {% spaceless %}
                <a href="/" class="nav__link">Beteiligen.in</a>
                {% if partner %}<span class="header__brand__partner">/{{ partner.name }}</span>{% endif %}
            {% endspaceless %}
            </div>
            <div class="header__user">
                {% userindicator %}
            </div>
        </nav>
    </div>
</header>
