.icon {
    transition: transform 0.2s;
}
  
.icon:hover {
    transform: scale(1.2);
    
}

.vote {
    color:midnightblue;
}

.vote-container{
  padding: 10px;
  border-radius: 8px; /* Optional: Adds rounded corners */
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); /* Highlighted border effect */
  align-items: center;
  text-align: center;
  max-width: fit-content;
}