{% load i18n discovery_tags static maps_tags module_tags contrib_tags %}
<span class="map-list-view">
    <div class="view-toggle l-top-overlap" id="index">
        <div class="row">
            <div class="col-md-10 col-lg-8 offset-md-1 offset-lg-2">
                {% include "a4_candy_contrib/includes/map_filter_and_sort.html" with filter=view.filter mode=view.mode %}
            </div>
        </div>
    </div>

    <div class="map-list list-view {% if view.mode == 'list' %}mobile-hide{% endif %}" id="map-view">
        <div class="map-list__controls">
            <div class="container">
                <div class="leaflet-control-zoom leaflet-bar leaflet-control mt-4 mt-md-0">
                    <a class="leaflet-control-zoom-in" id="zoom-in" href="#" title="{% translate 'Zoom in' %}">+</a>
                    <a class="leaflet-control-zoom-out leaflet-disabled" id="zoom-out" href="#" title="{% translate 'Zoom out' %}">-</a>
                </div>
            </div>
        </div>
        {% if object_list %}
        {% if object_list.0|has_feature:"rate" %}
            {% map_display_points object_list module.settings_instance.polygon %}
        {% else %}
            {% map_display_points object_list module.settings_instance.polygon 'true' %}
        {% endif %}
        {% else %}
        {% map_display_points object_list module.settings_instance.polygon %}
        {% endif %}
    </div>

    <div class="list-view {% if view.mode != 'list' %}mobile-hide{% endif %}" id="list-view">
        <div class="row">
            <div class="col-md-10 col-lg-8 offset-md-1 offset-lg-2">
                <div class="filter-bar__spaced">
                    {% for field in filter.form %}
                    {% if field.name != 'ordering' %}
                    <div class="me-1 mt-2">
                        {{ field }}
                    </div>
                    {% endif %}
                    {% endfor %}
            
                    <div class="ms-sm-auto mt-2">
                        {{ filter.form.ordering }}
                    </div>
                </div>
            
                <ul class="u-list-reset">
                    {% for object in paginated_list %}
                        {% include "a4_candy_mapideas/includes/mapidea_list_item.html" with object=object %}
                    {% empty %}
                        {% translate "Nothing to show" %}
                    {% endfor %}
                </ul>

                {% include "a4_candy_contrib/includes/pagination.html" %}
            </div>
        </div>
    </div>
</span>

