{% extends extends %}
{% load i18n module_tags rules static maps_tags pagination %}

{% block phase_content %}
    <div class="l-top-overlap" id="index">
        <div class="row">
            <div class="col-md-10 col-lg-8 offset-md-1 offset-lg-2">
                {% include "a4_candy_contrib/includes/filter_and_sort.html" with filter=view.filter %}
            </div>
        </div>
    </div>
    <div class="bg--light">
        <div class="row">
            <div class="col-md-10 col-lg-8 offset-md-1 offset-lg-2">
                <ul class="u-list-reset">
                    {% for object in object_list %}
                        {% include "a4_candy_topicprio/includes/topic_list_item.html" with object=object %}
                    {% empty %}
                        {% translate "Nothing to show" %}
                    {% endfor %}
                </ul>

                {% if page_obj.paginator.num_pages > 1 %}
                    <div class="mt-4">
                        {% pagination page_obj %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
