{% extends 'base.html' %}
{% load thumbnail i18n humanize %}

{% block title %}{{partner.name}}{% endblock %}

{% block super_content %}
    <div class="hero-unit" style="background-image: url({% thumbnail partner.image "1500x610" crop %});"></div>

    <div class="l-wrapper partner-header">
        <div class="l-col-6-0">
            <h1 class="u-no-margin"><span class="marked marked__multiple_lines">{% trans 'participation platform for' %}</span> <span class="marked marked__multiple_lines">{{ partner.name }}</span></h1>
            <h2 class="u-no-margin partner-slogan">{{ partner.slogan }}</h2>
        </div>
        <div class="l-col-5-7">
            {{ partner.description }}
        </div>
    </div>

    <div class="l-wrapper">
        <div class="l-col-9-0">
            <ul class="u-list-reset">
                {% for project in project_list %}
                    <li>
                        {% include 'meinberlin_projects/includes/project_list_tile.html' with project=project %}
                    </li>
                {% endfor %}
            </ul>
        </div>

        <aside class="l-col-3-9 aside">
            <div class="aside__block">
                <h2 class="aside__block__title heading3">{% trans 'Activity' %}</h2>
                <div>
                    {% for action in action_list %}
                        {% include 'meinberlin_actions/includes/action.html' with action=action %}
                    {% empty %}
                        {% trans 'No activity yet. '%}
                    {% endfor %}
                </div>
            </div>
        </aside>
    </div>
{% endblock %}
