{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Settings" %} &mdash; {{ block.super }}{% endblock%}

{% block content %}
<div class="l-wrapper">
    <div class="l-center-8">
        <h1>{% trans "Edit your organisation information" %}</h1>

        <form enctype="multipart/form-data" action="{{ request.path }}" method="post">
            {% csrf_token %}
            <h2>{{ object.name }}</h2>
            {% include 'liqd_product_contrib/includes/form_field.html' with field=form.title %}
            {% include 'liqd_product_contrib/includes/form_field.html' with field=form.logo %}
            {% include 'liqd_product_contrib/includes/form_field.html' with field=form.description %}
            {% include 'liqd_product_contrib/includes/form_field.html' with field=form.slogan %}
            {% include 'liqd_product_contrib/includes/form_field.html' with field=form.image %}
            {% include 'liqd_product_contrib/includes/form_field.html' with field=form.information %}
            {% include 'liqd_product_contrib/includes/form_field.html' with field=form.imprint %}

            <div class="u-spacer-bottom">
                <button type="submit" class="btn btn--primary">{% trans 'Save changes'%}</button>
            </div>
        </form>
        {{ form.media }}
    </div>
</div>
{% endblock %}
