{% extends 'base.html' %}

{% load static i18n thumbnail %}

{% block after_header %}
<header class="header">
    <div class="l-wrapper">
        <nav class="nav">
            <a href="/" class="nav__logo" rel="home">
                <img src="{% thumbnail partner.logo '300x300' %}" width="150" height="150" alt="{{ partner.name }}" />
                <span aria-hidden="true">{{ partner.name }}</span>
            </a>
            <button class="button button--light nav__toggle" data-toggle="collapse" data-target="#menu-collapse" aria-expanded="false" aria-controls="menu-collapse">
                <i class="fa fa-bars" aria-hidden="true"></i>
                {% trans 'Menu' %}
            </button>
            <div class="nav__menu-wrapper collapse" id="menu-collapse">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="#" class="nav__link">Beteiligen</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">Blog</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">Veranstaltungen</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">Über uns</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
{% endblock %}

