{% extends "base_cms.html" %}
{% load wagtailcore_tags wagtailimages_tags i18n absolute_url %}

{% block title %}
    {{ self.title }} &mdash; {{ block.super }}
{% endblock %}

{% block social_meta %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Adhocracy+ | {{ page.title }}">
    <meta name="twitter:description" content="{{ category }}">

    {% if page.image %}
    {% image page.image fill-400x400 as image %}
    <meta property="og:image" content="{{ image.url }}" />
    <meta property="og:image:width" content="400">
    <meta property="og:image:height" content="400">
    <meta name="twitter:image" content="{{ image.url }}">
    <meta name="linkedin:image" content="{{ image.url }}">
    {% else %}
    <meta property="og:image" content="{% get_absolute_uri_static obj='images/logo.png' %}">
    <meta name="twitter:image" content="{% get_absolute_uri_static obj='images/logo.png' %}">
    <meta name="linkedin:image" content="{% get_absolute_uri_static obj='images/logo.png' %}">
    <meta property="og:image:width" content="360">
    <meta property="og:image:height" content="129">
    {% endif %}

    <meta name="linkedin:title" content="Adhocracy+ | {{ page.title }}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:title" content="Adhocracy+ | {{ page.title }}">
    <meta property="og:description" content="{{ category }}">
{% endblock %}

{% block content %}
<div class="cms__wrapper pt-5">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-10">
                <div class="cms__text">
                    {% blocktrans with category=page.get_category_display %}For {{ category }}{% endblocktrans %}
                </div>
                <h1 class="cms__title--bold cms-page__header-margin">{{ page.title }}</h1>
            </div>
        </div>
        {% include 'a4_candy_cms_use_cases/includes/use_case_share_btns.html' with xs_class="" spacing="<br>" %}
        {% if page.image %}
        {% image page.image width-1200 as image %}
        <div class="row justify-content-md-center">
            <div class="col-12">
                <img src="{{ image.url }}" alt="{{ image.alt }}" class="cms-page__hero-image" />
                {% if page.image_caption %}
                <div class="mt-3 text-muted">{{ page.image_caption }}</div>
                {% endif %}
            </div>
        </div>
        {% endif %}
        <div class="row justify-content-md-center pt-5">
            <div class="col-12 col-md-10 cms__text">
                {{ page.body }}
            </div>
        </div>
    </div>
</div>
<div class="cms__wrapper mt-5 mb-3">
    <div class="container pt-5 pb-5">
        {% if other_use_cases %}
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-10">
                <h2 class="cms__title--serif cms__title--underlined text-center">
                {% blocktrans with category=page.get_category_display %}More examples for {{ category }}{% endblocktrans %}
                </h2>
            </div>
        </div>

        <div class="row justify-content-center justify-content-sm-start">
        {% for use_case in other_use_cases %}
            <div class="col-12 col-md-4 cms-use-case__tile">
                <a class="cms__tile-link" href="{% pageurl use_case %}">
                    {% if use_case.image %}
                    {% image use_case.image fill-500x350 as image %}
                    <img src="{{ image.url }}" alt="{{ image.alt }}" />
                    {% endif %}
                    <div class="cms__text pt-4 text-muted cms__text--serif">
                    {% blocktrans with category=use_case.get_category_display %}For {{ category }}{% endblocktrans %}
                    </div>
                    <h3 class="cms__title--bold">{{ use_case.title }}</h3>
                </a>
            </div>
        {% endfor %}
        </div>
        {% endif %}

        <div class="row justify-content-center">
            {% if page.get_parent.specific.demo_link %}
            <div class="col-12 col-sm-6 col-lg-5">
                <a class="btn btn--full btn--transparent" href="{{ page.get_parent.specific.demo_link }}">{% trans 'Visit Demosite' %}</a>
            </div>
            {% endif %}

            <div class="col-12 col-sm-6 col-lg-5">
                <a class="btn btn--full btn--transparent" href="{{ page.get_parent.url }}{% if other_use_cases %}?category={{ page.category }}{% endif %}">{% trans 'View more examples' %}</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
