{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags i18n absolute_url %}

{% block title %}
    {{ self.subtitle }} &mdash; {{ block.super }}
{% endblock %}

{% block social_meta %}
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ settings.a4_candy_cms_settings.OrganisationSettings.platform_name }}/{{ page.title }}">
<meta name="linkedin:title" content="{{ settings.a4_candy_cms_settings.OrganisationSettings.platform_name }}/{{ page.title }}">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:title" content="{{ settings.a4_candy_cms_settings.OrganisationSettings.platform_name }}/{{ page.title }}">
{% endblock %}

{% block social_meta_description %}
{% if page.subtitle  %}
<meta name="twitter:description" content="{{ page.subtitle }}">
<meta name="linkedin:description" content="{{ page.subtitle }}">
<meta property="og:description" content="{{ page.subtitle }}">
{% else %}
{% if settings.a4_candy_cms_settings.SocialMedia.fallback_description %}
<meta name="twitter:description" content="{{ settings.a4_candy_cms_settings.SocialMedia.fallback_description }}">
<meta name="linkedin:description" content="{{ settings.a4_candy_cms_settings.SocialMedia.fallback_description }}">
<meta property="og:description" content="{{ settings.a4_candy_cms_settings.SocialMedia.fallback_description }}">
{% endif %}
{% endif %}
{% endblock %}

{% block content %}
<div class="cms__wrapper">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <h1 class="cms__title--serif cms__title--underlined cms__title--h2-size text-center">{{ page.subtitle }}</h1>
            </div>
        </div>
        <div class="row justify-content-center">
          <!-- tablet and above category chooser-->
            <div class="d-none d-md-block col-lg-10 cms-use-case__filter mb-5">
                <div class="d-flex justify-content-between">
                {% for category in categories %}
                    <div>
                        <a class="u-no-underline" href="?category={{ category.0 }}">
                            {% if current_category and current_category == category.0 %}
                            <div class="mx-auto cms-use-case__category-square cms-use-case__category-selected-square">
                                {% with 'images/'|add:category.0|add:'-invert.svg' as category_svg %}
                                <img class="m-auto" src="{% static category_svg %}" alt="{{ category.1 }}" width="70" />
                                {% endwith %}
                                <div class="text-center pb-1 u-z-index--1 cms-use-case__category">
                                    {{ category.1 }}
                                </div>
                                <div class="cms-use-case__category-selected-arrow"></div>
                            </div>
                            {% else %}
                            {% with 'images/'|add:category.0|add:'.svg' as category_svg %}
                            <div class="mx-auto cms-use-case__category-square">
                                <img class="mx-auto" src="{% static category_svg %}" alt="{{ category.1 }}" width="70" />
                            {% endwith %}
                                <div class="text-center pb-1 cms-use-case__category">
                                    {{ category.1 }}
                                </div>
                            </div>
                            {% endif %}
                        </a>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
        <!-- mobile category chooser -->
            <div class="d-md-none col-12 col-lg-8 mb-5">
                <div class="dropdown cms-usecase__dropdown">
                    <a class="btn btn--transparent btn-block dropdown-toggle d-flex justify-content-between" href="?category={{ category.0 }}" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% if current_category %}
                          {{ get_current_category_display }}
                        {% else %}
                          <span class="text-muted">{% trans 'Choose Category' %}</span>
                        {% endif %}
                          <i class="fa fa-chevron-down" aria-hidden="true"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        {% for category in categories %}
                        <a class="dropdown-item d-flex justify-content-between" href="?category={{ category.0 }}">{{ category.1 }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center justify-content-sm-start">
            {% for use_case in use_cases %}
            <div class="col-12 col-sm-6 col-lg-4 cms-use-case__tile">
                <a class="cms__tile-link" href="{% pageurl use_case %}">
                    {% if use_case.image %}
                    {% image use_case.image fill-500x350 as image %}
                    <img src="{{ image.url }}" alt="{{ image.alt }}" />
                    {% endif %}
                    <div class="cms__text pt-4">
                        {% blocktrans with category=use_case.get_category_display %}For {{ category }}{% endblocktrans %}
                    </div>
                    <h2 class="cms__title--bold cms__title--h3-size">{{ use_case.subtitle }}
                    </h2>
                </a>
            </div>
            {% endfor %}
            {% if page.demo_link %}
            <div class="col-12 col-sm-6 col-lg-4 cms-use-case__tile cms-use-case__tile--demo text-center">
                <a class="cms__tile-link cms__tile-link--inverted h-100 d-flex flex-column justify-content-around p-4" target="_blank" href="{{ page.demo_link }}">
                    <h5 class="cms__title--bold">{% trans 'Try it out!' %}</h5>
                    <p class="cms__text">{% blocktrans with platformname=settings.a4_candy_cms_settings.OrganisationSettings.platform_name %}Instead of just reading about it, you can test all the features of {{ platformname }} yourself on our demo platform.{% endblocktrans %}</p>
                    <div class="btn btn--text-color-inverted cms__text">{% trans 'Visit the demo platform' %}</div>
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
