{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags i18n %}

{% block title %}
    {{ self.title }} &mdash; {{ block.super }}
{% endblock %}

{% block content %}

<div class="cms__wrapper">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <h1 class="cms__title--serif cms__title--underlined text-center">{{ page.subtitle }}</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-10">
                <div class="row justify-content-center">
                {% for category in categories %}
                    <a class="col-4 col-md-2" href="?category={{ category.0 }}">
                        <div class="mx-auto cms-use-case__category-image"></div>
                        <div class="text-center cms-use-case__category">
                            {{ category.1 }}
                        </div>
                    </a>
                {% endfor %}
                </div>
            </div>
        </div>
        <div class="row justify-content-center justify-content-sm-start">
                {% for use_case in use_cases %}
                    <div class="col-12 col-sm-6 col-lg-4 cms-use-case__tile">
                        <a class="cms__tile-link" href="{% pageurl use_case %}">
                            {% if use_case.image %}
                            {% image use_case.image fill-500x350 as image %}
                            <img src="{{ image.url }}" alt="{{ image.alt }}" />
                            {% endif %}
                            <div class="cms__text pt-4">
                                {% blocktrans with category=use_case.get_category_display %}In {{ category }}{% endblocktrans %}
                            </div>
                            <h3 class="cms__title--bold">{{ use_case.title }}
                            </h3>
                        </a>
                    </div>
                {% endfor %}
                {% if page.demo_link %}
                <div class="col-12 col-md-6 col-lg-4 ">
                    <a href="{{ page.demo_link }}">
                    <h2>Ich bin eine Headline</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris rhoncus dictum varius.
                    Interdum et malesuada fames ac ante ipsumprimis in faucibus. </p>
                    <div class="btn btn--transparent">Demo-Plattform ausprobieren</div>
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
