{% extends "base_cms.html" %}
{% load static wagtailcore_tags wagtailimages_tags i18n %}

{% block title %}
    {{ self.title }} &mdash; {{ block.super }}
{% endblock %}

{% block content %}

<div class="cms__wrapper">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <h1 class="cms__title--serif cms__title--underlined text-center">{{ page.subtitle }}</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-10">
                <div class="row mb-5 justify-content-center">
                {% for category in categories %}
                    <div class="col-4 col-md-2">
                        <a class="u-no-underline" href="?category={{ category.0 }}">
                            {% if current_category and current_category == category.0 %}
                            <div class="mx-auto cms-use-case__category-square cms-use-case__category-selected-square">
                                {% with 'images/'|add:category.0|add:'-invert.svg' as category_svg %}
                                <img class="mx-auto" src="{% static category_svg %}" alt="{{ category.1 }}" width="50" />
                                {% endwith %}
                                <div class="text-center pb-1 u-z-index--1 cms-use-case__category">
                                    {{ category.1 }}
                                </div>
                                <div class="cms-use-case__category-selected-arrow"></div>
                            </div>
                            {% else %}
                            {% with 'images/'|add:category.0|add:'.svg' as category_svg %}
                            <div class="mx-auto cms-use-case__category-square">
                                <img class="mx-auto" src="{% static category_svg %}" alt="{{ category.1 }}" width="50" />
                            {% endwith %}
                                <div class="text-center pb-1 cms-use-case__category">
                                    {{ category.1 }}
                                </div>
                            </div>
                            {% endif %}
                        </a>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
        <div class="row justify-content-center justify-content-sm-start">
            {% for use_case in use_cases %}
            <div class="col-12 col-sm-6 col-lg-4 cms-use-case__tile">
                <a class="cms__tile-link" href="{% pageurl use_case %}">
                    {% if use_case.image %}
                    {% image use_case.image fill-500x350 as image %}
                    <img src="{{ image.url }}" alt="{{ image.alt }}" />
                    {% endif %}
                    <div class="cms__text pt-4">
                        {% blocktrans with category=use_case.get_category_display %}In {{ category }}{% endblocktrans %}
                    </div>
                    <h3 class="cms__title--bold">{{ use_case.title }}
                    </h3>
                </a>
            </div>
            {% endfor %}
            {% if page.demo_link %}
            <div class="col-12 col-sm-6 col-lg-4 cms-use-case__tile cms-use-case__tile--demo text-center">
                <a class="cms__tile-link cms__tile-link--inverted h-100 d-flex flex-column justify-content-around p-4" target="_blank" href="{{ page.demo_link }}">
                    <h5 class="cms__title--bold">{% trans 'Try it out!' %}</h5>
                    <p class="cms__text">{% trans 'Instead of just reading about it, you can test all the features of adhocracy+ yourself on our demo platform. ' %}</p>
                    <div class="btn btn--text-color-inverted cms__text">{% trans 'Visit the demo platform' %}</div>
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
