{% extends "base.html" %}
{% load i18n %}

{% block title %}{% blocktranslate with project=participantinvite.project.name %}Project: {{ project }}{% endblocktranslate %}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-6 offset-md-2 offset-lg-3">
                <h1>{% blocktranslate with project=participantinvite.project.name %}Invitation to participate in the project "{{ project }}"?{% endblocktranslate %}</h1>
                {{ form.non_field_errors }}
                <p>
                    {% translate "For this you need an account. Please login with your account or register." %}
                </p>
                <a class="btn btn--primary" href="{% url 'account_login' %}?next={% url 'project-participant-invite-detail' organisation_slug=participantinvite.project.organisation.slug invite_token=participantinvite.token %}">{% translate "Proceed to login" %}</a>
                <a class="btn btn--light" href="{% url 'account_signup' %}?next={% url 'project-participant-invite-detail' organisation_slug=participantinvite.project.organisation.slug invite_token=participantinvite.token %}">{% translate "Register" %}</a>
            </div>
        </div>
    </div>
{% endblock %}
