{% extends 'base.html' %}
{% load contrib_tags i18n %}

{% block title %}{% translate 'Projects' %} &mdash; {{ block.super }}{% endblock %}

{% block content %}
    <div class="container">
        {% include "a4_candy_contrib/includes/filter_and_sort.html" with filter=view.filter %}

        {% filter_has_perm 'a4projects.view_project' request.user project_list as filtered_projects %}
        {% if filtered_projects|length > 0 %}
            <ul class="l-tiles-4">
                {% for project in filtered_projects %}
                    {% include "a4_candy_projects/includes/project_list_tile.html" with object=project project=project orientation='vertical' type='project' url=project.get_absolute_url %}
                {% endfor %}
            </ul>
        {% else %}
            <p>{% translate 'We could not find any projects.' %}</p>
        {% endif %}

        {% include "a4_candy_contrib/includes/pagination.html" %}
    </div>
{% endblock %}
