{% extends "a4dashboard/base_dashboard.html" %}
{% load i18n rules wagtailsettings_tags %}
{% get_settings %}

{% block dashboard_content %}
<div class="l-menu">
    <nav class="l-menu__menu" aria-label="{% trans 'Participation projects' %}">
        <div class="dashboard-nav">
            <div class="dashboard-nav__dropdown">
                {% trans "Participation projects" %}
            </div>
            <ul class="dashboard-nav__pages">
                <li class="dashboard-nav__page">
                    <a href="{% url 'a4dashboard:project-list' organisation_slug=view.organisation.slug %}"
                        class="dashboard-nav__item dashboard-nav__item--interactive {% if request.resolver_match.url_name == 'project-list' %}is-active{% endif %}">
                        {% trans "Projects" %}
                    </a>
                </li>
            </ul>
        </div>

        {% has_perm 'a4_candy_organisations.change_organisation' request.user view.organisation as user_may_change_organisation %}
        {% if user_may_change_organisation %}
            {% if settings.a4_candy_cms_settings.ImportantPages.manual_link %}
                <a href="{{ settings.a4_candy_cms_settings.ImportantPages.manual_link }}"
                   class="btn btn--light btn--full">
                    {% trans 'Manual' %}
                </a>
            {% endif %}
        {% endif %}
    </nav>


    <div class="l-menu__content">
        {% block project_list %}{% endblock %}
    </div>
</div>
{% endblock %}
