{% extends "a4dashboard/base_dashboard.html" %}
{% load i18n rules static a4_candy_dashboard_tags %}

{% block dashboard_nav %}
<div class="u-bg-secondary u-spacer-bottom-double py-3">
    <div class="container">
            <nav class="breadcrumbs" aria-label="{% translate 'breadcrumbs' %}">
                <ul>
                    <li>
                        <a href="{% url 'a4dashboard:project-list' organisation_slug=view.organisation.slug %}">
                            <i class="fa fa-arrow-left" aria-hidden="true"></i>
                            {% translate 'All projects' %}
                        </a>
                    </li>
                </ul>
            </nav>
    </div>
</div>
{% endblock %}

{% block dashboard_content %}
    {% closed_accordions project.id as closed_accordions %}
    <div class="row">
        <nav class="col-md-3 js-selector-update-dashboard" aria-label="{% translate 'Project Settings' %}">
            <div class="dashboard-nav">
                <div
                    class="dashboard-nav__dropdown{% if project.id in closed_accordions.0 %} collapsed{% endif %}"
                    id="dashboard-nav__project--{{ project.id }}"
                    data-bs-toggle="collapse"
                    href="#dashboardCollapseProj"
                    aria-expanded="{% if project.id in closed_accordions.0 %}false{% else %}true{% endif %}"
                    aria-controls="#dashboardCollapseProj"
                    data-bs-target="#dashboardCollapseProj"
                >
                    {% if project_progress.project_is_complete %}
                    <i class="fas fa-check-circle text-info" title="{% translate 'Project ready for publication' %}" aria-label="{% translate 'Project ready for publication' %}"></i>
                    {% else %}
                    <i class="fas fa-exclamation-circle text-danger" title="{% translate 'Project not ready for publication' %}" aria-label="{% translate 'Project not ready for publication' %}"></i>
                    {% endif %}
                    {{ project.name }}
                    <i class="fa fa-chevron-up" aria-hidden="true"></i>
                </div>
                <ul class="dashboard-nav__pages collapse{% if not project.id in closed_accordions.0 %} show{% endif %}" id="dashboardCollapseProj" aria-hidden="false">
                    {% for item in dashboard_menu.project %}
                        <li class="dashboard-nav__page">
                            <a href="{{ item.url }}"
                               class="dashboard-nav__item dashboard-nav__item--interactive {{ item.is_active|yesno:"is-active," }}">
                                 {% if not item.is_complete %}
                                     <i class="fa fa-exclamation-circle text-danger" title="{% translate 'Missing fields for publication' %}" aria-label="{% translate 'Missing fields for publication' %}"></i>
                                 {% endif %}
                                {{ item.label }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            {% for module_menu in dashboard_menu.modules %}
            <div class="btn-group d-flex" role="group">
                {% if module_menu.module.is_draft %}
                <div class="btn btn--none px-0 dropdown dashboard-nav__module-dropdown">
                    <button class="dropdown-toggle" id="dashboardModuleMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dashboardModuleMenu">
                      <a class="p-0" href="#">
                        <form enctype="multipart/form-data" action="{% url 'a4dashboard:module-delete' slug=module_menu.module.slug organisation_slug=project.organisation.slug %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="referrer" value="{{ request.path }}" />
                        <button type="submit" class="btn btn--none" value="{% translate 'Delete' %}">
                            {% translate 'Delete' %}
                        </button>
                        </form>
                      </a>
                    </div>
                </div>
                {% endif %}
                <div class="dashboard-nav">
                    <div
                        class="dashboard-nav__dropdown{% if module_menu.module.pk in closed_accordions.1 %} collapsed{% endif %}"
                        id="dashboard-nav__module--{{ module_menu.module.pk }}"
                        data-bs-toggle="collapse"
                        href="#dashboardCollapse_{{ forloop.counter }}"
                        aria-expanded="{% if module_menu.module.pk in closed_accordions.1 %}false{% else %}true{% endif %}"
                        aria-controls="#dashboardCollapse_{{ forloop.counter }}"
                        data-bs-target="#dashboardCollapse_{{ forloop.counter }}"
                    >
                      {% if module_menu.is_complete %}
                          <i class="fas fa-check-circle text-info" title="{% translate 'Module ready for addition' %}" aria-label="{% translate 'Module ready for addition' %}"></i>
                      {% else %}
                          <i class="fas fa-exclamation-circle text-danger" title="{% translate 'Module not ready for addition' %}" aria-label="{% translate 'Module not ready for addition' %}"></i>
                      {% endif %}
                      {{ module_menu.module.name }}
                      <i class="fa fa-chevron-up {% if module_menu.module.is_draft %}dashboard-nav-i-spacer{% endif %}" aria-hidden="true"></i>
                    </div>

                    <ul class="dashboard-nav__pages collapse{% if not module_menu.module.pk in closed_accordions.1 %} show{% endif %}" id="dashboardCollapse_{{ forloop.counter }}" aria-hidden="false">
                        {% for item in module_menu.menu %}
                            <li class="dashboard-nav__page">
                              <a href="{{ item.url }}"
                                 class="dashboard-nav__item dashboard-nav__item--interactive {{ item.is_active|yesno:"is-active," }}">
                                    {% if not item.is_complete %}
                                        <i class="fa fa-exclamation-circle text-danger" title="{% translate 'Missing fields for publication' %}" aria-label="{% translate 'Missing fields for publication' %}"></i>
                                    {% endif %}
                                    {{ item.label }}
                                </a>
                            </li>
                        {% endfor %}
                        <li class="dashboard-nav__page">
                            <div class="dashboard-nav__item switch">
                                <div class="form-check form-switch" role="group">

                                  <form
                                    class="dashboard-nav__form--project"
                                    action="{% url 'a4dashboard:module-publish' module_slug=module_menu.module.slug organisation_slug=project.organisation.slug %}"
                                    method="post"
                                    data-ignore-submit="true">
                                  {% csrf_token %}
                                  <input type="hidden" name="referrer" value="{{ request.path }}" />

                                  {% if not module_menu.module.is_draft %}
                                      <button name="action" value="unpublish" class="btn btn--none p-0 btn--none-reset"></button>
                                      <input
                                      value="unpublish"
                                      name="action"
                                      type="checkbox"
                                      class="form-check-input ms-0 me-1"
                                      id="dashboardToggle_{{ forloop.counter }}"
                                      checked
                                      {% if not project.is_draft %}disabled{% endif %}>
                                      <label class="form-check-label dashboard-nav__toggle-label" for="dashboardToggle_{{ forloop.counter }}">
                                          {% translate 'Hide from project' %}
                                      </label>
                                  {% else %}
                                    <button name="action" value="publish" class="btn btn--none p-0 btn--none-reset"></button>
                                    <input
                                      type="checkbox"
                                      class="form-check-input ms-0 me-1"
                                      id="dashboardToggle_{{ forloop.counter }}"
                                      {% if not module_menu.is_complete %}disabled{% endif %}>
                                    <label class="form-check-label dashboard-nav__toggle-label" for="dashboardToggle_{{ forloop.counter }}">
                                      {% translate 'Add to project' %}
                                    </label>
                                  {% endif %}

                                </form>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            {% endfor %}

            {% has_perm 'a4projects.change_project' request.user view.project as user_may_add %}
            {% if user_may_add %}
                <a class="btn btn--light btn--full" href="{% url 'a4dashboard:module-blueprint-list' organisation_slug=project.organisation.slug project_slug=project.slug %}">{% translate 'Add Module' %}</a>
            {% endif %}
        </nav>

        <div class="mb-5 col-md-6">
            {% block dashboard_project_content %}{% endblock %}
        </div>

        <div class="col-md-3">
            {% include "a4_candy_dashboard/includes/progress.html" with value=project_progress.valid max=project_progress.required project=project %}

            {% include "a4dashboard/includes/preview.html" with project=project %}
        </div>
    </div>
{% endblock %}
