{% extends extends %}
{% load static i18n discovery_tags ckeditor_tags wagtailcore_tags contrib_tags thumbnail %}

{% block phase_content %}
<div class="row">
    <div class="col-md-12 my-2">
        <div class="alert" role="alert">
            <i class="fas fa-info-circle" aria-hidden="true"></i>
            ARPAS
        </div>
    </div>
</div>
<div data-aplus-widget="arpas"
     data-project-title ="{{ view.project.name }}"
     data-project-id ="{{ view.project.id }}"
     data-organisation ="{{ view.project.organisation }}"
     data-project-url ="{{ view.project_url }}" >
</div>

<script type="text/javascript" src="{% static 'arpas.js' %}"></script>
{% endblock %}

