<div class="accordion">
    <a id="accordion--title" href="#accordion--body{% if id %}--{{ id }}{% endif %}" class="accordion__title collapsed" aria-haspopup="true" aria-expanded="false" data-toggle="collapse">
        <h3 class="my-2">
            {{ value.title }}
            <i class="fas fa-plus" aria-hidden="true"></i>
        </h3>
    </a>
    <div class="accordion__body collapse" id="accordion--body{% if id %}--{{ id }}{% endif %}" aria-labelledby="accordion--title">
        {{ value.content }}
    </div>
</div>
