{% load wagtailcore_tags wagtailimages_tags %}

<div class="block row mb-3 mb-md-5">
    {% for column in value.columns %}
        <div class="block-img-col-{{ forloop.counter }}">
            {% if column.image %}
            {% image column.image width-500 %}
            {% endif %}
            {{ column.body }}
            {% if column.link %}
            <div class="block-col_cta-content">
                <a href="{{ column.link }}" class="btn btn--full btn--transparent">{{ column.link_text }}</a>
            </div>
            {% endif %}
        </div>
    {% endfor %}
</div>
