{% load wagtailcore_tags wagtailimages_tags %}

<div class="block row">
    {% for column in value.columns %}
        <div class="block-img-col-{{ forloop.counter }}">
            {% if column.image %}
            {% image column.image width-770 as image %}
            <img src="{{ image.url }}" alt="{{ image.alt }}" class="block-img-col__image" />
            {% endif %}
            {{ column.body }}
            {% if column.link %}
            <div class="block-col_cta-content pb-3 pb-md-5">
                <a href="{{ column.link }}" class="btn btn--full btn--transparent">{{ column.link_text }}</a>
            </div>
            {% endif %}
        </div>
    {% endfor %}
</div>
