{% load wagtailcore_tags wagtailimages_tags %}

<div class="block row">
    <div class="block-img-col-1">
        {{ value.column1_img.body }}
        {% if value.column1_img.link %}
        <div class="block-col_cta-content pb-3 pb-md-5">
            <a href="{{ value.column1_img.link }}" class="btn btn--full btn--transparent">{{ value.column1_img.link_text }}</a>
        </div>
        {% endif %}
    </div>

    <div class="block-img-col-2">
        {% if value.column2_img.image %}
        {% image value.column2_img.image width-770 as image %}
        <img src="{{ image.url }}" alt="{{ image.alt }}" class="block-img-col__image" />
        {% endif %}
        {{ value.column2_img.body }}
        {% if value.column2_img.link %}
        <div class="block-col_cta-content pb-3 pb-md-5">
            <a href="{{ value.column2_img.link }}" class="btn btn--full btn--transparent">{{ value.column2_img.link_text }}</a>
        </div>
        {% endif %}
    </div>
</div>
