{% load wagtailcore_tags %}

<div class="block row">
    <div class="block-col-2">
        {{ value.column1_bg.body }}
        {% if value.column1_bg.link %}
        <div class="block-col_cta-content">
            <a href="{{ value.column1_bg.link }}" class="btn btn--full btn--transparent block-bg_btn-1 mt-3">{{ value.column1_bg.link_text }}</a>
        </div>
        {% endif %}

    </div>
    <div class="block-col-2">
        {{ value.column2_bg.body }}
        {% if value.column2_bg.link %}
        <div class="block-col_cta-content">
            <a href="{{ value.column2_bg.link }}" class="btn btn--full btn--transparent block-bg_btn-2 mt-3">{{ value.column2_bg.link_text }}</a>
        </div>
        {% endif %}
    </div>
</div>
