{% extends "base.html" %}
{% load i18n %}
{% load i18n rules react_follows thumbnail wagtailcore_tags a4_candy_project_tags offlineevent_tags contrib_tags ckeditor_tags static %}

{% block title %}{{project.name}} &mdash; {{ block.super }}{% endblock %}

{% block social_meta_image %}
{% if project.image %}
<meta name="twitter:image" content="{{ project.image |thumbnail_url:'heroimage'}}">
<meta name="linkedin:image" content="{{ project.image |thumbnail_url:'heroimage'}}">
<meta property="og:image" content="{{ project.image |thumbnail_url:'heroimage'}}">
<meta property="og:image:width" content="1500">
<meta property="og:image:height" content="500">
{% endif %}
{% endblock %}

{% block social_meta_description %}
{% if module.name %}
<meta name="twitter:description" content="{{ module.name }}">
<meta name="linkedin:description" content="{{ module.name }}">
<meta property="og:description" content="{{ module.name }}">
{% endif %}
{% endblock %}

<!-- ensure cookie overlay for embedded videos -->
{% block extra_css %}
  {{ block.super }}
    <link rel="stylesheet" href="{% static 'dsgvo_video_embed.css' %}" />
{% endblock %}

{% block extra_js %}
  {{ block.super }}
    <script type="text/javascript" src="{% static 'dsgvo_video_embed.js' %}"></script>
{% endblock %}

{% block extra_messages %}
<div class="u-bg-light py-5">
    <div class="container container--shadow">

        {{ block.super }}

        {% if project.is_draft %}
            <div class="row">
                <ul class="messages">
                    <li class="alert alert--warning" role="alert">
                        <div class="container">
                            {% trans 'This project is in not published yet.' %}
                        </div>
                    </li>
                </ul>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block content %}
<div class="u-bg-light py-5">
    <div class="container container--shadow">
        <div class="project-header{% if project.image %} project-header--image{% endif %} row" style="{% if view.project.image %}
                       background-image: url({{ project.image |thumbnail_url:'heroimage' }});
                       {% endif %}">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-md-8 col-lg-6 offset-md-2 offset-lg-3">
                        <h1 class="project-header__title">{{ project.name }}</h1>
                        <p class="project-header__description">{{ project.description }}</p>
                        {% if request.user.is_authenticated %}
                            {% react_follows project %}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if project.image_copyright %}
            <div class="header__copyright copyright">© {{ project.image_copyright }}</div>
            {% endif %}
            {% include 'header_lower.html' with organisation=project.organisation %}
        </div>
        {% block module_nav %}
            {% if module.is_in_module_cluster  %}
                <div class="my-5 pt-3 pt-sm-0 d-flex justify-content-center justify-content-sm-end">
                {% if module.previous_module_in_cluster %}
                    <a class="btn btn--light text-muted" href="{{ module.previous_module_in_cluster.get_absolute_url }}">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                        <span>{% trans 'Previous' %}</span>
                    </a>
                {% endif %}
                    <span class="my-2 mx-3">{{ module.readable_index_in_cluster }} {% trans 'of' %} {{ module.module_cluster|length }}</span>
                {% if module.next_module_in_cluster %}
                    <a class="btn btn--light text-muted" href="{{ module.next_module_in_cluster.get_absolute_url }}">
                        <span>{% trans 'Next' %}</span>
                        <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                {% endif %}
                </div>
            {% endif %}
        {% endblock %}
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <nav class="breadcrumbs u-spacer-bottom-double" aria-label="{% trans 'breadcrumbs' %}">
                    <ul>
                        <li>
                            <a href="{{ project.get_absolute_url }}">
                                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                                {{ project.name }}
                            </a>
                        </li>
                    </ul>
                </nav>
                {% block module_description %}
                    {% if module.phases.first.type != 'a4_candy_interactive_events:issue' %}
                    <h1 class="project-header__title">{{ module.name }}</h1>
                    <p class="project-header__description">{{ module.description }}</p>
                    {% endif %}
                {% endblock %}
            </div>
        </div>
        {% block phase_info %}
            {% if module.phases.first.type != 'a4_candy_interactive_events:issue' %}
                {% if not module.active_phase %}
                <div class="row">
                    <div class="col-md-8 offset-md-2 mb-3">
                        <strong>
                            {% trans 'Participation is not possible at the moment.' %}
                            {% if not module.past_phases %}
                                {% html_date module.future_phases.first.start_date 'DATETIME_FORMAT' as start_date %}
                                {% blocktrans with date=start_date %}It starts on {{ date }}.{% endblocktrans%}
                            {% elif module.future_phases %}
                                {% html_date module.future_phases.first.start_date 'DATETIME_FORMAT' as start_date %}
                                {% blocktrans with date=start_date %}It continues on {{ date }}.{% endblocktrans%}
                            {% else %}
                                {% html_date module.past_phases.last.end_date 'DATETIME_FORMAT' as end_date %}
                                {% blocktrans with date=end_date %}It ended on {{ date }}.{% endblocktrans%}
                            {% endif %}
                        </strong>
                    </div>
                </div>
                {% endif %}
                {% with phase_count=module.phases.count %}
                <div class="row mb-4">
                    <div class="col-md-10 col-lg-8 offset-md-1 offset-lg-2">
                        {% for phase in module.phases %}
                            {% if phase.is_over or phase == module.active_phase %}
                            <div class="phase-info__item {% if phase_count == 1 %} u-no-border {% endif %}">
                                <div class="font-weight-bold{% if phase == module.active_phase %} lr-bar{% endif %}">
                                    {% if phase == module.active_phase %}
                                        <span class="lr-bar__left">{{ phase.name }}</span>
                                        <span class="lr-bar__right phase-info__highlight">{% trans 'active' %}</span>
                                    {% else %}
                                        {{ phase.name }}
                                    {% endif %}
                                </div>
                                <div class="phase-info__item__subtitle">
                                    {% html_date phase.start_date 'DATETIME_FORMAT' %}
                                    &ndash; {% html_date phase.end_date 'DATETIME_FORMAT' %}
                                </div>
                                <div class="phase-info__item__description">
                                    {{ phase.description }}
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% endwith %}
            {% endif %}
        {% endblock %}

        {% if project.is_private %}
        <div class="row">
            <div class="col-md-10 col-lg-8 offset-md-1 offset-lg-2 u-font-size-xs mb-4">
                <i class="fas fa-lock pr-2" aria-hidden="true"></i>{% trans 'This project is not publicly visible. Only invited users can see content and actively participate.' %}
            </div>
        </div>
        {% elif project.is_semipublic %}
        <div class="row">
            <div class="col-md-10 col-lg-8 offset-md-1 offset-lg-2 u-font-size-xs mb-4">
                <i class="fas fa-eye pr-2" aria-hidden="true"></i>{% trans 'This project is publicly visible. Invited users can actively participate.' %}
            </div>
        </div>
        {% endif %}

        <div>
            <div class="row">
                <div class="col-md-6 col-lg-4 offset-md-3 offset-lg-4">
                {% block project_action %}{% endblock %}
                </div>
            </div>
        </div>
        {% block phase_content %}{% endblock %}
        {% block other_modules %}
            {% if module.is_in_module_cluster %}
                <div class="participation-tile__wrapper">
                    <div class="participation-tile__list-container">
                        <ul class="u-list-reset participation-tile__list">
                            <h3 class="participation-tile__list-header">{%  trans 'More questions from this online participation' %}</h3>
                            {% for other_module in module.module_cluster %}
                                {% if not other_module == module %}
                                    {% include "a4_candy_projects/includes/project_module_tile.html" with project=project module=other_module %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        {% endblock %}
        {% include 'footer_upper.html' with organisation=project.organisation %}
    </div>
</div>
{% endblock %}
