{% extends 'base.html' %}
{% load wagtailcore_tags widget_tweaks form_field_tags i18n %}

{% block content %}
    <div class="l-wrapper">
        <div class="contact_form p-sm-3 py-md-5">
            <div class="l-center-6 text-center mb-md-5">
                <h2>{{ page.form_page.header }}</h2>
                <p>{{ page.form_page.intro|richtext }}</p>
            </div>
            <div class="row">
                <div class="col-lg-5 offset-lg-1">
                    <form action="{% pageurl page.form_page %}" method="POST">
                        <div class="form-group">
                          {% csrf_token %}

                          {% include 'a4_candy_cms_contacts/form_fields.html' with fields=page.form %}
                        </div>
                        <div class="u-spacer-bottom">
                            <button class="btn btn--transparent btn--full" type="submit">{% trans "Send" %}</button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-5 my-5 my-lg-0">
                    <div class="row mb-3 pb-3 position-relative">
                        <div class="col-4 col-sm-3 col-md-4"></div>
                        <div class="col-8">
                            <span class="font-weight-bold">Ihr Ansprechpartner</span><br>
                            <span>Moritz Ritter</span><br>
                            <span>Position</span>
                        </div>
                        <div class="contact_form__divider pt-3"></div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-4 col-sm-3 col-md-4"></div>
                        <div class="col-8">
                          <span class="font-weight-bold">Hier finden Sie uns</span><br>
                          <span>Liquid Democracy e.V.</span><br>
                          <span>Am Sudhaus 2</span><br>
                          <span>12053 Berlin</span>
                        </div>
                    </div>
                    <div class="row mb-3 pb-3 position-relative">
                        <div class="col-4 col-sm-3 col-md-4"></div>
                        <div class="col-8">
                          <span class="font-weight-bold">So erreichen Sie uns</span><br>
                          <span>+49 (0) 30 6298 4840</span><br>
                          <span>hallo@liqd.net</span>
                        </div>
                        <div class="contact_form__divider pt-3"></div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-4 col-sm-3 col-md-4"></div>
                        <div class="col-8">
                            <a>Facebook</a><br>
                            <a>Twitter</a><br>
                            <a>Github</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
