{% extends "base.html" %}
{% load i18n %}

{% block title %}{% blocktrans with title=object.name %}Edit {{ title }}{% endblocktrans %} &mdash; {{ block.super }}{% endblock %}

{% block content %}
<div class="l-wrapper">
    <div class="l-center-8 pt-5">
        <nav class="breadcrumbs" aria-label="{% trans 'breadcrumbs' %}">
            <ul>
                <li>
                    <a href="{{ module.get_detail_url }}">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        {% trans 'go back' %}</a>
                </li>
                <li>
                    <a href="{{ object.get_absolute_url }}">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        {% trans 'back to proposal' %}</a>
                </li>
            </ul>
        </nav>

        <h1>{% trans 'Edit proposal' %}</h1>

        {% include "a4_candy_budgeting/includes/proposal_form.html" with proposal=proposal cancel=object.get_absolute_url %}
    </div>
</div>
{% endblock %}
