{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Create a new proposal' %} &mdash; {{ block.super }}{% endblock %}
{% block content %}
<div class="u-bg-light py-5">
    <div class="container container--shadow">
        <div class="row">
            <div class="col-md-10 col-lg-8 offset-md-1 offset-lg-2 pt-5">
                <div class="row py-4">
                    <div class="offset-6 col-sm-3 offset-sm-9 position-relative header-lower__position--right">
                        {% include 'header_lower.html' with organisation=module.project.organisation %}
                    </div>
                </div>
                <nav class="breadcrumbs" aria-label="{% trans 'breadcrumbs' %}">
                    <ul>
                        <li>
                            <a href="{{ module.get_detail_url }}">
                                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                                {% trans 'go back' %}</a>
                        </li>
                    </ul>
                </nav>

                <h1>{% trans 'Submit a new proposal for this project'%}</h1>

                {% include "a4_candy_budgeting/includes/proposal_form.html" with proposal=proposal cancel=module.get_detail_url %}
            </div>
        </div>
        {% include 'footer_upper.html' with organisation=module.project.organisation %}
    </div>
</div>
{% endblock %}
