<!-- FIXME should be deleted after testing in dev -->

<!-- {% load i18n static %}

<li class="tile tile__blueprint">
    <div class="tile__head">
        <div class="tile__image tile__image--sm" style="background-image: url({% static blueprint.image %})"></div>
    </div>
    <div class="tile__body">
        <h3 class="tile__title">{{ blueprint.title }}</h3>
        <div class="tile__text">
            {{ blueprint.description | linebreaks }}
        </div>

        <a href="{% url 'a4dashboard:project-create' organisation_slug=view.organisation.slug blueprint_slug=blueprint_slug %}"
           class="btn btn--light" data-bs-toggle="ajax-modal" data-bs-target-selector="#project-create-form">
            {% translate 'Select'%}
        </a>
    </div>
</li> -->
