{% load i18n %}

<ul class="progress-line u-spacer-bottom">
    <li class="progress-line__entry--published">
        <i
          class="fas fa-check-circle progress-line__icon progress-line__icon--success"
          title="{% translate 'Project type has been published' %}"
          aria-label="{% translate 'Project type has been published' %}"
          role="img"
          >
        </i>

        <span>{% translate 'The project has been published. You can add further modules.' %}</span>
    </li>
</ul>
