{% load static i18n %}

{% include 'a4dashboard/includes/form_field.html' with field=form.name %}

<div class="uppy-image-upload-field">
    {% include 'a4dashboard/includes/form_field.html' with field=form.image %}
    <button
        type="button"
        class="btn btn--default upload-wrapper__action uppy-image-upload-field__trigger"
        data-uppy-trigger
    >
        <i class="fas fa-cloud-upload-alt" aria-hidden="true"></i>
        <span class="visually-hidden">{% translate "Upload a picture" %}</span>
    </button>
    <div
        data-uppy-image-upload
        data-input-id="{{ form.image.id_for_label }}"
        data-aspect-ratio="3"
        data-output-width="1500"
        data-output-height="500"
        data-min-width="1500"
        data-min-height="500"
        hidden
    ></div>
</div>
<link rel="stylesheet" href="{% static 'uppy_image_upload.css' %}">
<script src="{% static 'uppy_image_upload.js' %}"></script>

{% include 'a4dashboard/includes/form_field.html' with field=form.image_alt_text %}
{% include 'a4dashboard/includes/form_field.html' with field=form.image_copyright %}

{% include 'a4dashboard/includes/form_field.html' with field=form.tile_image %}
{% include 'a4dashboard/includes/form_field.html' with field=form.tile_image_alt_text %}
{% include 'a4dashboard/includes/form_field.html' with field=form.tile_image_copyright %}

{% include 'a4dashboard/includes/form_field.html' with field=form.description %}

{% if form.allow_guest_users %}
<section class="u-bottom-divider">
    <h2 class="form__section-title">{% translate 'Participants' %}</h2>
    {% include 'a4dashboard/includes/form_field.html' with field=form.allow_guest_users %}
</section>
{% endif %}

{% include 'a4dashboard/includes/form_field.html' with field=form.access %}

{% if project.has_finished %}
    {% include 'a4forms/includes/form_checkbox_field.html' with field=form.is_archived %}
{% endif %}
