{% load i18n project_tags a4_candy_project_tags thumbnail contrib_tags %}
{% project_tile_image project as project_image %}
{% project_tile_image_copyright project as project_image_copyright %}
{% project_tile_image_alt_text project as project_image_alt_text %}


<li class="list-item list-item--has-image">
    <div class="list-item--has-image__wrapper">
        <div class="list-item--has-image__image"
            {% if project_image %}
                style="background-image: url({% thumbnail project_image '170x170' crop %})"
                role="img"
                aria-label="{% if project_image_alt_text %}{{ project_image_alt_text }}{% else %}{% translate 'Here you can find a decorative picture.' %}{% endif %}"
            {% endif %}
        >
            {% if project_image_copyright %}
                <div class="list-item--has-image__copyright copyright">© {{ project_image_copyright }}</div>
            {% endif %}
        </div>
        <div class="lr-bar list-item--has-image__body">
            <div class="lr-bar__left">
                <h3 class="u-first-heading">
                    {{ project.name }}
                    {% if project.has_finished %}
                        <span class="badge badge--secondary">{% translate "Finished" %}</span>
                    {% endif %}
                    {% if project.is_semipublic %}
                        <span class="badge badge--dark">{% translate 'semipublic' %}</span>
                    {% endif %}
                    {% if project.is_private %}
                        <span class="badge badge--dark">{% translate 'private' %}</span>
                    {% endif %}
                </h3>
            </div>
            <div class="lr-bar__right">
                <div class="btn--group">
                {% spaceless %}
                    <a href="{{ project|project_url }}"
                       class="btn btn--light btn--small">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                        {% if project.is_draft %}
                        {% translate 'Preview' %}
                        {% else %}
                        {% translate 'View' %}
                        {% endif %}
                    </a>
                    <a href="{% url 'a4dashboard:project-edit' organisation_slug=project.organisation.slug project_slug=project.slug %}"
                       class="btn btn--light btn--small">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                        {% translate 'Edit'%}
                    </a>
                    <div class="dropdown">
                        <button
                                type="button"
                                class="dropdown-toggle btn btn--light btn--small"
                                data-bs-toggle="dropdown"
                                data-flip="false"
                                aria-haspopup="true"
                                aria-expanded="false"
                                id="project-actions"
                                title="{% translate 'more' %}"
                        >
                            <i class="fa fa-caret-down" aria-label="{% translate 'more' %}"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end
                        " aria-labelledby="project-actions">
                            <form method="post" class="list-item__action">
                                {% csrf_token %}
                                <input type="hidden" name="project_pk" value="{{ project.pk }}">
                                <button type="submit" name="duplicate" value="{{ project }}"
                                        class="dropdown-item">
                                    <i class="far fa-copy" aria-hidden="true"></i>
                                    {% translate 'Duplicate' %}
                                </button>
                            </form>
                            <a href="#" class="dropdown-item font-weight-normal" data-bs-toggle="modal" data-bs-target="#project{{ project.pk }}DeleteModal">
                                <i class="far fa-trash-alt" aria-hidden="true"></i>
                                {% translate 'delete' %}
                            </a>
                        </div>
                    </div>
                {% endspaceless %}
                </div>
            </div>
        </div>
    </div>
</li>

<div class="modal fade" id="project{{ project.pk }}DeleteModal" tabindex="-1" role="dialog" aria-labelledby="projectDeleteModalLabel" aria-hidden="true">
    <div
        class="modal-dialog modal-dialog-centered"
        role="document"
    >
        <div class="modal-content">
            <div class="modal-header">
                <!-- Not using Bootstrap, but utility classes on purpose to align with component in A4 -->
                <h2 className="u-no-margin-bottom u-spacer-top-one-half">
                    {% translate 'delete' %}
                </h2>
                <button class="close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="u-spacer-bottom">
                    {% blocktranslate with project_name=project.name %} Are you sure you want to delete the project '{{ project_name }}'? {% endblocktranslate %}
                </div>
            </div>
            <div class="modal-footer">
                <form action="{% url "project-delete" pk=project.pk organisation_slug=project.organisation.slug %}" method="post">
                    {% csrf_token %}
                    <button type="button" class="cancel-button" data-bs-dismiss="modal">{% translate 'cancel' %}</button>
                    <button type="submit" class="submit-button">{% translate 'delete' %}</button>
                </form>
            </div>
        </div>
    </div>
</div>
