{% extends "base.html" %}
{% load i18n userindicator %}

{% block header %}

<header class="main-header" aria-label="{% trans 'Header' %}">
    <div class="main-header__border-top main-header__border-top--platform"></div>
    <div class="l-wrapper">
        <div class="platform-brand main-header__brand">
            {% spaceless %}
                <a href="{% if view.organisation.partner %}{% url 'partner' partner_slug=view.organisation.partner.slug %}{% else %}/{% endif %}" class="platform-brand__link">{% if view.organisation.partner %}<h2 class="heading--sm-margin">{{ view.organisation.partner.name }}</h2>{% else %}Beteiligung.in{% endif %}</a>
            {% endspaceless %}
        </div>
        <nav class="main-header__nav">

            <div class="main-header__mobile-menu main-header__mobile-menu--platform collapse" id="main-header-collapse">
                <div class="main-header__user">
                    {% userindicator %}
                </div>
            </div>
            <button class="btn main-header__mobile-toggle btn--secondary-filled main-header__mobile-toggle--platform btn--square btn--small btn--attached-top" data-toggle="collapse" data-target="#main-header-collapse" aria-expanded="false" aria-controls="main-header-collapse">
                {% trans 'Menu' %}
                <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
        </nav>
    </div>
</header>

{% endblock %}

{% block content %}

<div class="tablist tablist--right tablist--background u-after-dialogue-box">
    <div class="l-wrapper">
        <div class="tablist__left dropdown">
            {% if view.other_organisations_of_user %}
                <button
                        title="{% trans 'Organisations' %}"
                        type="button"
                        class="dropdown-toggle btn btn--none btn--small"
                        data-toggle="dropdown"
                        data-flip="false"
                        aria-haspopup="true"
                        aria-expanded="false"
                        id="organisation-selection"
                >
                    {{ view.organisation.name }}
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="organisation-selection">
                    {% for organisation in view.other_organisations_of_user %}
                        <a
                            class="dropdown-item"
                            href="{% url 'a4dashboard:project-list' organisation_slug=organisation.slug %}">
                            {{ organisation.name }}
                        </a>
                    {% endfor %}
                </div>
            {% else %}
                <span class="btn btn--none btn--small">{{ view.organisation.name }}</span>
            {% endif %}
        </div>

        <nav aria-label="{% trans 'Dashboard' %}">
            <a href="{% url 'a4dashboard:project-list' organisation_slug=view.organisation.slug %}"
               class="tab {% ifequal view.menu_item 'project' %}active{% endifequal %}">
                {% trans 'Participation projects' %}
            </a>
        </nav>
    </div>
</div>

<div class="l-wrapper">
    {% block dashboard_content %}{% endblock %}
</div>

{% endblock %}
