{% extends "base.html" %}
{% load i18n wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <div class="l-wrapper">
        <div class="l-center-8">

            <div class="homepage-header">
                {% image page.image width-770 as image %}
                <img src="{{ image.url }}" alt="{{ image.alt }}" class="homepage-header__image" />
                <div class="homepage-header__text">
                    <h1 class="homepage-title homepage-title--large">Beteiligung.in/<span class="marked cms-title--normal">jederstadt</span></h1>
                    <h1 class="homepage-title homepage-title--small">Beteiligung.in/<br><span class="marked cms-title--normal">jederstadt</span></h1>
                    <div class="cms-teaser">{{ page.teaser|richtext }}</div>
                </div>
            </div>

            <div>{{ page.body|richtext }}</div>
            <div>{{ page.body_streamfield }}

        </div>
    </div>
{% endblock %}
