{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}
    {{ self.title }}{% endif %} &mdash; {{ block.super }}{% endblock %}

{% block content %}
    <div class="cms__wrapper">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10">
                    <h1 class="cms__title--underlined text-center">{{ page.title }}</h1>
                </div>
            </div>
        </div>
        {% for block in page.body_streamfield %}
            {% if block.block_type == 'quote' %}
                {% include_block block %}
            {% else %}
            <div class="container">
                <div class="row justify-content-md-center pt-3 mb-5">
                  <div class="col-12 col-md-10 cms__text">
                    {% if block.block_type == 'image' %}
                      <div class="cms-page__hero-image">
                          {% include_block block %}
                      </div>
                      {% if include_block.block == 'image_caption' %}
                      <div class="mt-3">
                          {% include_block block %}
                      </div>
                      {% endif %}
                    {% else %}
                    {% include_block block %}
                    {% endif %}
                  </div>
                </div>
              </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
