.aside {
    margin-top: 2 * $padding;
    background-color: $bg-secondary;
    color: contrast-color($bg-secondary);
    padding: $padding;
}

.aside__block__title {
    text-align: left;
    margin: 0;
}

@media (min-width: $breakpoint) {
    .aside {
        margin-top: 0;
    }
}
