.aside {
    background-color: $bg-secondary;
    color: contrast-color($bg-secondary);
    padding: $padding;
}

.aside__block {
    border-bottom: 1px solid $border-color;
}

.aside__block__title {
    text-align: center;
}
