$block-padding: 2.5*$padding;
$block-padding-md: 5*$padding;

//non block specific styles
.block-col-6 {
    @extend .col-sm-4;
    @extend .col-md-2;
}

.block-col-4 {
    @extend .col-md-3;
}

.block-col-3 {
    @extend .col-md-4;
    padding: $block-padding;
}

.block-col-2 {
    @extend .col-md-6;
}

.block-col-1 {
    @extend .col-12;
    text-align: center;
}

.block-col_cta-btn {
    padding: $padding;

    @media screen and (min-width: $breakpoint-xs) {
        padding-bottom: $block-padding;
    }
}

//single col cta styling
.block-row-1 {
    background-color: $body-bg;

    @media screen and (min-width: $breakpoint-xs) {
        padding-top: $block-padding;
    }

    @media screen and (min-width: $breakpoint-md) {
        padding-top: $block-padding-md;
    }
}

//three col cta styling
.block-row-3 {
    padding: $padding;
    background-color: $body-bg;

    @media screen and (min-width: $breakpoint-xs) {
        padding: $padding $block-padding $block-padding $block-padding;
    }

    @media screen and (min-width: $breakpoint-md) {
        padding: $padding $block-padding-md $block-padding-md $block-padding-md;
    }
}

//multi col cta with content styling
.block-columns_cta {
    text-align: center;

    // cta with just btn
    .block-col-2 {
        display: flex;
        justify-content: space-around;
    }

    .block-col_cta-btn {
        width: 100%;

        @media screen and (min-width: $breakpoint) {
            width: 75%;
        }
    }
}

//image/list cta block
.block-img-col-1 {
    @extend .col-md-7;
}

.block-img-col-2 {
    @extend .col-md-5;

    .rich-text,
    .block-col_cta-content {
        padding: 0 0 0 2*$r-spacer;

        @media screen and (min-width: $breakpoint-md) {
            padding: 0 $block-padding-md 0 2*$r-spacer;
        }
    }
}

.block-img-col__image {
    max-height: 400px;
    width: auto;
    position: relative;
    right: -32px;
    margin-top: $r-spacer;
}

.block-image_cta_block {
    text-align: left;

    //list styling
    ul {
        list-style: none;
        padding: 0;
    }

    li:before {
        margin-right: 0.5*$spacer;
        color: $gray-lightest;
        font-family: "Font Awesome 5 Free", sans-serif;
        font-weight: 900;
        content: '\f111';
        font-size: $font-size-xxl;
    }

    p {
        width: 79%;
        vertical-align: middle;
        display: inline-block;

        @media screen and (min-width: $breakpoint-md) {
            width: 90%;
        }
    }
}

//old block styling, still used in activity block
.block--bordered {
    padding: 1em;
    border: 1px solid $border-color;

    @media (max-width: $breakpoint - 0.1rem) {
        margin: 0;
        width: 100%;
    }
}

//some old some current general styling
.block {
    @include clearfix;
    margin-bottom: 2.8em;
    page-break-inside: avoid;

    h2,
    h3,
    h4 {
        font-family: $font-family-serif;
        font-weight: normal;

        b {
            font-family: $font-family-base;
            font-weight: bold;
        }
    }

    h2 {
        display: inline-block;
        position: relative;
    }

    //border on section headings
    h2:after {
        content: "";
        position: absolute;
        left: calc(50% - 25px);
        bottom: -10px;
        width: 50px;
        border-bottom: solid 4px $brand-secondary;
    }
}

//coloured background block
.block-background_cta_block .block > :first-child {
    background-color: $brand-secondary;
}

.block-background_cta_block .block > :last-child {
    background-color: $brand-primary;
    color: $text-color-inverted;
}

//linked for specificty
.btn--transparent.block-bg_btn-2 {
    color: $body-bg;
    border-color: $body-bg;
}

.block-background_cta_block {
    margin-left: -17px;
    margin-right: -17px;

    .block {
        h2:after {
            border-bottom: none;
        }
    }

    .row {
        display: flex;
        text-align: center;
        justify-content: center;
    }

    .block-col-2 {
        justify-content: space-between;
        display: flex;
        flex-direction: column;
        padding: $padding;
        padding-bottom: $block-padding;

        @media screen and (min-width: $breakpoint-xs) {
            padding: $block-padding;
        }

        @media screen and (min-width: $breakpoint-md) {
            padding: $block-padding-md;
        }
    }
}

//responsive padding for image, 2 col cta and whole
.block-img-col-1,
.block-row-2 {
    padding: $padding;

    @media screen and (min-width: $breakpoint-xs) {
        padding: $block-padding;
    }

    @media screen and (min-width: $breakpoint-md) {
        padding: $block-padding-md;
    }
}
