.cms-news__tile {
    padding-bottom: 3 * $r-spacer;

    @media screen and (min-width: $breakpoint-xs) {
        padding-bottom: 4 * $r-spacer;
    }

    @media screen and (min-width: $breakpoint-md) {
        padding-bottom: 6 * $r-spacer;
    }
}

.cms-news__tile-link {
    text-decoration-line: none;

    &:hover,
    &:focus {
        text-decoration-line: underline;
    }
}

.cms-news__header-margin {
    margin-top: $r-spacer;
    margin-bottom: $r-spacer;

    @media screen and (min-width: $breakpoint-md) {
        margin-top: 2 * $r-spacer;
        margin-bottom: 2 * $r-spacer;
    }
}

.cms-news__text {
    font-size: $font-size-md;
    font-family: $font-family-base;
}
