.cms__wrapper {
    margin-left: $r-spacer;
    margin-right: $r-spacer;
    background-color: $bg-light;

    @media screen and (min-width: $breakpoint-xl) {
        margin-left: 2*$r-spacer;
        margin-right: 2*$r-spacer;
    }
}

.cms__title--serif {
    font-family: $font-family-serif;
    font-weight: normal;
}

.cms__title--bold {
    font-family: $font-family-base;
    font-weight: bold;
}

.cms__title--underlined {
    position: relative;
    margin-bottom: 6 * $r-spacer;

    &:after {
        content: "";
        position: absolute;
        left: calc(50% - 40px);
        bottom: -20px;
        width: 80px;
        border-bottom: solid 8px $brand-secondary;
    }
}

.cms__text {
    font-size: $font-size-md;
    font-family: $font-family-base;
}

.cms__text--serif {
    font-family: $font-family-serif;
}

.cms__tile-link {
    text-decoration-line: none;

    &:hover,
    &:focus {
        text-decoration-line: underline;
    }
}

.cms__tile-link--inverted {
    color: $text-color-inverted;

    &:hover,
    &:focus {
        color: $text-color-inverted;
    }
}

.cms-page__header-margin {
    margin-top: $r-spacer;
    margin-bottom: $r-spacer;

    @media screen and (min-width: $breakpoint-md) {
        margin-top: 2 * $r-spacer;
        margin-bottom: 2 * $r-spacer;
    }
}

.cms-page__hero-image {
    width: 100%;
    object-fit: cover;
}

.cms-news__tile {
    padding-bottom: 3 * $r-spacer;

    @media screen and (min-width: $breakpoint-xs) {
        padding-bottom: 4 * $r-spacer;
    }

    @media screen and (min-width: $breakpoint-md) {
        padding-bottom: 6 * $r-spacer;
    }
}

.cms-use-case__tile {
    margin-bottom: 3 * $r-spacer;
}

.cms-use-case__tile--demo {
    background-color: $brand-primary;
}

.cms-use-case__category-image {
    width: 50px;
    height: 50px;
    background-color: $black;
}
