.footer {
    margin: $r-spacer;

    @media screen and (min-width: $breakpoint-xl) {
        margin: 2*$r-spacer;
    }
}

.footer--cms {
    background-color: $bg-light;
}

.footer__link {
    a {
        font-weight: normal;
    }
}
