.footer {
    border-top: 2px solid $brand-primary;

    margin: $spacer 0 $spacer 0;

    @media screen and (min-width: $breakpoint) {
        margin: 2*$spacer 0 $spacer 0;
    }

    @media screen and (min-width: $breakpoint-xl) {
        margin: 3*$spacer 0 2*$spacer 0;
    }
}

.footer--cms {
    background-color: $bg-light;
}

.footer__link {
    padding-right: $padding;

    a {
        font-weight: normal;
        text-decoration-line: none;

        &:hover,
        &:focus {
            text-decoration-line: underline;
        }
    }
}

.footer__description {
    font-family: $font-family-serif;
}
