.header--platform {
    background-color: $text-color;
    color: contrast-color($text-color);
}

.header__brand a {
    color: contrast-color($text-color);
}

.header__brand__partner {
    color: contrast-color($text-color, $text-color, $text-secondary-color);
}
