$spacer-xl: 7.5rem;

.hompage__wrapper {
    background-color: $bg-light;
    margin: $r-spacer;

    @media screen and (min-width: $breakpoint-lg) {
        margin: 2*$r-spacer;
    }

    .block {
        p {
            font-size: $font-size-md;
        }
    }
}

.homepage-header {
    margin-bottom: 2*$r-spacer;

    @media screen and (min-width: $breakpoint-xs) {
        margin-bottom: $spacer-xl;
    }
}

.homepage-header__image-wrapper {
    display: flex;
    justify-content: flex-end;
}

.homepage-header__image {
    position: relative;
    right: 2*-$r-spacer;
    height: 100%;
    object-fit: cover;

    @media screen and (min-width: $breakpoint-md) {
        right: 2.5*-$r-spacer;
    }
}

.hompage-header__btn {
    margin: 2*$r-spacer 0 0 2*$r-spacer;

    @media screen and (min-width: $breakpoint-md) {
        margin-left: 2.5*$r-spacer;
    }
}

.homepage-header__teaser {
    font-family: $font-family-serif;
    font-weight: normal;

    b {
        font-family: $font-family-base;
    }
}
