$spacer-xl: 7.5rem;

.homepage__wrapper {
    background-color: $bg-light;
    margin: 0 $r-spacer 0 $r-spacer;

    @media screen and (min-width: $breakpoint-xxl) {
        max-width: $breakpoint-xl;
        margin: auto;
    }

    .block {
        p {
            font-size: $font-size-md;
        }
    }
}

.homepage-header {
    margin-bottom: 2*$r-spacer;

    @media screen and (min-width: $breakpoint-xs) {
        margin-bottom: $spacer-xl;
    }
}

.homepage-header__image-wrapper {
    display: flex;
    justify-content: flex-end;
}

.homepage-header__image {
    position: relative;
    right: -$spacer;
    width: 100%;
    object-fit: cover;

    @media screen and (min-width: $breakpoint-xxl) {
        right: 3*-$r-spacer;
    }
}

.homepage-header__teaser {
    font-family: $font-family-serif;
    font-weight: normal;

    b {
        font-family: $font-family-base;
    }
}
