.lang__switch {
    margin-top: 0.5*$padding;
    margin-right: $padding;
}

.lang__btn--right,
.lang__btn--left {
    line-height: normal;
}

.lang__btn--right {
    padding-left: 0.4*$padding;
}

.lang__btn--left {
    padding-right: 0.4*$padding;
    border-right: 2px solid $black;
}
