.list-item-tiny {
    display: flex;
    align-items: center;
    margin-bottom: 1px;

    color: inherit;
    text-decoration: none;
    background-color: $body-bg;
}

.list-item-tiny__image {
    flex: 0 0 auto;
}

.list-item-tiny__body {
    flex: 1 1 auto;
    padding: $padding;
}
