.main-header {
    a {
        text-decoration: none;
    }
}

.main-header__border-top {
    background: linear-gradient(to right, $brand-primary, $brand-primary 33%, $bg-tertiary 66%, $bg-tertiary);
    height: 0.5em;
}

.main-header__border-top--platform {
    background: linear-gradient(to right, $brand-primary, $brand-primary 33%, $brand-secondary 66%, $brand-secondary);
}

.main-header__brand {
    float: left;
    margin: (3 * $spacer) 0 $spacer;
}

.main-header__nav {
    clear: left;
}

.main-header__logo-box {
    display: inline-block;
    margin-right: $spacer;
    margin-bottom: -2em;
    padding: $padding;
    vertical-align: middle;

    background-color: $body-bg;
    z-index: 1;
    position: relative;

    box-shadow: 0 0 8px 0 $shadow;
}

.main-header__logo-img {
    display: block;
    height: 4em;
    width: auto;
}

.main-header__mobile-menu {
    border-bottom: 1px solid $body-bg;

    position: absolute;
    left: 0;
    right: 0;
    top: 0;

    background-color: $bg-tertiary;
    color: contrast-color($bg-tertiary);
    z-index: 2;

    button,
    a {
        border-bottom: 1px solid $body-bg;
        display: block;
        width: 100%;
        padding: 0.5em;
    }

    @media screen and (max-width: $breakpoint-down) {
        // overwrite link style on mobile
        li :hover {
            background-color: $bg-secondary;
            color: $brand-primary;
        }
    }
}

.main-header__mobile-menu--platform {
    background-color: $brand-secondary;
    color: contrast-color($brand-secondary);
}

.main-header__mobile-toggle {
    position: absolute;
    right: $padding;
    top: 0;
    z-index: 2;

    font-weight: bold;
}

.show + .main-header__mobile-toggle {
    background-color: $bg-secondary;
}

.show + .main-header__mobile-toggle--platform {
    // use same color as used for hover styles
    // (defined in meinberlin's _button.scss)
    background-color: mix($brand-secondary, $body-bg, 50%);
}

.main-header__partner-nav {
    list-style: none;
    padding: 0;
    margin: 0;

    @media screen and (min-width: $breakpoint) {
        display: inline-block;
    }
}

.main-header__partner-nav__item {
    display: block;

    .is-active {
        padding-bottom: 0.1em;
        border-bottom: 0.2em solid $brand-primary;
    }
}

.main-header__lang {
    position: absolute;
    top: 0;
    right: 100px;
}

@media screen and (min-width: $breakpoint) {
    .main-header__brand {
        margin-top: 2 * $spacer;
    }

    .main-header__partner-nav {
        line-height: 4em;
    }

    .main-header__mobile-menu {
        padding: 0;
        border: 0;
        position: static;
        background-color: transparent;
        color: inherit;

        &.collapse {
            display: inline-block;
        }

        .main-header__partner-nav__link {
            display: inline;
        }
    }

    .main-header__mobile-toggle {
        display: none;
    }

    .main-header__partner-nav__item {
        display: inline;
        margin-right: $spacer;
    }

    .main-header__partner-nav__link:first-child {
        padding-left: 0;
    }

    .main-header__user {
        position: absolute;
        top: 0;
        right: 80px;
    }

    .main-header__lang {
        right: 0;
    }
}

.main-header__user {
    // min-width and max-width can't have the same breakpoint
    @media screen and (max-width: $breakpoint-down) {
        // overwrite dropdown style on mobile

        .dropdown {
            margin-bottom: 0;
        }

        .dropdown-toggle {
            display: none;
        }

        .dropdown-menu {
            display: block;
            padding: 0;
            border: 0;

            box-shadow: none;

            position: static;
        }
    }
}
