.navi {
    padding: 1.25em 0;

    @media screen and (min-width: $breakpoint) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.navi__list {
    list-style: none;
    padding: 0;
    margin: 0;

    @media screen and (min-width: $breakpoint) {
        display: inline-block;
    }
}

.navi__item {
    display: block;
    margin-top: 0.5em;

    @media screen and (min-width: $breakpoint) {
        display: inline-block;
        margin-top: 0;
        padding: 0 (1.875em / 2);
    }

    :first-child > & {
        padding-left: 0;
    }
}

.navi__link {
    color: contrast-color($body-bg);
}
