.organisation__header {
    margin-top: $spacer;
    margin-bottom: 1.7 * $spacer;

    h1 {
        font-size: $font-size-xl;
    }

    h2 {
        font-size: $font-size-lg;
    }
}

.organisation__slogan {
    padding-top: $spacer;
    padding-bottom: $spacer;
    color: $gray-lighter;
    font-weight: $demi-bold;
    line-height: 1.33;
}

.organisation__description {
    font-size: $font-size-lg;
    padding-bottom: $spacer;
}

.organisation__logo-box {
    display: inline-block;
    position: relative;
    margin-top: -3.5em;

    padding: 1.25 * $padding;
    background-color: $body-bg;
}

.organisation__logo-img {
    display: block;
    height: 6.5em;
    width: auto;
}

@media (min-width: $breakpoint) {
    .organisation__header h1 {
        font-size: $font-size-xxl;
    }

    .organisation__header h2 {
        font-size: $font-size-xl;
    }

    .organisation__slogan,
    .organisation__description {
        padding-bottom: 0;
    }

    .organisation__logo-box {
        padding: $padding;
    }
}
