.partner-header {
    margin-top: 3.5 * $spacer;
    margin-bottom: 1.7 * $spacer;
}

.partner-slogan {
    padding-top: $spacer;
    color: $gray-lighter;
    font-weight: $demi-bold;
    line-height: 1.33;
}
