.partner__header {
    margin-top: $spacer;
    margin-bottom: 1.7 * $spacer;
}

.partner__slogan {
    padding-top: $spacer;
    color: $gray-lighter;
    font-weight: $demi-bold;
    line-height: 1.33;
}

@media (min-width: $breakpoint) {
    .partner__tile {
        height: 210px;
    }
}

.partner__logo-box {
    display: inline-block;
    position: relative;
    margin-top: -3.5em;

    padding: 1.5 * $padding;
    background-color: $body-bg;
    box-shadow: 0 0 8px 0 $shadow;
}

.partner__logo-img {
    display: block;
    height: 6em;
    width: auto;
}
