.partner__header {
    margin-top: 3.5 * $spacer;
    margin-bottom: 1.7 * $spacer;
}

.partner__slogan {
    padding-top: $spacer;
    color: $gray-lighter;
    font-weight: $demi-bold;
    line-height: 1.33;
}

@media (min-width: $breakpoint) {
    .partner__tile {
        height: 210px;
    }
}
