.project-tile {
    @media (min-width: $breakpoint) {
        display: flex;
    }
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 0.6em;
}

.project-tile__picture {
    @media (min-width: $breakpoint) {
        display: block;
        width: 100%;
    }
}

.project-tile__title {
    margin: 0;
}

.project-tile__body {
    padding: 1.25em;
}

.project-tile__date {
    color: $text-secondary-color;
    margin: 0;
}

.project-tile__description {
    margin: 0;
}
