.tabpanel {
    display: none;

    &.active {
        display: block;
    }
}

.tablist {
    border-bottom: 2px solid $brand-info;
    text-align: center;
    margin-bottom: $spacer * 2;
    padding-top: 0.5em;
}

.tab {
    display: inline-block;
    position: relative;
    vertical-align: bottom;
    text-decoration: none;
    color: $text-secondary-color;
    padding: 0.6em 1em;
    margin-right: 0.5em;
    margin-bottom: -2px;

    border: 2px solid transparent;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom: 0;

    &:hover,
    &:focus {
        color: $text-color;
    }

    &.active {
        border-color: $brand-info;
        background-color: $body-bg;
    }
}

.tablist--right {
    text-align: right;
}

.tablist--left {
    text-align: left;
}

.tablist--background {
    background-color: $bg-secondary;
}

// This element is meant to be in combination with tablist--{opposite}
// It should contain elements with class .btn.btn--small

.tablist__right,
.tablist__left {
    font-size: $font-size-sm;
    float: right;

    &.dropdown {
        margin-bottom: 0;
    }
}

.tablist__left {
    float: left;
}

@media (max-width: $breakpoint-xs) {
    .tab {
        margin-right: -4px;
        padding-right: 0.5em;
        padding-left: 0.5em;
    }
}

@media (max-width: $breakpoint) {
    .tablist__right,
    .tablist__left {
        margin-bottom: 1em;
    }

    .tablist__right + nav,
    .tablist__left + nav {
        clear: both;
    }
}
