.tablist {
    border-bottom: 2px solid $brand-secondary;
}

.tab {
    color: $text-secondary-color;
    padding: 0.6em 1em;
    margin-bottom: -2px;
    border: 2px solid transparent;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom: 0;

    &:hover,
    &:focus {
        color: $text-color;
    }

    &.active {
        border-color: $brand-secondary;
        background-color: $body-bg;
    }
}

@media (max-width: $breakpoint-xs) {
    .tab {
        margin-right: -4px;
        padding-right: 0.3em;
        padding-left: 0.3em;
    }

    .tablist__right,
    .tablist__left {
        margin-bottom: 1em;
    }

    .tablist__right + nav,
    .tablist__left + nav {
        clear: both;
    }
}
