.tile {
    display: flex;
    flex-direction: column;
    margin-bottom: $padding;
    page-break-inside: avoid;
    background-color: $body-bg;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.tile__head {
    position: relative;
    flex: 0 1 50%;

    @media print {
        display: none;
    }
}

.tile__image {
    display: block;
    min-height: 11.8em;
    height: 100%;

    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: $brand-secondary;
}

.tile__image__copyright {
    position: absolute;
    top: 0;
    right: 0;
}

.tile__body {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    padding: $padding;

    > :last-child {
        margin-bottom: 0;
    }
}

.tile__text {
    flex: 1 0 auto;
}

.tile__title {
    font-size: $font-size-lg;
    margin-top: 0;

    a {
        text-decoration: none;
        color: inherit;
    }
}

.tile__title,
.tile__text,
.tile__date {
    margin: 0;
}

.tile__date {
    color: $text-secondary-color;
}

@media (min-width: $breakpoint) {
    .tile--horizontal {
        flex-direction: row;
    }
}
