.tile {
    display: flex;
    flex-direction: column;
    margin: 0.5*$r-spacer 0.5*$r-spacer 0.5*$r-spacer 0.5*$r-spacer;
    page-break-inside: avoid;
    overflow-wrap: break-word;
    background-color: $body-bg;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.tile__head {
    position: relative;

    @media print {
        display: none;
    }
}

.tile__icon {
    color: $brand-primary;
}

.tile__image {
    display: block;
    min-height: 11.8em;
    height: 100%;

    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: $brand-secondary;
}

.tile__image__copyright {
    position: absolute;
    top: 0;
    right: 0;
}

.tile__body {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    padding: $padding;

    > :last-child {
        margin-bottom: 0;
    }
}

.tile__text {
    flex: 1 0 auto;
    font-size: $font-size-md;
}

.tile__title {
    margin-top: 0;
    line-height: 1.5;

    a {
        text-decoration: none;
        color: inherit;
    }
}

.tile__title,
.tile__date {
    margin: 0;
}

.tile__date {
    color: $text-secondary-color;
}

@media (min-width: $breakpoint) {
    .tile--horizontal {
        flex-direction: row;

        .tile__head {
            flex: 0 1 30%;
        }
    }

    .tile {
        min-height: 15em;

        margin-bottom: 2 * $padding;
    }
}
