.userindicator__dropdown {
    @media screen and (min-width: $breakpoint) {
        margin-right: 2 * $spacer;
    }

    .btn {
        padding: 0.5em 1em;
    }

    .dropdown-item {
        font-family: $font-family-serif;
    }

    i {
        margin-left: 2 * $padding;
        display: inline-block;
        vertical-align: middle;
    }
}

.userindicator__btn-img {
    margin-right: 0.5em;
    display: inline-block;
    vertical-align: middle;
    width: 3em;
    height: 3em;
    border-radius: 100%;
    border: 2px solid $body-bg;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.userindicator__btn-text {
    display: inline-block;
    vertical-align: middle;
}

.userindicator__hello {
    font-weight: normal;
}

.userindicator__dropdown-menu {
    // background-color: $bg-tertiary;
    // color: contrast-color($bg-tertiary);
    border: 1px solid $body-bg;

    a,
    button {
        border-bottom: 1px solid $body-bg;
    }
}

// .userindicator__dropdown-menu--platform {
//     background-color: $brand-secondary;
//     color: contrast-color($brand-secondary);
// }
