{% load wagtailcore_tags %}

<div class="row">
    {% for example in value.examples %}
        <div class="col-12 col-md-4">
            {% if example.body and not example.link %}
            {{ example.body }}
            {% elif example.body and example.link %}
            {{ example.body }}
            <div class="block-col_cta-content">
                <a href="{{ example.link }}" class="btn btn--full btn--transparent">{{ example.link_text }}</a>
            </div>
            {% else %}
            <div class="block-col_cta-btn">
                <a href="{{ example.link }}" class="btn btn--full btn--transparent">{{ example.link_text }}</a>
            </div>
            {% endif %}
        </div>
    {% endfor %}
</div>
