{% load wagtailcore_tags wagtailimages_tags i18n %}
<div class="container block-usecase">

    <div class="row justify-content-md-center">
        <div class="col-12 col-md-10">
            <h2 class="cms__title--serif cms__title--underlined text-center">{{ value.title }}</h2>
        </div>
    </div>

    <div class="row justify-content-center justify-content-sm-start">
    {% for use_case in value.use_cases %}
        <div class="col-12 col-md-4 cms-use-case__tile">
            <a class="cms__tile-link" href="{% pageurl use_case %}">
                {% if use_case.image %}
                {% image use_case.image fill-500x350 as image %}
                <img src="{{ image.url }}" alt="{{ image.alt }}" />
                {% endif %}
                <div class="cms__text pt-4 text-muted cms__text--serif">
                {% blocktrans with category=use_case.get_category_display %}For {{ category }}{% endblocktrans %}
                </div>
                <h3 class="cms__title--bold">{{ use_case.subtitle }}</h3>
            </a>
        </div>
    {% endfor %}
    </div>

    <div class="row justify-content-center">
        {% if value.demo_platform %}
        <div class="col-12 col-sm-6 col-lg-5">
            <a class="btn btn--full btn--transparent" href="{{ value.demo_platform }}">{% trans 'Visit Demosite' %}</a>
        </div>
        {% endif %}

        {% if value.use_case_page %}
        <div class="col-12 col-sm-6 col-lg-5">
            <a class="btn btn--full btn--transparent" href="{{ value.use_case_page.url }}">{% trans 'View more examples' %}</a>
        </div>
        {% endif %}
    </div>

</div>
