{% extends "a4dashboard/base_dashboard_project.html" %}
{% load i18n %}

{% block title %}{% translate "Offlineevents" %} &mdash; {{ block.super }}{% endblock%}

{% block dashboard_project_content %}
    <div class="lr-bar lr-bar--with-margin">
        <h1 class="mt-0 lr-bar__left">
            {% translate 'Offline Events' %}
        </h1>
        <div class="lr-bar__right">
            <a href="{% url 'a4dashboard:offlineevent-create' organisation_slug=project.organisation.slug project_slug=project.slug %}" class="btn btn--light">
                {% translate 'Add offline event' %}
            </a>
        </div>
    </div>

    <p class="form-hint">{% blocktranslate %}Here, you can include events that take place as part of the participation project.{% endblocktranslate %}</p>

    <ul class="u-list-reset">
        {% for object in object_list %}
            {% include "a4_candy_offlineevents/includes/offlineevent_list_item.html" with object=object %}
        {% empty %}
            {% translate "Nothing to show" %}
        {% endfor %}
    </ul>

    {% include "a4_candy_contrib/includes/pagination.html" %}
{% endblock %}
