{% extends extends %}
{% load static react_polls react_comments_async %}

{% block phase_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 mb-3">
                {% react_polls poll %}
            </div>

            <div class="col-md-8 offset-md-2 mb-3">
                {% react_comments_async obj=object no_control_bar=True %}
            </div>
        </div>
    </div>
{% endblock phase_content %}

{% block extra_js %}
  {{ block.super }}
    <script type="text/javascript" src="{% static 'polls.js' %}"></script>
{% endblock extra_js %}
