{% extends "a4_candy_contrib/includes/form_field.html" %}
{% load widget_tweaks %}

{% block field %}
    <div class="widget widget--{{ field|widget_type }} input-group">
        {% if before %}
            <div class="input-group-prepend"><span class="btn btn--light">{{ before }}</span></div>
        {% endif %}
        {{ field|add_class:'form-control' }}
        {% if after %}
            <div class="input-group-append"><span class="btn btn--light">{{ after }}</span></div>
        {% endif %}
    </div>
{% endblock %}
