{% load i18n contrib_tags %}

<div class="filter-bar__spaced">
   <div class="btn-group me-1 mt-2" role="group" aria-label="{% translate 'View mode toggle' %}">
    {% combined_url_parameter request.GET mode='list' as list_url %}
    <button class="btn btn--default"  aria-label="{% translate 'View as list' %}" data-view="list">
        <i class="fa fa-list" aria-hidden="true"></i>
        {% translate 'List' %}
    </button>
    
    {% combined_url_parameter request.GET mode='map' as map_url %}
    <button class="btn btn--light" aria-label="{% translate 'View as map' %}" data-view="map">
        <i class="fa fa-map" aria-hidden="true"></i>
        {% translate 'Map' %}
    </button>
</div>

    {% for field in filter.form %}
        {% if field.name != 'ordering' %}
          <div class="me-1 mt-2">
            {{ field }}
          </div>
        {% endif %}
    {% endfor %}

    {% if mode != 'map' %}
        <div class="ms-sm-auto mt-2">
            {{ filter.form.ordering }}
        </div>
    {% endif %}
</div>
