{% load i18n contrib_tags %}

<div class="filter-bar__spaced">
    {% if mode == 'map' %}
        {% combined_url_parameter request.GET mode='list' as url_par %}
        <a class="btn btn--light me-1 mt-2" href="{{ url_par }}" aria-label="{% translate 'View as list' %}">
            <i class="fa fa-list" aria-hidden="true"></i>
            {% translate 'View' %}
        </a>
    {% else %}
        {% combined_url_parameter request.GET mode='map' as url_par %}
        <a class="btn btn--light me-1 mt-2" href="{{ url_par }}" aria-label="{% translate 'View as map' %}">
            <i class="fa fa-map" aria-hidden="true"></i>
            {% translate 'View' %}
        </a>
    {% endif %}

    {% for field in filter.form %}
        {% if field.name != 'ordering' %}
          <div class="me-1 mt-2">
            {{ field }}
          </div>
        {% endif %}
    {% endfor %}

    {% if mode != 'map' %}
        <div class="ms-sm-auto mt-2">
            {{ filter.form.ordering }}
        </div>
    {% endif %}
</div>
