{% load socialaccount i18n %}

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
    <h3 class="socialaccounts-heading">{% trans "or use your social media account" %}</h3>
    <ul class="list-group">
    {% for provider in socialaccount_providers %}
        {% if provider.id == "openid" %}
        {% for brand in provider.get_brands %}
        <li class="list-group-item border-0 pl-0">
            <a title="{{ brand.name }}"
               class="socialaccount-provider {{ provider.id }} {{ brand.id }}"
               href="{% provider_login_url provider.id openid=brand.openid_url process=process %}"
            >{{ brand.name }}</a>
        </li>
        {% endfor %}
        {% endif %}
        <li class="list-group-item border-0 pl-0">
            <a title="{% trans 'Login with ' %} {{ provider.name }}"
               class="btn btn--{{ provider.id }} btn--small {{ provider.id }}"
               href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">{% trans 'Login with ' %} {{ provider.id|capfirst }}</a>
        </li>
    {% endfor %}
    </ul>
{% endif %}
