{% extends "a4_candy_account/account_dashboard.html" %}

{% load i18n static thumbnail %}

{% block title %}{% translate 'User Agreements' %} &mdash; {{ block.super }}{% endblock %}
{% block dashboard_content %}
    <h1 class="mt-md-0">{% translate 'User Agreements' %}</h1>
    <p>{% translate 'Here you can edit all your agreements' %}</p>

    <form method="post">
        {% csrf_token %}

        {{ formset.management_form }}
        {% for agreement_form in formset.forms %}
        <div class="u-bottom-divider py-md-3">
            <div class="account__org-info" role="group" aria-labelledby="org_name_{{ forloop.counter }}">
                <div class="d-flex mb-2">
                    <img src="{% if agreement_form.instance.organisation.logo %}{% thumbnail agreement_form.instance.organisation.logo '0x160' %}{% endif %}" alt="logo" class="account__org-image{% if not agreement_form.instance.organisation.logo %} account__org-image--bg{% endif %}" />
                    <h2 id="org_name_{{ forloop.counter }}" class="account__org-name">
                        {{ agreement_form.instance.organisation.name }}
                    </h2>
                </div>

                {% for field in agreement_form.visible_fields %}
                    {% include 'a4_candy_contrib/includes/form_checkbox_field.html' with field=field %}
                {% endfor %}

                {% for hidden in agreement_form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
            </div>
        </div>
        {% endfor %}

        <div class="d-flex justify-content-end mb-3 mt-5">
            <button type="submit" class="btn btn--primary">{% translate 'Save changes'%}</button>
        </div>
    </form>
    {{ form.media }}
{% endblock %}
