{% load i18n contrib_tags %}

<li class="list-item">
    <div class="lr-bar">
        <div class="lr-bar__left">
            <h3>{{ object.name }}</h3>
            {% html_date object.date class='list-item__date' %}
        </div>
        <div class="lr-bar__right">
            <div class="btn--group">
                {% spaceless %}
                    <a href="{% url 'a4_candy_offlineevents:offlineevent-detail' organisation_slug=project.organisation.slug slug=object.slug %}"
                       class="btn btn--small btn--light">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                        {% trans 'View' %}
                    </a>
                    <a href="{% url 'a4dashboard:offlineevent-update' organisation_slug=project.organisation.slug slug=object.slug %}"
                       class="btn btn--small btn--light">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                        {% trans 'Edit'%}
                    </a>
                    <a href="{% url 'a4dashboard:offlineevent-delete' organisation_slug=project.organisation.slug slug=object.slug %}"
                       class="btn btn--small btn--light">
                        <i class="fa fa-times" aria-hidden="true"></i>
                        {% trans 'Delete'%}
                    </a>
                {% endspaceless %}
            </div>
        </div>
    </div>
</li>
