{% load i18n %}
<form enctype="multipart/form-data" action="{{ request.path }}" method="post">
    {% csrf_token %}

    {% include 'a4_candy_contrib/includes/form_field.html' with field=form.event_type %}

    {% include 'a4_candy_contrib/includes/form_field.html' with field=form.name %}

    {% include 'a4_candy_contrib/includes/form_field.html' with field=form.date %}

    {% include 'a4_candy_contrib/includes/form_field.html' with field=form.description %}

    <div class="d-flex justify-content-end mb-3">
        <a href="{{ cancel }}" class="btn btn--light mr-2">{% trans 'Cancel'%}</a>
        <input type="submit" class="btn btn--primary" value="{% trans 'Save'%}" />
    </div>
</form>
