{% load i18n wagtailcore_tags wagtailimages_tags static %}

{% image image fill-700x500 as smallImage %}
{% image image fill-1700x500-c100 as bigImage %}
<div class="homepage-hero">
    <div class="homepage-hero__image d-none d-lg-block" role="img" style="background-image: url({{ bigImage.url }})"></div>
    <div class="homepage-hero__image d-lg-none" role="img" style="background-image: url({{ smallImage.url }})"></div>
    <div class="container homepage-hero__container">
        <div class="homepage-hero__header">
            <h1 class="homepage-hero__title">{{ title }}</h1>
            <div class="homepage-hero__content">
                    {{ subtitle }}
            </div>
        </div>
        {% if image.caption %}
            <div class="btn btn--text-color-inverted btn--square homepage-hero__btn--info" data-toggle="tooltip" data-placement="top" aria-label="{% trans 'Header image: ' %}{% if image.caption %}{{ image.caption }}{% else %}{{ bigImage.alt }}{% endif %}" title="{{ image.caption }}" tabindex="0">
              <i class="fas fa-info" aria-hidden="true"></i>
            </div>
        {% endif %}
    </div>
</div>
