{% load socialaccount i18n %}

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
    <div class="socialaccount">
        <h2 class="socialaccount__title">{% if process == "connect" %}{% translate "Connect a social account" %}{% else %}{% translate "Or continue with" %}{% endif %}</h2>
        <div class="socialaccount__providers">
            {% for provider in socialaccount_providers %}
                {% if provider.id == "openid" %}
                    {% for brand in provider.get_brands %}
                        <a title="{{ brand.name }}" class="socialaccount__provider socialaccount__provider--{{ brand.id }}" href="{% provider_login_url provider.id openid=brand.openid_url process=process %}"><i class="fa-brands fa-{{ brand.id }}" aria-hidden="true"></i><span class="visually-hidden">{{ brand.name }}</span></a>
                    {% endfor %}
                {% endif %}
                <a title="{{ provider.name }}" class="socialaccount__provider socialaccount__provider--{{ provider.id }}" href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
                    {% if provider.id == "dummy" %}<i class="fa-solid fa-right-to-bracket" aria-hidden="true"></i>{% else %}<i class="fa-brands fa-{{ provider.id }}" aria-hidden="true"></i>{% endif %}
                    <span class="visually-hidden">{% translate "Login with" %} {{ provider.name|capfirst }}</span>
                </a>
            {% endfor %}
        </div>
    </div>
{% endif %}
