input,
textarea {
    border-color: $brand-primary;
    box-shadow: 0 0 2px $brand-primary-tint inset;

    &:invalid {
        border-color: $brand-danger;
        box-shadow: 0 0 2px $brand-danger-tint inset;
        color: $brand-danger;
    }

    &:disabled {
        color: $input-border-color;
        box-shadow: none;
        cursor: not-allowed;
    }

    &:focus {
        border-color: $brand-secondary;
        box-shadow: 0 0 2px $brand-secondary-tint inset;
    }
}

input[type="checkbox"],
input[type="radio"] {
    padding: 0;
    border: 0;
    box-shadow: none;
}
