// should be used with ul/ol
@mixin grid-tiles($n, $settings: ()) {
    @include clearfix;

    > * {
        @include grid-same-width($n, $settings);
    }

    @supports (display: grid) {
        display: grid;
        grid-column-gap: _grid-get('gutter', $settings);
        grid-template-columns: repeat($n, 1fr);

        > * {
            margin-left: 0 !important;
            margin-right: 0 !important;
            width: auto !important;
        }
    }
}

.l-wrapper {
    @extend .container;
    position: relative;
    display: flow-root;
}

.l-center-10 {
    @extend .col-sm-10;
    @extend .offset-sm-1;
}

.l-center-8 {
    @extend .col-sm-10;
    @extend .col-md-8;
    @extend .offset-sm-1;
    @extend .offset-md-2;
}

.l-center-6 {
    @extend .col-sm-8;
    @extend .col-md-6;
    @extend .offset-sm-2;
    @extend .offset-md-3;
}

.l-col-3-0 {
    @extend .col-sm-3;
}

.l-col-9-3 {
    @extend .col-sm-9;
    @extend .offset-sm-3;
}

.l-col-5-0 {
    @extend .col-sm-5;
}

.l-col-6-0 {
    @extend .col-sm-6;
}

.l-col-8-0 {
    @extend .col-sm-8;
}

.l-col-9-0 {
    @extend .col-sm-9;
}

.l-col-5-7 {
    @extend .col-sm-5;
    @extend .offset-sm-7;
}

.l-col-4-8 {
    @extend .col-sm-4;
    @extend .offset-sm-8;
}

.l-col-3-9 {
    @extend .col-sm-3;
    @extend .offset-sm-9;
}

.l-tiles-2,
.l-tiles-3,
.l-tiles-4 {
    margin: 0;
    padding: 0;
    list-style: none;
}

@media (min-width: $breakpoint) {
    .l-tiles-2 {
        @include grid-tiles(2);
    }

    .l-tiles-3 {
        @include grid-tiles(3);
    }

    .l-tiles-4 {
        @include grid-tiles(2);
    }
}

@media (min-width: $breakpoint-md) {
    .l-tiles-4 {
        @include grid-tiles(4);
    }
}

.l-top-overlap {
    position: relative;
    z-index: 1;
    bottom: -1em;
}

.l-bottom-overlap {
    position: relative;
    z-index: 1;
    top: -1em;
}
