@media (min-width: $breakpoint) {
    .l-col-3-0 {
        @include grid-span(3, 0);
    }

    .l-col-9-3 {
        @include grid-span(9, 3);
    }

    .l-col-5-0 {
        @include grid-span(5, 0);
    }

    .l-col-8-0 {
        @include grid-span(8, 0);
    }

    .l-col-4-8 {
        @include grid-span(4, 8);
    }
}

.l-outer-wrapper {
    max-width: 81rem;
    margin: 0 auto;
    box-shadow: 0 0 2em $shadow;
}
