// subset of bootstrap variables

$brand-primary: #008dc5;
$brand-secondary: #00a747;

$text-color: #333;
$text-secondary-color: #666;
$overlay: rgba(#000, 0.5);

$bg-tertiary: contrast-stretch($text-color, mix($brand-primary, $body-bg, 30%), 7);
$bg-secondary: mix($bg-tertiary, $body-bg, 50%);

$platform-primary: #46caad;
$platform-danger: #d0011b;

$link-color: contrast-stretch($body-bg, $brand-primary);
$link-hover-color: darken($link-color, 15%);

$border-color: #666;
$input-border-color: $border-color;

$font-family-sans-serif: "Source Sans Pro", sans-serif;

$headings-font-weight: 600;

$font-size-xxl: 2.25rem;
$font-size-xl: 1.5rem;
$font-size-lg: 1.125rem;
$font-size-sm: 0.8rem;
$font-size-xs: 0.64rem;

@include grid-set('gutter', $padding);
$planifolia-contrast-dark-default: $text-color;
$planifolia-contrast-light-default: $text-color-inverted;

$FontPathSourceSansPro: '~npm-font-source-sans-pro/fonts';
