// subset of bootstrap variables

$brand-primary: #008dc5 !default;
$brand-secondary: #00a747 !default;
$brand-danger: #a72b1e !default;

/* Don't use variables but hex-values here as they should not be overwritten on partner pages */
$brand-success: #90efe4 !default; // $brand-secondary from platform.scss
$brand-info: #2d40cc !default; // $brand-primary from platform.scss
$brand-warning: #ffc107 !default;
$brand-danger: #d0011b !default; // $plattform-danger

$platform-primary: #46caad !default;
$platform-danger: #d0011b !default;

$body-bg: #fff !default;

$text-color: #1a1a1a !default;
$text-secondary-color: #666 !default;
$overlay: rgba(#000, 0.5) !default;

$brand-primary-tint: contrast-stretch($text-color, mix($brand-primary, $body-bg, 30%), 7) !default;
$brand-secondary-tint: contrast-stretch($text-color, mix($brand-secondary, $body-bg, 30%), 7) !default;
$brand-danger-tint: contrast-stretch($text-color, mix($brand-danger, $body-bg, 30%), 7) !default;

$bg-tertiary: $brand-primary-tint !default;
$bg-secondary: mix($bg-tertiary, $body-bg, 50%) !default;

$gray-light: #4d4d4d;
$gray-lighter: $text-secondary-color;

$demi-bold: 600;
$headings-font-weight: $demi-bold !default;

$link-color: $text-color !default;
$link-hover-color: darken($link-color, 15%) !default;

$border-color: #666 !default;
$input-border-color: $border-color !default;

$font-family-sans-serif: "Libre Franklin", sans-serif !default;

$font-size-xxl: 2.25rem !default;
$font-size-xl: 1.5rem !default;
$font-size-lg: 1.125rem !default;
$font-size-sm: 0.8rem !default;
$font-size-xs: 0.64rem !default;

$wrapper-width: 79rem !default;

$hero-height: 25.5rem !default;
$hero-height-secondary: 20rem !default;
$hero-height-mobile: 12rem !default;
