// subset of bootstrap variables

$body-bg: #fff;
$bg-secondary: #f5f5f5;
$bg-tertiary: #e6e6e6;
$text-color: #191919;
$text-color-inverted: $body-bg;
$text-secondary-color: #999;
$shadow: rgba(#000, 0.25);
$overlay: rgba(#000, 0.5);
$print-black: #000;

$brand-primary: contrast-stretch($body-bg, #328ee1);
$brand-primary-tint: contrast-stretch($text-color, #328ee1);
$brand-secondary: #253276;
$brand-success: #0a820a;
$brand-info: #fdd216;
$brand-warning: #f0ad4e;
$brand-danger: #dc3918;

$platform-primary: #46caad;
$platform-danger: #d0011b;

$link-color: $brand-primary;
$link-hover-color: darken($link-color, 15%);

$border-color: #666;
$input-border-color: $border-color;

$feedback-color-accepted: #0a820a;
$feedback-color-rejected: #dc3818;
$feedback-color-consideration: #ffae00;

$spacer: 1em;
$padding: 1rem;

$font-family-sans-serif: "Source Sans Pro", sans-serif;

$headings-font-weight: 600;

$font-size-xxl: 2.25rem;
$font-size-xl: 1.5rem;
$font-size-lg: 1.125rem;
$font-size-sm: 0.8rem;
$font-size-xs: 0.64rem;

$breakpoint: 50em;
$breakpoint-md: 64em;

$hero-height: 31em;
$hero-height-secondary: 30em;
$hero-height-mobile: 18.4em;

@include grid-set('gutter', $padding);
$planifolia-contrast-dark-default: $text-color;
$planifolia-contrast-light-default: $text-color-inverted;

$FontPathSourceSansPro: '~npm-font-source-sans-pro/fonts';
