{% load i18n %}
<form novalidate enctype="multipart/form-data" action="{{ request.path }}" method="post">
    {% csrf_token %}
    {{ form.media }}

    {% include 'a4_candy_contrib/includes/form_field.html' with field=form.name %}

    {% include 'a4_candy_contrib/includes/form_field.html' with field=form.description %}

    {% if form.show_categories %}
        {% include 'a4_candy_contrib/includes/form_field.html' with field=form.category %}
    {% endif %}

    {% if form.show_labels %}
        {% include 'a4_candy_contrib/includes/form_field.html' with field=form.labels %}
    {% endif %}

    {% include 'a4images/uppy_image_upload_field.html' with field=form.image form_field_template='a4_candy_contrib/includes/form_field.html' aspect_ratio='1.5' output_width=600 output_height=400 min_width=600 min_height=400 %}
    {% include 'a4images/uppy_image_upload_assets.html' %}

    {% include 'a4_candy_contrib/includes/form_checkbox_field.html' with field=form.right_of_use %}

    {% include 'a4_candy_contrib/includes/form_field_with_addon.html' with field=form.budget after='€' %}

    {% include 'a4_candy_contrib/includes/form_field.html' with field=form.point %}

    {% include 'a4_candy_contrib/includes/form_field.html' with field=form.point_label %}

    {% include 'a4_candy_contrib/includes/form_checkbox_field.html' with field=form.organisation_terms_of_use %}

    {% include 'a4_candy_contrib/includes/form_field.html' with field=form.creator_email %}
    {% include 'a4_candy_contrib/includes/form_field.html' with field=form.creator_phone %}
    {% include 'a4_candy_contrib/includes/form_checkbox_field.html' with field=form.creator_contact_consent %}
    <div class="d-flex justify-content-end mb-3">
        <a href="{{ cancel }}" class="btn btn--secondary me-2">{% translate 'Cancel' %}</a>
        <button type="submit" class="btn btn--primary">{% translate 'Save' %}</button>
    </div>
</form>
