{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags i18n %}

{% block title %}
    {{ self.title }} &mdash; {{ block.super }}
{% endblock %}

{% block content %}
<div class="cms__wrapper pt-5">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-10">
                <div class="cms__text">
                    {{ page.first_published_at|date }}
                </div>
                <h1 class="cms__title--bold cms-page__header-margin">{{ page.subtitle }}</h1>
            </div>
        </div>
        {% if page.image %}
        <div class="row justify-content-md-center">
            <div class="col-12">
                {% image page.image width-1200 %}
            </div>
        </div>
        {% endif %}
        <div class="row justify-content-md-center pt-5">
            <div class="col-12 col-md-10 cms__text">
                {{ page.body }}
            </div>
        </div>
        <div class="row justify-content-md-center pt-5 pb-5">
            <div class="cms__text">
                <a href="{{ page.get_parent.url }}" class="btn btn--transparent">{% trans 'Back to overview' %}</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
