{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block title %}{% endblock %}

{% block content %}
<div class="cms__wrapper pt-5">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-10">
                <div class="cms-news__text">
                    {{ page.first_published_at|date }}
                </div>
                <h1 class="cms__title--bold cms-news__header-margin">{{ page.subtitle }}</h1>
            </div>
        </div>
        {% if page.image %}
        <div class="row justify-content-md-center">
            <div class="col-12">
                {% image page.image width-1200 %}
            </div>
        </div>
        {% endif %}
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-10 cms-news__text">
                {{ page.body }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
