{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block title %}
    {{ self.title }} &mdash; {{ block.super }}
{% endblock %}

{% block content %}
<div class="cms__wrapper">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-lg-10">
                <h1 class="cms__title--serif cms__title--underlined cms__title--h2-size text-center">{{ page.subtitle }}</h1>
                <div class="row justify-content-start">
                {% for post in news %}
                    <div class="col-12 col-md-6 cms-news__tile">
                        <a class="cms__tile-link" href="{% pageurl post %}">
                            <div class="cms__text">
                                {{ post.first_published_at|date }}
                            </div>
                            <h2 class="cms__title--bold cms-news__header-margin cms__title--h3-size">{{ post.subtitle }}</h2>
                            <div class="cms__text">
                                {{ post.teaser }}
                            </div>
                        </a>
                    </div>
                {% endfor %}
                </div>
                <div class="text-center">
                {% include "a4_candy_contrib/includes/pagination.html" with page_obj=news %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
