{% load i18n static thumbnail %}

{% if request.user.is_authenticated %}
    <div class="dropdown dropdown--right userindicator__dropdown">

        <button
            class="d-md-none dropdown-toggle btn btn--secondary-filled btn--square btn--attached-top header-upper__mobile-toggle"
            data-toggle="dropdown"
            data-flip="false"
            aria-haspopup="true"
            aria-expanded="false"
            id="user-actions">
            <span class="d-none d-sm-inline-block pr-1">{% trans 'Menu' %}</span>
        </button>

        <button
            class="d-none d-md-inline-block dropdown-toggle btn btn--secondary-filled btn--attached-top btn--square btn--align-left header-upper__toggle"
            data-toggle="dropdown"
            data-flip="false"
            aria-haspopup="true"
            aria-expanded="false"
            id="user-actions"
        >
            <div class="userindicator__btn-img" style="background-image: {% if request.user.avatar %} url({{ request.user.avatar|thumbnail_url:'avatar'}}) {% else %}  url({{ request.user.avatar_fallback }}) {% endif %}"></div>
            <div class="userindicator__btn-text text-left">
                <span class="userindicator__hello">{% trans "Hello" %}</span>
                <br>
                <div class="u-overflow-ellipsis">{{ request.user.username }}</div>
            </div>
            <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </button>

        <div class="dropdown-menu dropdown-menu-right userindicator__dropdown-menu" aria-labelledby="user-actions">
            {% if request.user.is_superuser %}
                <a class="dropdown-item" href="{% url 'admin:index' %}">{% trans "Admin" %}</a>
            {% endif %}
            <a class="dropdown-item" href="{% url 'account' %}">{% trans "Account Settings" %}</a>

            <a class="dropdown-item" href="{% url 'profile' request.user.username %}">{% trans 'View your profile' %}</a>

            {% for organisation in request.user.organisations %}
            <a class="dropdown-item" href="{% url 'a4dashboard:project-list' organisation_slug=organisation.slug %}">
                    {{ organisation.name }}
                </a>
            {% endfor %}

            <form class="form--inline" action="{% url 'account_logout' %}" method="post" aria-label="{% trans 'Logout' %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ redirect_field_value }}">
                    <button type="submit" class="dropdown-item">{% trans "Logout" %}</button>
            </form>
        </div>

    {% else %}
        <div class="btn btn--secondary-filled btn--huge btn--attached-top">
            <span class="navi__item"><a href="{% url 'account_login' %}?next={{ redirect_field_value }}">{% trans "Login" %}</a></span>
                <span class="d-none d-md-inline">/</span>
            <span class="navi__item"><a href="{% url 'account_signup' %}?next={{ redirect_field_value }}">{% trans "Register" %}</a></span>
        </div>
    </div>
{% endif %}
