{% extends "base.html" %}
{% load rules i18n thumbnail %}

{% block title %}{{ object.username }} &mdash; {{ block.super }}{% endblock %}

{% block content %}
    <div class="container mb-4">
        <div class="row">
            <div class="col-12 tabs tablist mt-4 mb-0">
                <nav class="nav" role="tablist">
                    <a
                        id="tab-user-{{ user.pk }}-info"
                        class="tab d-md-none"
                        data-toggle="tab"
                        href="#tabpanel-user-{{ user.pk }}-info"
                        role="tab"
                        aria-controls="tabpanel-user-{{ user.pk }}-info"
                        aria-expanded="true">
                        {% trans 'Info' %}
                    </a>
                    <a
                        id="tab-user-{{ user.pk }}-participation"
                        class="tab active"
                        data-toggle="tab"
                        href="#tabpanel-user-{{ user.pk }}-participation"
                        role="tab"
                        aria-controls="tabpanel-user-{{ user.pk }}-participation"
                        aria-expanded="true">
                        {% trans 'Participations' %}
                    </a>
                    <a
                        id="tab-user-{{ user.pk }}-activities"
                        class="tab"
                        data-toggle="tab"
                        href="#tabpanel-user-{{ user.pk }}-activities"
                        role="tab"
                        aria-controls="tabpanel-user-{{ user.pk }}-activities"
                        aria-expanded="false">
                        {% trans 'Activities' %}
                    </a>
                </nav>
            </div>
        </div>

          <div class="row pt-4 bg-white">
                <div class="col-md-3">
                    <div
                        class="tabpanel user-profile user-profile__side"
                        id="tabpanel-user-{{ user.pk }}-info"
                        role="tabpanel"
                        aria-labelledby="tab-user-{{ user.pk }}-info"
                        aria-expanded="false">
                          {% if object.avatar %}<img class="user-profile__avatar mb-2" src="{% thumbnail object.avatar '170x170' crop %}" alt="" />{% endif %}

                          <h1 class="mt-0 u-word-break-all">
                          {{ object.username }}
                          </h1>

                          {% if object.bio %}<p>{{ object.bio }}</p>{% endif %}

                          <ul class="u-list-reset">
                              {% if object.homepage %}
                                  <li>
                                      <i class="fas fa-link" aria-label="{% trans 'Homepage' %}" title="{% trans 'Homepage' %}"></i>
                                      <a href="{{ object.homepage }}">{{ object.homepage }}</a>
                                  </li>
                              {% endif %}
                              {% if object.facebook_handle %}
                                  <li>
                                      <i class="fab fa-facebook-square" aria-label="{% trans 'Facebook' %}" title="{% trans 'Facebook' %}"></i>
                                      <a href="https://www.facebook.com/{{ object.facebook_handle }}">{{ object.facebook_handle }}</a>
                                  </li>
                              {% endif %}
                              {% if object.twitter_handle %}
                                  <li>
                                      <i class="fab fa-twitter" aria-label="{% trans 'Twitter' %}" title="{% trans 'Twitter' %}"></i>
                                      <a href="https://twitter.com/{{ object.twitter_handle }}">{{ object.twitter_handle }}</a>
                                  </li>
                              {% endif %}
                          </ul>

                          {% comment 'This code can be used as soon as we several partners on the plattform' %}
                          <h2 class="u-heading--sm text-uppercase">{% trans 'Active in these platforms' %}</h2>
                          {% if view.organisations %}
                              <ul class="u-list-reset">
                                  {% for organisation in view.organisations %}
                                      <li>
                                          <a class="list-item-tiny" href="{% url 'organisation' organisation_slug=organisation.slug %}">
                                              <img class="list-item-tiny__image" src="{% thumbnail organisation.logo '50x50' crop %}" alt="" />
                                              <span class="list-item-tiny__body">{{ organisation.name }}</span>
                                          </a>
                                      </li>
                                  {% endfor %}
                              </ul>
                          {% else %}
                              {% trans 'This user is not active in any platform yet.' %}
                              {% if object == request.user %}
                                  <a href="/">{% trans 'Check some platforms out.' %}</a>
                              {% endif %}
                          {% endif %}
                          {% endcomment %}
                      </div>
                  </div>

                  <div
                      class="user-profile__main col-md-9 tabpanel active"
                      id="tabpanel-user-{{ user.pk }}-participation"
                      role="tabpanel"
                      aria-labelledby="tab-user-{{ user.pk }}-participation"
                      aria-expanded="true">
                      <ul class="l-tiles-2">
                      {% for project in view.projects %}
                              {% include 'a4_candy_projects/includes/project_list_tile.html' with project=project orientation='vertical' %}
                      {% empty %}
                          {% trans 'This user is not active in any projects yet.' %}
                      {% endfor %}
                      </ul>
                  </div>
                  <div
                      class="user-profile__main col-md-9 tabpanel"
                      id="tabpanel-user-{{ user.pk }}-activities"
                      role="tabpanel"
                      aria-labelledby="tab-user-{{ user.pk }}-activities"
                      aria-expanded="false">
                      {% for action in view.actions %}
                              {% include 'a4_candy_actions/includes/action.html' with action=action %}
                      {% empty %}
                          {% trans 'No activity yet. '%}
                      {% endfor %}
                  </div>
        </div>

            </div>
        </div>
{% endblock %}
