{% extends "base.html" %}
{% load rules i18n thumbnail wagtailcore_tags %}

{% block content %}
    {% block dashboard_nav %}
    <div class="tablist tablist--left mt-3">
        <div class="container">
            <nav class="d-none d-sm-inline-block" aria-label="{% trans 'My dashboard' %}">
                <a href="{% url 'userdashboard-overview' %}"
                   class="tab {% ifequal view.menu_item 'overview' %}active{% endifequal %}">

                    {% trans 'Overview' %}
                </a>
                {% has_perm 'a4_candy_userdashboard.view_moderation_dashboard' user as user_is_moderator %}
                {% if user_is_moderator %}
                <a href="{% url 'userdashboard-moderation' %}"
                   class="tab {% if view.menu_item == 'moderation' or  '/detail' in request.get_full_path %}active{% endif %}">
                    {% trans 'Moderation' %}
                </a>
                {% endif %}
            </nav>
            {% include 'includes/userdashboard_mobile_toggle.html' %}
        </div>
    </div>

    <div class="container">
        <div class="row py-md-4 mb-5">

          <!-- hide user side menu on load more pages on mobile -->
            <nav aria-label="{% trans 'My profile' %}" class="col-sm-4 col-lg-3 {% if '/following' in request.get_full_path or '/activities' in request.get_full_path %} d-none d-sm-block {% endif %}">
                <div class="tabpanel userdashboard-profile userdashboard-profile__side">

                    <div class="userdashboard-profile__user mb-3">
                        <div class="dropdown text-end">
                            <button
                                title="{% trans 'My user Settings' %}"
                                type="button"
                                class="dropdown-toggle btn btn--none btn--small"
                                data-bs-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false"
                                id="account-settings"
                            >
                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="account-settings">

                                <a class="dropdown-item" href="{% url 'account' %}">{% trans 'Account Settings' %}</a>
                            </div>
                        </div>

                        <a href="{% url 'profile' user.username %}" aria-label="{% trans 'Link to profile:' %}{{ user.username }}">
                            {% if user.avatar %}
                                <img class="userdashboard-profile__avatar mb-2" src="{% thumbnail user.avatar '170x170' crop %}" alt="" />
                            {% else %}
                                <img class="userdashboard-profile__avatar mb-2" src="{{ user.avatar_fallback }}" width="170" height="170" alt="" />
                            {% endif %}
                            <h2 class="userdashboard-profile__name">
                            {{ user.username }}
                            </h2>
                        </a>
                        <div>
                            {% trans 'Since' %} {{ request.user.date_joined|date:"d M Y" }}
                        </div>
                    </div>

                    {% with pages=settings.a4_candy_cms_settings.ImportantPages %}
                    {% if pages.manual_link %}
                        <a class="btn btn--light btn--full" href="{{ pages.manual_link }}">{% trans 'Manual' %}</a>
                    {% endif %}
                    {% endwith %}

                    <!-- desktop -->
                    {% if request.user.organisations %}
                    <div class="d-none d-sm-block mb-5">
                      <h2 class="fs-6">{% trans 'Initiator Organisations' %}</h2>
                      {% for organisation in request.user.organisations %}
                      <div>
                          <a class="btn btn--link text-decoration-none text-muted d-flex align-items-center" href="{% url 'a4dashboard:project-list' organisation_slug=organisation.slug %}">
                            {% if organisation.logo %}
                              <img
                                src="{% thumbnail organisation.logo '0x40' %}"
                                alt="{% if organisation.title %}{{ organisation.title }}{% else %}{{ organisation.name}}{% endif %}"
                              />
                            {% else %}
                              <i
                                class="fas fa-home font--lg action__icon"
                                role="img"
                                aria-label="{% if organisation.title %}{{ organisation.title }}{% else %}{{ organisation.name}}{% endif %} {% trans 'Home' %}"
                              ></i>
                            {% endif %}
                            <div class="ms-3 text-start">{% if organisation.title %}{{ organisation.title }}{% else %}{{ organisation.name}}{% endif %}</div>
                          </a>
                      </div>
                      {% endfor %}
                    </div>

                    <!-- mobile -->
                    <div class="d-sm-none mb-4">
                        <h2 class="fs-6">
                            <button class="userdashboard__collapsible"
                                aria-expanded="true"
                                data-bs-toggle="collapse"
                                data-bs-target="#userDashboardCollapseOrgInt"
                                aria-controls="userDashboardCollapseOrgInt"
                            >
                              {% trans 'Initiator Organisations' %}
                              <i class="fa fa-chevron-up" aria-hidden="true"></i>
                            </button>
                        </h2>
                        <ul class="u-list-reset collapse show" id="userDashboardCollapseOrgInt">
                          {% for organisation in request.user.organisations %}
                                <li>
                                   <a href="{% url 'a4dashboard:project-list' organisation_slug=organisation.slug %}"
                                      class="text-decoration-none text-muted d-flex align-items-center mb-2" >
                                     {% if organisation.logo %}
                                       <img
                                        src="{% thumbnail organisation.logo '0x40' %}"
                                        alt="{% if organisation.title %}{{ organisation.title }}{% else %}{{ organisation.name}}{% endif %}"
                                      />
                                     {% else %}
                                       <i
                                        class="fas fa-home font--lg action__icon"
                                        role="img"
                                        aria-label="{% if organisation.title %}{{ organisation.title }}{% else %}{{ organisation.name}}{% endif %} {% trans 'Home' %}"
                                      ></i>
                                     {% endif %}
                                     <div class="ms-3 text-start">{% if organisation.title %}{{ organisation.title }}{% else %}{{ organisation.name}}{% endif %}</div>
                                   </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    <!-- mobile end -->


                    <!-- desktop -->
                    <div class="d-none d-sm-block mb-5">
                        <h2 class="fs-6">{% trans 'Organisations' %}</h2>
                        {% if view.organisations %}
                        {% for organisation in view.organisations %}
                        <a class="btn btn--link text-decoration-none text-muted d-flex align-items-center" href="{% url 'organisation' organisation_slug=organisation.slug %}">
                          {% if organisation.logo %}
                            <img
                              src="{% thumbnail organisation.logo '0x40' %}"
                              alt="{% if organisation.title %}{{ organisation.title }}{% else %}{{ organisation.name}}{% endif %}"
                            />
                          {% else %}
                            <i
                              class="fas fa-home font--lg action__icon"
                              role="img"
                              aria-label="{% if organisation.title %}{{ organisation.title }}{% else %}{{ organisation.name}}{% endif %} {% trans 'Home' %}"
                            ></i>
                          {% endif %}
                            <div class="ms-3 text-start">{% if organisation.title %}{{ organisation.title }}{% else %}{{ organisation.name}}{% endif %}</div>
                        </a>
                        {% endfor %}
                        {% else %}
                        <div class="mb-3">

                            {% trans 'You are not yet following any projects.' %}
                        </div>
                        {% endif %}
                    </div>

                    <!-- mobile -->
                    <div class="d-sm-none mb-4">
                      {% if view.organisations %}
                    <h2 class="fs-6">
                        <button
                            class="userdashboard__collapsible"
                            aria-expanded="true"
                            data-bs-toggle="collapse"
                            data-bs-target="#userDashboardCollapseOrg"
                            aria-controls="userDashboardCollapseOrg"
                        >
                            {% trans 'Organisations' %}
                            <i class="fa fa-chevron-up" aria-hidden="true"></i>
                        </button>
                    </h2>
                        <ul class="u-list-reset collapse show" id="userDashboardCollapseOrg">
                          {% for organisation in view.organisations %}
                                <li>
                                   <a href="{% url 'organisation' organisation_slug=organisation.slug %}"
                                   class="text-decoration-none text-muted d-flex align-items-center mb-2" >
                                     {% if organisation.logo %}
                                       <img src="{% thumbnail organisation.logo '0x40' %}" alt="{% if organisation.title %}{{ organisation.title }}{% else %}{{ organisation.name}}{% endif %}" />
                                     {% else %}
                                       <i
                                        class="fas font--lg fa-home action__icon"
                                        role="img"
                                        aria-label="{% if organisation.title %}{{ organisation.title }}{% else %}{{ organisation.name}}{% endif %} {% trans 'Home' %}"
                                      ></i>
                                     {% endif %}
                                     <div class="ms-3 text-start">{% if organisation.title %}{{ organisation.title }}{% else %}{{ organisation.name}}{% endif %}</div>
                                   </a>
                                </li>
                            {% endfor %}
                        </ul>
                        {% else %}

                        <h3>{% trans 'Organisations' %}</h3>
                        <div class="mb-3">

                            {% trans 'You are not yet following any projects.' %}
                        </div>
                        {% endif %}
                    </div>
                    <!-- mobile end -->

                </div>
            </nav>
            {% endblock %}

            <div class="col-sm-8 col-lg-9">
                {% block dashboard_content %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
