{% extends "a4_candy_userdashboard/base_userdashboard.html" %}
{% load i18n thumbnail %}

{% block dashboard_content %}
    <h1 class="visually-hidden">
      {% trans 'Your User Overview' %}
    </h1>

    <h2 class="mt-sm-0 d-inline-block">
      <span id="sr-following-header" class="visually-hidden">{% trans 'Selection of projects I am following' %}</span>
      {% trans 'Following' %}
    </h2>
    {% if view.projects_carousel %}
      <div class="project-tile-carousel">
        {% for project in view.projects_carousel %}
          {% include 'a4_candy_projects/includes/project_list_tile.html' with object=project project=project orientation='vertical' type='project' url=project.get_absolute_url %}
        {% endfor %}
      </div>
    {% else %}
      <div class="mb-5">
        {% trans 'You are not active in any projects yet.' %}
      </div>
    {% endif %}

    {% include "a4_candy_notifications/_notification_card.html" with section_id="all_notifications" unread_count=unread_count title=all_notifications_title description="" notifications_list=all_notifications empty_icon="fa-comments" empty_message=interactions_empty pagination_required=False page_obj=None param_name="" %} 
    
{% endblock dashboard_content %}
