{% extends "a4_candy_userdashboard/base_userdashboard.html" %}
{% load i18n thumbnail %}

{% block dashboard_content %}

<h3 class="mt-0">{% trans 'Following' %}</h3>
<div class="row">
{% for project in view.projects %}
<div class="col-sm-6 col-lg-4">
        {% include 'a4_candy_projects/includes/project_tile_userprofile.html' with project=project orientation='vertical' %}
</div>
{% empty %}
    {% trans 'This user is not active in any projects yet.' %}
{% endfor %}
</div>

{% for action in view.actions|slice:":5" %}
        {% include 'a4_candy_actions/includes/action.html' with action=action %}
{% empty %}
    {% trans 'No activity yet. '%}
{% endfor %}
{% if view.actions.count > 5 %}
  <a href="{% url 'userdashboard-activities' %}">{% trans 'View more' %}</a>
{% endif %}
{% endblock %}
