{% extends "a4_candy_userdashboard/base_userdashboard.html" %}
{% load i18n %}

{% block dashboard_content %}
    <a class="btn btn--none pl-0 pt-0" href="{% url 'userdashboard-overview' %}">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
        {# Translators: kosmo #}
        <span>{% trans 'Back to overview' %}</span>
    </a>
    {# Translators: kosmo #}
    <h3 class="mt-2">{% trans 'Activities' %}</h3>

    {% for action in view.actions %}
        {% include 'a4_candy_actions/includes/action.html' with action=action %}
    {% endfor %}

{% endblock %}
