{% extends "a4_candy_userdashboard/base_userdashboard.html" %}
{% load i18n %}

{% block dashboard_content %}
    <a class="btn btn--none px-0" href="{% url 'userdashboard-overview' %}">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>

        <span>{% trans 'Back to overview' %}</span>
    </a>

    <h1 class="visually-hidden">
        {% trans 'Your User Overview' %}
    </h1>

    <section aria-labelledby="sr-activity-header">
        <h2 class="mt-2"><span id="sr-activity-header" class="visually-hidden">{% trans 'My activity feed' %}</span>{% trans 'My Feed' %}</h2>

        {% for action in view.actions %}
            {% include 'a4_candy_actions/includes/reaction.html' with action=action %}
        {% endfor %}

    </section>

{% endblock %}
