{% extends "a4dashboard/base_dashboard.html" %}
{% load i18n %}

{% block title %}{% trans "Newsletter" %} &mdash; {{ block.super }}{% endblock%}

{% block dashboard_content %}
<div class="col-md-10 col-lg-8 offset-md-1 offset-lg-2">
    <h1>{% trans "Create Newsletter" %}</h1>

    <form enctype="multipart/form-data" action="{{ request.path }}" method="post">
        {% csrf_token %}
        {% include 'a4_candy_contrib/includes/form_field.html' with field=form.project %}

        <div class="row">
            <div class="col-sm">
            {% include 'a4_candy_contrib/includes/form_field.html' with field=form.sender_name %}
            </div>
            <div class="col-sm">
            {% include 'a4_candy_contrib/includes/form_field.html' with field=form.sender %}
            </div>
        </div>
        {% include 'a4_candy_contrib/includes/form_field.html' with field=form.subject %}
        {% include 'a4_candy_contrib/includes/form_field.html' with field=form.body %}

        {{ form.receivers }}
        <input type="hidden" id="{{ form.organisation.id_for_label}}" name="{{form.organisation.html_name}}" value="{{view.organisation.id}}" />

        <div class="d-flex justify-content-end mb-3">
            <a href="{% url 'a4dashboard:project-list' organisation_slug=view.organisation.slug %}" class="btn btn--light mr-2">{% trans 'Cancel'%}</a>
            <input type="submit" class="btn btn--primary" name="send" value="{% trans 'Send'%}" />
        </div>
    </form>
    {{ form.media }}
</div>
{% endblock %}
