{% extends 'base.html' %}
{% load thumbnail i18n humanize %}

{% block title %}{{partner.name}}{% endblock %}

{% block super_content %}
    <div class="hero-unit" style="background-image: url({% thumbnail partner.image "1500x610" crop %});"></div>

    <div class="l-wrapper">
        <div class="partner__logo-box">
            <img src="{% thumbnail PARTNER.logo '0x160' %}" height="80" alt="{{ PARTNER.name }}" class="partner__logo-img" />
        </div>
    </div>

    <div class="l-wrapper partner__header">
        <div class="l-col-6-0">
            <h1 class="u-no-margin marked-box">{{ partner.title }}</h1>
            <h2 class="u-no-margin partner__slogan">{{ partner.slogan }}</h2>
        </div>
        <div class="l-col-5-7 partner__description">
            {{ partner.description }}
        </div>
    </div>

    <div class="l-wrapper">
        <div class="l-col-9-0">
            <ul class="u-list-reset">
                {% for project in project_list %}
                    <li>
                        {% include 'liqd_product_projects/includes/project_list_tile.html' with project=project %}
                    </li>
                {% endfor %}
            </ul>
        </div>

        <aside class="l-col-3-9 aside">
            <div class="aside__block">
                <h2 class="aside__block__title heading3">{% trans 'Activity' %}</h2>
                <div>
                    {% for action in action_list %}
                        {% include 'liqd_product_actions/includes/action.html' with action=action %}
                    {% empty %}
                        {% trans 'No activity yet. '%}
                    {% endfor %}
                </div>
            </div>
        </aside>
    </div>
{% endblock %}
