{% extends "a4_candy_contrib/item_detail.html" %}
{% load i18n %}

{% block additional_content %}
    {% if object.custom_field_answers.all %}
        <div class="item-detail__custom-fields">
            {% for answer in object.custom_field_answers.all %}
                <div class="form-group">
                    <label>{{ answer.field.label }}</label>
                    <p>{{ answer.display_value }}</p>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock additional_content %}
