{% extends "socialaccount/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
    <h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans with provider_name=account.get_provider.name site_name=current_site %}You are about to use your {{provider_name}} account to login to
{{site_name}}. As a final step, please complete the following form:{% endblocktrans %}</p>

<form id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
        {{ form.non_field_errors }}
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
                {{ hidden }}
                {{ hidden.errors }}
        {% endfor %}

        <div class="form-group">
            {% include 'a4_candy_contrib/includes/form_field.html' with field=form.username %}
        </div>

        <div class="form-check">
            <label class="form-check__label">
                {{ form.terms_of_use }}
                {% blocktrans with terms_of_use_url=settings.a4_candy_cms_settings.ImportantPages.terms_of_use.url data_protection_policy=settings.a4_candy_cms_settings.ImportantPages.data_protection_policy.url %}
                I confirm that I have read and accepted the <a href="{{terms_of_use_url}}" target="_blank">terms of use</a> and the <a href="{{data_protection_policy}}" target="_blank">data protection policy</a>.
                {% endblocktrans %}
                {% if form.terms_of_use.field.required %}<span role="presentation" title="{% trans 'This field is required' %}">*</span>{% endif %}
            </label>
            {{ form.terms_of_use.errors }}
        </div>
        <div class="form-check">
            <label class="form-check__label">
                {{ form.get_newsletters }}
                {{ form.get_newsletters.label }}
            </label>
            <div class="form-hint">
                {{ form.get_newsletters.help_text }}
            </div>
            {{ form.get_newsletters.errors }}
        </div>
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <div class="u-spacer-bottom-double">
            <button class="btn btn--primary" type="submit">{% trans "Register" %}</button>
        </div>
    </form>

{% endblock %}
