{% extends extends %}
{% load i18n discovery_tags react_interactiveevents ckeditor_tags wagtailcore_tags static %}

{% block content %}
<div class="row">
    <div class="col-md-10 offset-md-1">
        <nav class="breadcrumbs mt-5 mb-4" aria-label="{% trans 'breadcrumbs' %}">
            <ul>
                <li>
                    <a href="{{ module.get_detail_url }}">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        {% trans 'go back' %}</a>
                </li>
            </ul>
        </nav>

        <!-- Live stream -->
        {% for phase in module.phases %}
          {% if phase == module.active_phase and extra_fields.live_stream %}
              {{ extra_fields.live_stream | transform_collapsibles | richtext }}
              <div>
                <span class="label label--live">•{% trans ' Live now' %}</span>
              </div>
          {% endif %}
        {% endfor %}

        <div class="mb-4">
            <h3>{{ module.name }}</h3>
            <p>{{ module.description }}</p>
        </div>
    </div>
    <div class="col-12 px-0">
        {% react_interactiveevents view.module %}
        {% block other_modules %}{% endblock %}
    </div>
</div>
{% include 'footer_upper.html' with organisation=module.project.organisation %}
{% endblock %}
