{% extends extends %}
{% load i18n discovery_tags ckeditor_tags wagtailcore_tags contrib_tags thumbnail %}

{% block phase_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 my-2">
                <div class="alert" role="alert">
                    <i class="fas fa-info-circle" aria-hidden="true"></i>
                    {% trans 'During this event you can hand in questions with your smartphone' %}
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            {% if extra_fields.event_image %}
                <div class="col-md-5 my-2">
                    <img class="livequestion-detail__image" src="{% thumbnail extra_fields.event_image 'item_image' %}" />
                </div>
            {% endif %}
            <div class="col-md-5 my-2">
                {% if module.active_phase %}
                    <span class="label label--live">•{% trans ' Live now' %}</span>
                    &nbsp;
                {% elif module.future_phases %}
                    <span class="label label--info">
                        {% blocktrans with time_left=module.module_starting_time_left %} {{ time_left }} remaining {% endblocktrans %}
                    </span>
                {% else %}
                    <span class="label label--info">
                        {% trans 'finished' %}
                    </span>
                {% endif %}
                <span class="label">{% trans 'Interactive' %}</span>
                <h1>{{ module.name }}</h1>
                <div class="mb-2">
                    {% if module.description|length > 180 %}
                        <div id="collapsibleContentEvent" class="collapse show u-no-transition">
                            {{ module.description|truncatechars:160|richtext }}
                        </div>
                        <div id="collapsibleContentEvent" class="collapse u-no-transition">
                            {{ module.description|richtext }}
                        </div>
                        <button
                            class="btn--link collapsible    "
                            type="button" data-toggle="collapse"
                            data-target="#collapsibleContentEvent"
                            aria-expanded="false"
                            aria-controls="collapseExample"
                        >
                            <span class="link--more">{% trans 'Read more' %}</span>
                            <span class="link--less">{% trans 'Read Less' %}</span>
                        </button>
                    {% else %}
                        {{ module.description|richtext }}
                    {% endif %}
                </div>
                <div class="phase-info__item u-no-border">
                    <div class="font-weight-bold mb-1">
                        {% if module.active_phase %}
                            {% html_date module.phases.first.start_date 'DATETIME_FORMAT' %}
                            &ndash; {% html_date module.phases.first.end_date 'DATETIME_FORMAT' %}
                        {% else %}
                            {% trans 'Type of event' %}
                        {% endif %}
                    </div>
                    <div class="mb-5">
                        {% if module.phases.first.description|length > 180 %}
                            <div id="collapsibleContentPhase" class="collapse show u-no-transition">
                                {{ module.phases.first.description|truncatechars:160|richtext }}
                            </div>
                            <div id="collapsibleContentPhase" class="collapse u-no-transition">
                                {{ module.phases.first.description|richtext }}
                            </div>
                            <button
                                class="btn--link collapsible    "
                                type="button" data-toggle="collapse"
                                data-target="#collapsibleContentPhase"
                                aria-expanded="false"
                                aria-controls="collapseExample"
                            >
                                <span class="link--more">{% trans 'Read more' %}</span>
                                <span class="link--less">{% trans 'Read Less' %}</span>
                            </button>
                        {% else %}
                            {{ module.phases.first.description|richtext }}
                        {% endif %}
                    </div>
                </div>
                {% if not module.future_phases %}
                <a class="btn btn--primary" href="{% url 'live-question-module-detail' module.project.organisation.slug module.slug %}">{% trans 'Go to event' %}</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
