{% extends extends %}
{% load i18n discovery_tags ckeditor_tags wagtailcore_tags %}

{% block phase_content %}
    <div class="bg--light">
        <div class="container">
            <div class="col-lg-10 offset-lg-1 u-bg-body">
                <h3>{{ module.name }}</h3>
                <div class="alert" role="alert">
                    <i class="fas fa-info-circle" aria-hidden="true"></i>
                {% trans 'During this event you can hand in questions with your smartphone' %}
                </div>
                <div class="mb-3">
                    {{ module.description | transform_collapsibles | richtext }}
                </div>
                {% if not module.future_phases %}
                <a class="btn btn--primary" href="{% url 'live-question-module-detail' module.project.organisation.slug module.slug %}">{% trans 'Go to event' %}</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
