{% load i18n %}

{% if request.user.is_authenticated %}
    <div class="dropdown userindicator__dropdown">
        <button
                type="button"
                class="btn btn--bg-tertiary userindicator__button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                id="user-actions"
        >
            <span>{% trans "Hello," %}</span>
            <span>{{ request.user.username }}</span>
            <i class="fa fa-caret-down" aria-hidden="true"></i>
        </button>
        <ul class="dropdown-menu userindicator__dropdown-menu" aria-labelledby="user-actions">
            <li>
                <a class="dropdown-item" href="{% url 'account' %}">{% trans "Account Settings" %}</a>
            </li>

            {% for organisation in request.user.organisations %}

            <li>
                <a class="dropdown-item" href="{% url 'a4dashboard:project-list' organisation_slug=organisation.slug %}">
                    {{ organisation.name }}
                </a>
            </li>

            {% endfor %}

            <li>
                <form class="form--inline" action="{% url 'account_logout' %}" method="post" aria-label="{% trans 'Logout' %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ redirect_field_value }}">
                    <button type="submit" class="dropdown-item">{% trans "Logout" %}</button>
                </form>
            </li>
        </ul>
    </div>
{% else %}
    <ul class="navi__list">
        <li class="navi__item">
            <a class="navi__link" href="{% url 'account_login' %}?next={{ redirect_field_value }}">{% trans "Login" %}</a>
        </li>
        <li class="navi__item">
            <a class="navi__link" href="{% url 'account_signup' %}?next={{ redirect_field_value }}">{% trans "Register" %}</a>
        </li>
    </ul>
{% endif %}

