{% extends "base.html" %}
{% load rules i18n %}

{% block title %}{{ object.username }} &mdash; {{ block.super }}{% endblock %}

{% block content %}

    <nav class="tablist" role="tablist">
        <a
            id="tab-user-{{ user.pk }}-participation"
            class="tab active"
            data-toggle="tab"
            href="#tabpanel-user-{{ user.pk }}-participation"
            role="tab"
            aria-controls="tabpanel-user-{{ user.pk }}-participation"
            aria-expanded="true">
            {% trans 'Participations' %}
        </a>
        <a
            id="tab-user-{{ user.pk }}-activities"
            class="tab"
            data-toggle="tab"
            href="#tabpanel-user-{{ user.pk }}-activities"
            role="tab"
            aria-controls="tabpanel-user-{{ user.pk }}-activities"
            aria-expanded="false">
            {% trans 'Activities' %}
        </a>
    </nav>

    <div class="l-wrapper">
        <div class="l-col-3-0 aside">
            <h1>{{ object.username }}</h1>
            {% if object.bio %}<p>{{ object.bio }}</p>{% endif %}

            <h2 class="aside__block__title heading2">{% trans 'Active in these platforms' %}</h2>
            {% for partner in view.partners %}
                {{ partner }}
            {% empty %}
                {% trans 'This user is not active in any platform yet.' %}
                {% if object == request.user %}
                    <a href="/">{% trans 'Check some platforms out.' %}</a>
                {% endif %}
            {% endfor %}
        </div>
        <div class="l-col-9-3">
            <div
                class="tabpanel active"
                id="tabpanel-user-{{ user.pk }}-participation"
                role="tabpanel"
                aria-labelledby="tab-user-{{ user.pk }}-participation"
                aria-expanded="true">
                {% for project in view.projects %}
                    {% include 'meinberlin_projects/includes/project_list_tile.html' with project=project %}
                {% endfor %}
            </div>
            <div
                class="tabpanel"
                id="tabpanel-user-{{ user.pk }}-activities"
                role="tabpanel"
                aria-labelledby="tab-user-{{ user.pk }}-activities"
                aria-expanded="false">
                {% for action in action_list %}
                    {% include 'meinberlin_actions/includes/action.html' with action=action %}
                {% empty %}
                    {% trans 'No activity yet. '%}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
