{% load i18n module_tags contrib_tags react_ratings_choins react_choins %}

<li class="list-item list-item--squashed">

    <div style="display: flex; align-items: center;">
        {% if object|has_feature:"buy" %}
            <div>
                {% react_ratings_choins object %}
            </div>
        {% endif %}
        <div>
            <h3 class="u-first-heading">
                <a href="{{ object.get_absolute_url }}">
                {{ object.name }}
                </a>
            </h3>
            <div class="list-item__stats">
                {% spaceless %}
                {% if object|has_feature:"rate" %}
                    <span class="rating">
                        {% if not object|has_feature:"buy" %}
                            <span class="rating-button rating-up is-read-only" title="{% translate 'Positive Ratings' %}">
                                <i class="fa fa-chevron-up" aria-label="{% translate 'Positive Ratings' %}"></i>
                                {{ object.positive_rating_count }}
                            </span>
                            <span class="rating-button rating-down is-read-only" title="{% translate 'Negative Ratings' %}">
                                <i class="fa fa-chevron-down" aria-label="{% translate 'Negative Ratings' %}"></i>
                                {{ object.negative_rating_count }}
                            </span>
                        
                        {% endif %}
                    </span>
                {% endif %}
                {% if not object|has_feature:"buy" %}
                <span title="{% translate 'Comments' %}" class="list-item__comments">
                    <i class="far fa-comment" aria-label="{% translate 'Comments' %}"></i>
                    {{ object.comment_count }}
                </span>
                {% endif %}
                
                {% endspaceless %}
                {% if object|has_feature:"buy" %}
                    <span>
                        <span class="list-item__comments is-read-only" title="{% translate 'Choins' %}">
                            <i class="fa fa-coins" aria-label="{% translate 'Choins' %}"></i>
                            {{object.choin.first.choins |floatformat:0 }}/{{object.choin.first.goal|floatformat:0 }}
                        </span>
                        <span class="list-item__comments is-read-only" title="{% translate 'Need Choins/supporter' %}">
                            <i class="fa fa-bullseye" aria-label="{% translate 'Choins' %}"></i>
                            {% if object.choin.first.missing <= 0 and object.positive_rating_count > 0 %}
                                {%if object.moderator_status != 'ACCEPTED' %}
                                    goal achieved
                                {%endif%}
                            {% else %}
                                {{ object.choin.first.missing |floatformat:0 }}
                            {% endif %}
                        </span>
                    </span>
                {% endif %}

            </div>
            <div class="list-item__labels">
                {% if object.category %}
                    <span class="badge badge--big">{{ object.category }}</span>
                {% endif %}
                {% if object.moderator_status %}
                    <span class="badge badge--big badge--{{ object.moderator_status|classify }} list-item__badge--moderator-feedback">
                        {{ object.get_moderator_status_display }}
                    </span>
                    <span class="list-item__comments is-read-only" title="{% translate 'Your investment' %}">
                        <div class="lr-bar__left">
                        {% react_invested_choins object %}
                        </div>
                    </span>
                {% endif %}
            </div>

            <span class="list-item__author">
                {{ object.creator.username }}
            </span>
            {% html_date object.created class='list-item__date' %}
        </div>
    </div>
</li>
