{% load i18n project_tags a4_candy_project_tags contrib_tags thumbnail %}
{% project_tile_image project as project_image %}
{% project_tile_image_copyright project as project_image_copyright %}

<div class="tile organisation__tile tile--{{ orientation }}">
    <div class="tile__head">
        <a tabindex="-1"
           class="tile__image"
           aria-labelledby="project-title-{{ project.pk }}"
           {% if project_image %}
               style="background-image: url({{ project_image|thumbnail_url:'project_thumbnail' }})"
           {% endif %}
           href="{{ project|project_url }}">
        </a>
        {% if project_image_copyright %}
            <div class="tile__image__copyright copyright">© {{ project_image_copyright }}</div>
        {% endif %}
    </div>

    <div class="tile__body">
        <h3 class="tile__title" id="project-title-{{ project.pk }}">
            <a href="{{ project|project_url }}">{{ project.name }}</a>
        </h3>

        <p class="tile__text">{{ project.description }}</p>

        <p class="tile__date">
            {% if project.has_finished %}
                <span><i class="tile__icon fa fa-flag-checkered"></i> {% trans 'Finished' %}</span>
            {% elif project.end_date  %}
                <span><i class="tile__icon fa fa-comments"></i> {% trans 'Participation possible until' %} {{ project.end_date|date:'d. M. Y'}}</span>
            {% endif %}
        </p>
    </div>
</div>
