{% load i18n a4_candy_project_tags %}

{% if project.insight.display and counts or project|has_result_content %}
<section class="project-detail__insights" aria-labelledby="project-detail-insights-heading">
    <h2 class="project-detail__section-title" id="project-detail-insights-heading">
        {% translate 'Statistics & Results' %}
    </h2>
    {% if project.insight.display and counts %}
    <div class="project-detail__insights-box">
        {% include "a4_candy_projects/includes/project_insight_stats.html" %}
    </div>
    {% endif %}
    {% if project|has_result_content %}
    <div class="project-detail__insights-actions">
        <a class="btn btn--black" href="{% url 'project-results' organisation_slug=project.organisation.slug slug=project.slug %}">
            {% translate 'Show all results' %}
        </a>
    </div>
    {% endif %}
</section>
{% endif %}
