<html>
<head>
    <title>Error &mdash; {{ settings.a4_candy_cms_settings.OrganisationSettings.platform_name }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'vendor.css' %}" />
</head>
<body>
    <div class="l-outer-wrapper">
        <a href="#main" class="sr-only sr-only-focusable">Skip to content </a>
        <header class="header-upper" aria-label="Header">
            <div class="u-page-ribbon"></div>
            <div class="container">
                <div class="header-upper__brand">
                    <a href="/">{{ settings.a4_candy_cms_settings.OrganisationSettings.platform_name }}</a>
                </div>
            </header>
            <main id=main>
                <div class="small-wrapper">
                    <div class=error_body>
                        <h1>500</h1>
                        <p class="u-font-size-lg">{% trans 'Internal server error.' %}</p>
                        <a href="/">{% blocktrans with platformname=settings.a4_candy_cms_settings.OrganisationSettings.platform_name %}Back to {{ platformname }}{% endblocktrans %}</a>
                    </div>
              </div>
            </main>
          </div>
            <footer class=footer>
                <div class="small-wrapper">
                    <p><a href="https://liqd.net">Liquid Democracy e.V.</a> Am Sudhaus 2, 12053, Berlin, tel. +49 (0) 30 6298 4840, e-mail. hallo@liqd.net</p>
                </div>
            </footer>
        <div class="footer-ribbon u-page-ribbon u-page-ribbon--platform"></div>
    </body>
</html>
