{% load i18n wagtailsettings_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block subject %}{% endblock %}</title>
  </head>
<body style="margin: 0; padding: 0; min-width: 100% !important; background: #f7f7f7;">
  <div style="margin: 20px auto; margin-top: 100px; padding: 20px; width: 100%; max-width: 630px; background-color: #fff;">
      <table width="100%" border="0" cellpadding="0" cellspacing="0"
           style="width: 100%; max-width: 600px; margin: auto;">
    <tr>
            <td style="padding: 0px; position: relative; top: -4.5em;" align="center">
                    {% if organisation and organisation.logo %}
                    <div style="width: 100px; height: 100px; box-shadow: 0 2px 18px 0 rgba(0, 0, 0, 0.08); background-color: #ffffff;">
                        <img src="cid:organisation_logo" height="80" width="80" alt="{{ organisation.name }} logo" style="margin: 10px;" />
                    </div>
                    {% else %}
                    <div  style="width: 150px; height: 100px; box-shadow: 0 2px 18px 0 rgba(0, 0, 0, 0.08); background-color: #ffffff;">
                        <img src="cid:logo" height="80" alt="adhocracy-plus logo" style="margin: 10px;" />
                    </div>
                    {% endif %}
            </td>
     </tr>
      <tr>
          <td style="text-align: center; position: relative; top: -2.5em;" align="center">
              <h2>{% block headline %}{% endblock %}</h2>
          </td>
      </tr>
      <tr>
          <td style= "text-align: center; position: relative; top: -2.5em;" align="center">
              <h3 style="color: #818181;">
              {% block sub-headline %}{% endblock %}</h3>
          </td>
      </tr>
      <tr>
          <td style="text-align: center; position: relative; top: -1.5em;" align="center">
            <p>
              {% block greeting %}
              {% trans 'Hello' %},
              {% endblock %}
            </p>
            {% block content_html %}
                {% load capture_tags %}
                {% capture as content silent %}{% block content %}{% endblock %}{% endcapture %}
                {{ content|linebreaks }}
            {% endblock %}
          </td>
      </tr>
      {% block cta %}
      <tr>
          <td style="padding-top: 10px; padding-bottom: 10px; text-align: center;" align="center">
              <a href="{% block cta_url %}{% endblock %}"
                 style="padding: 0 20px; font-weight: bold; line-height: 40px; margin: 0 auto; color: #fff;
                        background-color: #2d40cc; border-color: #2d40cc; display: inline-block;
                        vertical-align: middle; text-decoration: none;">
                 {% block cta_label %}{% endblock %}
              </a>
          </td>
      </tr>
      {% endblock %}
        {% block organisation_footer %}
        {% if organisation %}
      <tr>
          <td style="padding-top: 60px; font-size: small; color: DarkSlateGray; font-weight: bold" align="center">
              {% trans 'Responsible for the participation project:' %}
          </td>
      </tr>
      <tr>
          <td style="font-size: small;" align="center">
              {% if organisation.url %}
                <a href="{{ organisation.url }}" style="color: DarkSlateGray; text-decoration-line: none; font-weight: bold;">{{ organisation.name }}</a>
              {% else %}
                <span style="color: DarkSlateGray; font-weight: bold;">{{ organisation.name }}</span>
              {% endif %}
              {% url 'organisation-imprint' organisation.slug as organisation_imprint_url %}
              <a href="{{ email.get_host }}{{ organisation_imprint_url }}" style="color:black; text-decoration-line: none; padding-left: 10px;">{% trans 'Imprint' %}</a>
              {% url 'organisation-data-protection' organisation.slug as organisation_data_protection_url %}
              <a href="{{ email.get_host }}{{ organisation_data_protection_url }}" style="color:black; text-decoration-line: none; padding-left: 10px;">{% trans 'Data protection' %}</a>
              {% url 'organisation-terms-of-use' organisation.slug as organisation_terms_of_use_url %}
              <a href="{{ email.get_host }}{{ organisation_terms_of_use_url }}" style="color:black; text-decoration-line: none; padding-left: 10px;">{% trans 'Terms of use' %}</a>
          </td>
      </tr>
        {% endif %}
      {% endblock %}
    </table>
    </div>
    <div style="margin: 20px auto; padding-left: 20px; padding-right: 20px; width: 100%; max-width: 630px; background-color: #f7f7f7; ">
        <table width="100%" border="0" cellpadding="0" cellspacing="0"
           style="width: 100%; max-width: 600px; margin: auto;">
        <tr>
          <td style="color: #818181; font-size: small; padding-top: 20px; padding-left: 5px; padding-right: 5px;">
              {% block reason %}{% endblock %}
              <p>
                {% blocktrans with platformname=settings.a4_candy_cms_settings.OrganisationSettings.platform_name %}{{ platformname }} is a participation platform operated by{% endblocktrans %}<br />
                Liquid Democracy e.V., Am Sudhaus 2, D-12053 Berlin
              </p>
          </td>
      </tr>
      <tr>
          <td style="color: #818181; font-size: small; padding-top: 10px; padding-bottom: 10px; padding-left: 5px; padding-right: 5px;">
              <p>
                  {% get_settings use_default_site=True %}
                  {% if settings.a4_candy_cms_settings.ImportantPages.imprint %}
                  <a href="{{ email.get_host }}{{ settings.a4_candy_cms_settings.ImportantPages.imprint.url }}">{% trans 'Imprint' %}</a>
                  {% endif %}
                  {% if settings.a4_candy_cms_settings.ImportantPages.data_protection_policy %}
                  <a href="{{ email.get_host }}{{ settings.a4_candy_cms_settings.ImportantPages.data_protection_policy.url }}">{% trans 'Data protection policy' %}</a>
                  {% endif %}
                  {% if settings.a4_candy_cms_settings.ImportantPages.terms_of_use %}
                  <a href="{{ email.get_host }}{{ settings.a4_candy_cms_settings.ImportantPages.terms_of_use.url }}">{% trans 'Terms of use' %}</a>
                  {% endif %}
                  {% if settings.a4_candy_cms_settings.ImportantPages.contact %}
                  <a href="{{ email.get_host }}{{ settings.a4_candy_cms_settings.ImportantPages.contact.url }}">{% trans 'Contact' %}</a>
                  {% endif %}
              </p>
          </td>
      </tr>
    </table>
    </div>
  </body>
</html>
