{% load i18n wagtailsettings_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block subject %}{% endblock %}</title>
  </head>
  <body style="margin: 0; padding: 0; min-width: 100% !important; background: #fff;">
    <table width="100%" border="0" cellpadding="0" cellspacing="0"
           style="width: 100%; max-width: 500px; margin: auto;">
      <tr>
        <td style="padding-top: 20px; text-align: center;" align="center">
          {% if organisation and organisation.logo %}
            <img src="cid:organisation_logo" style="width: 15%;" alt="Logo" >
            <img src="cid:logo" style="display: none;" >
          {% else %}
            <img src="cid:logo" style="width: 15%;" alt="Logo" >
          {% endif %}
        </td>
      </tr>
      <tr>
          <td style="padding-top: 20px; text-align: center; font-family: 'SourceSerifPro', serif; font-weight: normal;" align="center">
              <h2>{% block headline %}{% endblock %}</h2>
              <h3 style="color: #818181;">
              {% block sub-headline %}{% endblock %}</h3>
          </td>
      </tr>
      <tr>
          <td style="padding-top: 20px; text-align: center;" align="center">
            <p>
              {% block greeting %}
              {% trans 'Hello' %},
              {% endblock %}
            </p>
            {% block content_html %}
                {% load capture_tags %}
                {% capture as content silent %}{% block content %}{% endblock %}{% endcapture %}
                {{ content|linebreaks }}
            {% endblock %}
          </td>
      </tr>
      {% block cta %}
      <tr>
          <td style="padding-top: 20px; text-align: center;" align="center">
              <a href="{% block cta_url %}{% endblock %}"
                 style="padding: 0 20px; font-weight: bold; line-height: 40px; margin: 0 auto; color: #fff;
                        background-color: #31505f; border-color: #31505f; display: inline-block;
                        vertical-align: middle; text-decoration: none;">
                 {% block cta_label %}{% endblock %}
              </a>
          </td>
      </tr>
      {% endblock %}
      <tr>
          <td style="color: #818181; font-size: small; padding-top: 20px;">
              <hr />
              {% block reason %}{% endblock %}
              <p>
                  {% trans 'adhocracy+ is a participation platform operated by' %}<br />
                  Liquid Democracy e.V., Am Sudhaus 2, D-12053 Berlin
              </p>
          </td>
      </tr>
      <tr>
          <td style="color: #818181; font-size: small; padding-top: 10px; padding-bottom: 10px;">
              <p>
                  {% get_settings use_default_site=True %}
                  {% if settings.a4_candy_cms_settings.ImportantPages.terms_of_use %}
                  <a href="{{ email.get_host }}{{ settings.a4_candy_cms_settings.ImportantPages.terms_of_use.url }}">{% trans 'Terms of use' %}</a>
                  {% endif %}
              </p>
          </td>
      </tr>
    </table>
  </body>
</html>
