{% load i18n static wagtailsettings_tags %}
{% get_settings %}

<div class="footer__upper col-md-10 offset-md-1 my-5">
    <div class="row justify-content-center">
        <span>{% trans 'Responsible for the content of this page:' %}</span>
    </div>

    <nav class="navbar justify-content-center">
        <span class="navbar-brand mb-0 h1">{{ ORGANISATION.name }}</span>
        <ul class="navbar-nav">
            <li class="nav-item">
              {% url 'organisation-imprint' organisation_slug=ORGANISATION.slug as organisation_imprint_url %}
              <a href="{{ organisation_imprint_url }}" class="organisation-header__nav-link"><span class="{% if request.path == organisation_imprint_url %}is-active{% endif %}">{% trans 'Imprint' %}</span></a>                    </li>
        </ul>
    </nav>
</div>
