{% load i18n static wagtailsettings_tags %}
{% get_settings %}

<footer class="footer pt-3 pt-sm-4{% if not ORGANISATION.is_supporting %}{% if settings.a4_candy_cms_settings.ImportantPages.donate_link %} footer__margin-for-banner{% endif %}{% endif %}">
    {%  with pages=settings.a4_candy_cms_settings.ImportantPages %}
    <div class="container">
        <div class="row mt-3 mb-2 justify-content-lg-center">
            <div class="col-lg-6">
                <p class="footer__description">
                    {% blocktrans with platformname=settings.a4_candy_cms_settings.OrganisationSettings.platform_name %}<a href="/">{{ platformname }}</a> is a platform provided by <a href="https://liqd.net/de/">Liquid Democracy e.V.</a> in Berlin.{% endblocktrans %} {% if ORGANISATION %}{% blocktrans %}Only the respective operator of the offer is responsible for the editorial content.{% endblocktrans %}{% endif %}
                </p>
            </div>
            <div class="col-lg-6">
                <div class="row">
                {% if pages.open_content_link %}
                <div class="col-sm-6 d-flex flex-column">
                    <a class="btn btn--transparent footer__info-btn" href="{{ pages.open_content_link }}">Open Content</a>
                </div>
                {% endif %}
                {% if pages.github_repo_link %}
                <div class="col-sm-6 d-flex flex-column mt-4 mt-sm-0">
                    <a class="btn btn--transparent footer__info-btn" href="{{ pages.github_repo_link }}">Open Source</a>
                </div>
                {% endif %}
                </div>
            </div>
        </div>
        <div class="row justify-content-lg-center">

            <div class="col-12 col-md-8 col-lg-12">
                <nav class="navi p-0">
                    <ul class="navi__list mb-2 d-sm-flex flex-wrap">
                        <li class="navi__item footer__link">
                          2020 Liquid Democracy
                        </li>
                        {% if pages.imprint %}
                        <li class="navi__item footer__link">
                            <a href="{{ pages.imprint.url }}" class="navi__link">{% trans 'Imprint' %}</a>
                        </li>
                        {% endif %}
                        {% if pages.terms_of_use %}
                        <li class="navi__item footer__link">
                            <a href="{{ pages.terms_of_use.url }}" class="navi__link">{% trans 'Terms of use' %}</a>
                        </li>
                        {% endif %}
                        {% if pages.data_protection_policy %}
                        <li class="navi__item footer__link">
                            <a href="{{ pages.data_protection_policy.url }}" class="navi__link">{% trans 'Data protection policy' %}</a>
                        </li>
                        {% endif %}
                        {% if pages.netiquette %}
                        <li class="navi__item footer__link">
                            <a href="{{ pages.netiquette.url }}" class="navi__link">{% trans 'Netiquette' %}</a>
                        </li>
                        {% endif %}
                        {% if pages.contact %}
                        <li class="navi__item footer__link">
                            <a href="{{ pages.contact.url }}" class="navi__link">{% trans 'Contact' %}</a>
                        </li>
                        {% endif %}
                        {% if pages.manual_link %}
                        <li class="navi__item footer__link">
                            <a href="{{ pages.manual_link }}" class="navi__link">{% trans 'Manual' %}</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    {% endwith %}
</footer>
<div class="u-page-ribbon"></div>
