{% load userindicator static i18n thumbnail %}
{% get_current_language as LANGUAGE_CODE %}

<header class="main-header" aria-label="{% trans 'Header' %}">
    <div class="u-page-ribbon"></div>
    <div class="container position-relative">
        <div class="row">
        <div class="col-9 col-sm-8 col-md-6 col-lg-7 pt-1 main-header__brand">
            {% include 'includes/header_logo_link.html' %}
        </div>
        <nav class="main-header__nav">
            <div class="main-header__mobile-menu {% if not ORGANISATION %}main-header__mobile-menu--platform{% endif %} collapse" id="main-header-collapse">
                <div class="main-header__user">
                    {% userindicator %}
                </div>
            </div>
            {% include 'includes/header_mobile_toggle.html' %}
        </nav>
        </div>
    </div>
</header>
