{% load userindicator static i18n thumbnail %}
{% get_current_language as LANGUAGE_CODE %}

<header class="header-upper" aria-label="{% trans 'Header' %}">
    <div class="u-page-ribbon"></div>

    <nav class="navbar navbar-expand-md">
        <div class="container position-relative">
            <a class="navbar-brand header-upper__brand" href="/">
                <img src="/static/images/logo.svg" alt="{{ settings.a4_candy_cms_settings.OrganisationSettings.platform_name }}" class="header-upper__brand-img" />
            </a>

            <ul class="header-upper__nav navbar-nav ml-auto">
                <li class="nav-item header-upper__lang">
                    {% include 'includes/header_language_switch.html' %}
                </li>

                <li class="nav-item header-upper__user" >
                    {% userindicator %}
                </li>
            </ul>
        </div>
    </nav>
</header>
