{% load userindicator static i18n thumbnail %}
{% get_current_language as LANGUAGE_CODE %}

<header class="header-upper" aria-label="{% translate 'Header' %}">
    <div class="u-page-ribbon"></div>

    <nav class="navbar navbar-expand-md">
        <div class="container position-relative">
            <a class="navbar-brand header-upper__brand" href="{% url 'wagtail_serve' '' %}">
                <img src="{% static 'images/adhocracy-short.svg' %}"
                     alt="{{ settings.a4_candy_cms_settings.OrganisationSettings.platform_name }}"
                     class="header-upper__brand-img header-upper__brand-img--short d-md-none" />
                <img src="{% static 'images/logo.svg' %}"
                     alt="{{ settings.a4_candy_cms_settings.OrganisationSettings.platform_name }}"
                     class="header-upper__brand-img d-none d-md-block" />
            </a>

            <ul class="header-upper__nav navbar-nav ms-auto">
                <li class="nav-item header-upper__lang">
                    {% include 'includes/header_language_switch.html' %}
                </li>
                <li class="nav-item header-upper__learning">
                    {% include 'a4_candy_learning_nuggets/includes/learning_toggle.html' %}
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item header-upper__notification_button">
                    {% include 'includes/header_notification_button.html' %}
                </li>
                {% endif %}
                <li class="nav-item header-upper__user" >
                    {% userindicator %}
                </li>
            </ul>
        </div>
    </nav>
</header>
