{% load userindicator static i18n thumbnail %}

<header class="main-header" aria-label="{% trans 'Header' %}">
    {% if ORGANISATION %}
    <div class="u-page-ribbon"></div>
    {% else %}
    <div class="u-page-ribbon u-page-ribbon--platform"></div>
    {% endif %}

    <div class="container position-relative">
        <div class="row">
            <div class="col-9 col-sm-8 col-md-6 col-lg-7 pt-1 main-header__brand">
                {% include 'includes/header_logo_link.html' %}
            </div>
        </div>
        <nav class="main-header__nav">
            {% if ORGANISATION.logo %}
            {% url 'organisation' organisation_slug=ORGANISATION.slug as organisation_url %}
            {% if not request.get_full_path == organisation_url %}
            <a href="{% url 'organisation' organisation_slug=ORGANISATION.slug %}" class="organisation-header__logo-box" rel="home">
                <img src="{% thumbnail ORGANISATION.logo '0x160' %}" height="80" alt="{{ ORGANISATION.name }}" class="organisation-header__logo-img" />
            </a>
            {% endif %}
            {% endif %}
            <div class="main-header__mobile-menu {% if not ORGANISATION %}main-header__mobile-menu--platform{% endif %} collapse" id="main-header-collapse">
                    {% if ORGANISATION %}
                    <ul class="organisation-header__nav">
                        <li class="organisation-header__nav-item">
                            {% url 'organisation' organisation_slug=ORGANISATION.slug as organisation_url %}
                            <a href="{{ organisation_url }}" class="organisation-header__nav-link"><span class="{% if request.path == organisation_url %}is-active{% endif %}">{% trans 'Our projects' %}</span></a>
                        </li>
                        {% if ORGANISATION.information %}
                        <li class="organisation-header__nav-item">
                            {% url 'organisation-information' organisation_slug=ORGANISATION.slug as organisation_information_url %}
                            <a href="{{ organisation_information_url }}" class="organisation-header__nav-link"><span class="{% if request.path == organisation_information_url %}is-active{% endif %}">{% trans 'About' %}</span></a>
                        </li>
                        {% endif %}
                    </ul>
                    {% endif %}
                <div class="main-header__user">
                    {% userindicator %}
                </div>
            </div>
            {% include 'includes/header_mobile_toggle.html' %}
        </nav>
    </div>
</header>
