{% load i18n wagtailcore_tags wagtailimages_tags static %}

{% get_current_language as LANGUAGE_CODE %}

<section class="lp-hero">
    <div class="lp-hero-text">
        <h1>
            {% trans 'Your Platform for Free' %}
            <br /> 
            {% trans 'Digital Participation' %}
        </h1>
        <p>
            {% trans 'A non-profit platform for municipalities, NGOs, and initiatives.' %}
            <br />
            {% trans 'Free, transparent, and designed to strengthen democracy.' %}
        </p>
        <div class="lp-hero-buttons">
            <a href="{% url 'wagtail_serve' 'info/start/' %}" class="btn lp-hero-btn lp-hero-btn--outline">
                <i class="fa-regular fa-building" aria-hidden="true"></i>
                {% trans 'Register your organization' %}
            </a>
            {% if not user.is_authenticated %}
                {% if LANGUAGE_CODE == "en" %}
                    {% url 'organisation' organisation_slug="model-organization" as demo_organisation_url %}
                {% else %}
                    {% url 'organisation' organisation_slug="musterorganisation" as demo_organisation_url %}
                {% endif %}
                <a href="{{ demo_organisation_url }}" class="btn lp-hero-btn lp-hero-btn--account">
                    <i class="fa fa-external-link-alt" aria-hidden="true"></i>
                    {% trans 'Check demo organisation' %}
                </a>
            {% endif %}
        </div>
    </div>
    <div class="lp-hero-img">
        <div class="lp-hero-img__frame">
            <span class="lp-floating-noti"><i class="fa fa-thumbs-up"></i><strong>Thomas</strong> {% trans 'liked your idea!' %}</span>
            <img src="{% static 'images/hero-image-resized.webp' %}" alt="woman">
            <span class="lp-floating-noti"><i class="fas fa-check-circle"></i>{% trans 'Your' %}<strong> {% trans 'project' %}</strong> {% trans 'has been published' %}</span>
        </div>
    </div>
</section>