{% load i18n wagtailcore_tags wagtailimages_tags static %}

<section class="lp-hero">
    <div class="lp-hero-text">
        <h1>
            {% trans 'Your Platform for Free' %}
            <br /> 
            {% trans 'Digital Participation' %}
        </h1>
        <p>
            {% trans 'A non-profit platform for municipalities, NGOs, and initiatives.' %}
            <br />
            {% trans 'Free, transparent, and designed to strengthen democracy.' %}
        </p>
        <div class="lp-hero-buttons">
            {% if not user.is_authenticated %}
                <a href="{% url 'account_signup' %}" class="btn btn--black">
                    {% trans 'Start Now' %}
                </a>
                {% url 'account_login' as account_login_url %}
                <a href="{{ account_login_url }}" class="btn btn--transparent btn--text-white">
                    {% trans 'Login' %}
                </a>
            {% endif %}
        </div>
    </div>
    <div class="lp-hero-img">
        <span class="lp-floating-noti"><i class="fa fa-thumbs-up"></i><strong>Thomas</strong> {% trans 'liked your idea!' %}</span>
        <img src="{% static 'images/hero-image-resized.webp' %}" alt="woman">
        <span class="lp-floating-noti"><i class="fas fa-check-circle"></i>{% trans 'Your' %}<strong> {% trans 'project' %}</strong> {% trans 'has been published' %}</span>
    </div>
</section>