.a4-comments__commentbox__form,
.a4-comments__child--list {
    fieldset {
        margin-bottom: 0;
    }
}

.a4-comments__textarea--big,
.a4-comments__textarea--small {
    width: 100%;
    overflow: hidden;
    max-height: 400px;
    min-height: 100px;
}

//comments and debate comments have different sized text boxes
.a4-comments__textarea--big {
    min-height: 100px;
}

.a4-comments__textarea--small {
    min-height: 46px;
}

.a4-comments__comment {
    border-top: solid 1px $gray-lightest;
    padding: 1.5*$spacer 0 $spacer 0;
}

.a4-comments__box--left {
    padding-left: 0;

    @extend .col-md-2;
}

.a4-comments__box--right {
    border-left: 1px solid $gray-lightest;
    padding-right: 0;

    @extend .col-md-10;
}

.a4-comments__filters__parent {
    margin: 1.5*$spacer 0 1.5*$spacer 0;

    button {
        @extend .btn--light;
    }
}

.a4-comments__filters__btn {
    .fa-check {
        font-size: $font-size-sm;
        padding-top: inherit;
    }
}

.a4-comments__dropdown {
    align-content: flex-end;
}

.a4-comments__filters__search {
    margin-bottom: 0.5*$spacer;

    @media screen and (min-width: $breakpoint) {
        margin-bottom: 0;
    }
}

.a4-comments__filters__search-input {
    font-size: $font-size-sm;

    @media screen and (min-width: $breakpoint-xs) {
        font-size: $font-size-base;
    }
}

.a4-comments__filters__search-result {
    position: absolute;
    right: 70px;
    top: 10px;
}

.a4-comments__action-bar {
    padding: 0.5*$spacer 0;
}

.a4-comments__action-bar__btn {
    margin-left: 0.2*$spacer !important;

    @extend .btn--small;
}

.a4-comments__border--highlighted {
    border-left: 2px solid $brand-primary;
}

.a4-comments__text,
.a4-comments__author {
    margin: 1.2*$spacer 0 1.2*$spacer 0;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.a4-comments__submission-date {
    font-style: italic;
}

.a4-comments__owner {
    background-color: $bg-light;
    border-top: solid 0.5rem $bg-light;
}

.a4-comments__anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
    height: 1px;
}

.a4-comments__author {
    display: inline-block;
    margin: 0 (0.25*$spacer) 0 0;
}

.a4-comments__moderator {
    font-size: $font-size-sm;
    font-style: italic;
    color: $text-color-gray;
}

.a4-comments__child--list {
    border-left: solid 1px $gray-lightest;
    margin: 0 0 $spacer (-$spacer);

    @media screen and (min-width: $breakpoint) {
        margin: 0 0 2.5*$spacer 2.5*$spacer;
    }

    form {
        padding-top: $spacer;
        border-top: solid 1px $gray-lightest;
    }

    .a4-comments__box--left {
        text-align: right;

        @extend .col-md-12;
    }

    .a4-comments__box--right {
        border-left: none;

        @extend .col-12;
    }

    .a4-comments__text {
        margin-top: $spacer;
    }
}

//categories and category badges
.a4-comments__category__input {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.a4-comments__category__row {
    input[type="checkbox"] + span:before {
        font-family: 'Font Awesome\ 5 Free', sans-serif;
        font-weight: 900;
        font-size: $font-size-xs;
        content: '\f067'; // plus
    }

    input[type="checkbox"]:checked + span:before {
        content: '\f00c'; // tick
    }
}

.a4-comments__category__text,
.a4-comments__badge {
    background-color: $gray-lightest;
    border-radius: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-size: $font-size-sm;
    font-weight: $font-weight-normal;
    font-family: $font-family-sans-serif;
    padding: 0.3*$spacer 0.5*$spacer;
    margin: 0.5*$spacer 0.5*$spacer 0.5*$spacer 0;
}

.a4-comments__category {
    display: inline-block;
}

.a4-comments__badge {
    color: $gray-light;
}

.a4-comments__category__input:checked {
    + .a4-comments__category__que {
        background-color: $blue-light;
    }

    + .a4-comments__category__not {
        background-color: $purple-light;
    }

    + .a4-comments__category__sug {
        background-color: $green-light;
    }
}

.a4-comments__badge--que {
    background-color: $blue-light;
}

.a4-comments__badge--not {
    background-color: $purple-light;
}

.a4-comments__badge--sug {
    background-color: $green-light;
}

.a4-comments__text--highlighted {
    border-left: solid 2px $brand-primary;
    padding-left: 0.5*$padding;
}

.modal-url-bar-button.active,
.modal-url-bar-button.active:hover {
    background-color: $brand-success;
}
