@mixin multi-line-icon($lines, $line-height: 1.4) {
    $font-size: 0.7 * $lines;
    $size: $lines * $line-height / $font-size;

    line-height: $size;
    min-width: 1.5em;
    font-size: $font-size * 100%;
}

@mixin multi-line-main($lines, $line-height: 1.4) {
    $font-size: 0.7 * $lines;
    $size: $lines * $line-height / $font-size;

    margin-left: $size * 1em;
}

.action {
    @include clearfix;
    padding: 0.6em 0;
}

.action__icon {
    @include multi-line-icon(2);
    background-color: $bg-secondary;
    color: $brand-primary;
    text-align: center;
    float: left;
    padding: 0 0.2*$padding;
}

.action__main {
    @include multi-line-main(2);
    margin-left: 3*$padding;
}

.action__date {
    color: $gray-light;
    font-size: $font-size-sm;
}
