.aside {
    margin-top: 2 * $padding;
    color: contrast-color($bg-secondary);
    page-break-inside: avoid;
    overflow-wrap: break-word;
}

.aside__block {
    padding: $padding;
    background-color: $bg-secondary;
    text-align: left;
    margin-top: 0;
}

.aside__block__title {
    text-align: left;
    margin-top: 0;
}

@media (min-width: $breakpoint) {
    .aside {
        margin-top: 0;
    }
}
