.bg--light {
    padding-top: 2*$spacer;
    padding-bottom: 2*$spacer;
    margin-top: $spacer;

    background-color: $bg-light;
}

.bg--top-border {
    padding-top: 1em;
    padding-bottom: 2em;
    border-top: 2px solid $brand-secondary;
    margin-top: 2em;
}
