@mixin button-color($color, $color-active) {
    $color-focus: mix($color, $color-active, 50%);
    $color-contrast: contrast-color($color);

    border-color: $color;
    background-color: $color;
    color: $color-contrast;

    &:hover,
    &:focus {
        border-color: $color-focus;
        background-color: $color-focus;
        color: contrast-color($color-focus);
    }

    &:active {
        border-color: $color-active;
        background-color: $color-active;
        color: contrast-color($color-active);
    }

    &.is-disabled,
    &:disabled {
        $is-light: luma($color) > luma($color-contrast);
        $weight-bg: if($is-light, 95%, 50%);
        $weight-fg: if($is-light, 60%, 10%);

        border-color: mix($color, $color-contrast, $weight-bg);
        background-color: mix($color, $color-contrast, $weight-bg);
        color: mix($color, $color-contrast, $weight-fg);
        cursor: not-allowed;
    }
}

@mixin button-color--product($color) {
    $shadow: mix($color, $body-bg, 30%);
    $background: mix($color, $body-bg, 15%);

    @include button-color($body-bg, $background);

    &,
    &:focus,
    &:hover,
    &:active,
    &:disabled,
    &.is-disabled {
        border-color: $color;
    }

    &:active {
        position: relative;
        top: 1px;
        left: 1px;
    }

    &:disabled,
    &.is-disabled {
        box-shadow: none;
    }
}

%button-base {
    @extend %input-base;
    border-radius: 0;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    font-weight: normal;
    padding-left: 1em;
    padding-right: 1em;
    margin: 0;
    vertical-align: middle;
    border-width: 2px;
}

.btn {
    @extend %button-base;
    @include button-color($link-color, $link-hover-color);
}

.btn--light {
    @include button-color($body-bg, $bg-secondary);

    &,
    &:focus,
    &:hover,
    &:active,
    &:disabled,
    &.is-disabled {
        border-color: $border-color;
        box-shadow: none;
    }
}

.btn--transparent {
    @include button-color(transparent, transparent);

    &,
    &:focus,
    &:hover,
    &:active,
    &:disabled,
    &.is-disabled {
        border-color: $border-color;
    }
}

.btn--primary {
    @include button-color--product($brand-primary);
}

.btn--secondary {
    @include button-color--product($brand-info);
}

.btn--primary-filled {
    @include button-color($brand-primary, $body-bg);
}

.btn--secondary-filled {
    @include button-color($brand-secondary, $body-bg);
}

.btn--bg-tertiary {
    @include button-color($bg-tertiary, $body-bg);
}

.btn--text-color-inverted {
    @include button-color(transparent, transparent);

    &,
    &:focus,
    &:hover,
    &:active,
    &:disabled,
    &.is-disabled {
        color: $text-color-inverted;
        border-color: $text-color-inverted;
    }
}

.btn--square {
    border: none;
    border-radius: 0;
}

.btn--align-left {
    text-align: left;
}

.btn--danger {
    @include button-color($brand-danger, darken($brand-danger, 15%));
}

.btn--link {
    // horizontal paddings would make the button look off on mobile
    padding-left: 0;
    padding-right: 0;
    border-color: transparent;
    background-color: transparent;

    color: $link-color;
    text-decoration: underline;
    font-weight: normal;

    &:hover,
    &:focus {
        color: $link-hover-color;
        border-color: transparent;
        background-color: transparent;
    }

    &.is-disabled,
    &:disabled {
        color: $text-color;
        cursor: not-allowed;
    }

    &.collapsible {
        .link--less {
            display: none;
        }

        .link--more {
            display: block;
        }
    }

    .show + &.collapsible {
        .link--less {
            display: block;
        }

        .link--more {
            display: none;
        }
    }
}

.btn--none {
    @include button-color(transparent, transparent);
    border: none;
}

.btn--no-border {
    @extend .btn--transparent;
    border: none;

    &:focus,
    &:hover,
    &:active,
    &:disabled,
    &.is-disabled {
        background-color: $gray-lightest;
    }
}

.btn--select {
    @include text-truncate;
    max-width: 15em;

    // leave space for caret
    padding-right: 2.2em;
    position: relative;

    i {
        position: absolute;
        top: 0.7em;
        right: 0.7em;
    }
}

.btn--small {
    padding: 0.3em 0.6em;
    font-weight: inherit;
}

.btn--huge {
    padding: 0.6em 2em;
}

.btn--full {
    display: block;
    width: 100%;
    margin-bottom: $spacer;
}

.btn--round {
    border-radius: 6.25rem;
}

.btn--attached-top {
    position: relative;
    top: -(0.5*$spacer);
}

.btn--group {
    @extend .btn-group;

    .dropdown {
        display: inline-block;
    }

    > *,
    .dropdown-toggle {
        border-radius: 0;
        margin-left: -2px !important;

        &:focus,
        &:hover {
            position: relative;
        }
    }

    > :first-child {
        margin-left: 0;
    }
}

@media print {
    .btn {
        background-color: contrast-color($print-black);
        color: $print-black;
        border-color: $border-color;
    }
}

.btn--facebook {
    @include button-color--product($facebook);
}

.btn--google {
    @include button-color--product($google);
}

.btn--twitter {
    @include button-color--product($twitter);
}

.btn--github {
    @include button-color--product($github);
}

.checkbox-btn {
    display: inline-block;
}

.checkbox-btn__input {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.checkbox-btn__label--light {
    .checkbox-btn__text {
        @extend .btn;
        @extend .btn--light;
    }

    input[type="checkbox"]:checked + .checkbox-btn__text {
        @extend .btn--secondary;
    }
}

@media screen and (max-width: $breakpoint-xs-down) {
    .btn {
        font-size: $font-size-sm;
    }
}

.input-group-append {
    margin-left: -2px;
}
