%button-base {
    padding: 0.4em 0.6em;
    line-height: 1.7;
    font-family: inherit;
    font-size: inherit;
    margin-bottom: 0;
}

.btn {
    @extend %button-base;

    text-decoration: none;
}

.btn--light {
    @extend .btn-outline-light;

    border: 1px solid $border-color;
    background-color: $body-bg;
    color: contrast-color($body-bg);

    &:focus,
    &:hover,
    &:active,
    &:focus-within,
    &:focus-visible {
        background-color: $bg-tertiary !important;
    }

    &:focus-visible {
        @include fake-focus-shadow;
    }

}

.btn--transparent {
    @extend .btn--light;

    background-color: transparent;
    border-color: $border-color;

    &,
    &:focus,
    &:hover,
    &:active,
    &:disabled,
    &.is-disabled {
        border-color: $border-color;
    }
}

.btn--none {
    background-color: transparent;
    border: none;

    &:focus,
    &:hover,
    &:active,
    &:disabled,
    &.is-disabled {
        box-shadow: none;
        background-color: $gray-lightest;
    }

    &.btn--none-reset:hover {
        background-color: transparent;
    }
}

// from a4 comments
.btn--no-border {
    @extend .btn--transparent;
    border: none;

    &:focus,
    &:hover,
    &:active,
    &:disabled,
    &.is-disabled {
        background-color: $gray-lightest;
    }
}

.btn--primary {
    @extend .btn-primary;

    border: 1px solid $input-border-color;
}

.btn--secondary {
    @extend .btn-outline-primary;
}

.btn--secondary-filled {
    @extend .btn-secondary;
}

.btn--bg-tertiary {
    @extend .btn-secondary;

    background-color: lighten($brand-tertiary, 50%);
}

.btn--text-color-inverted {
    @extend .btn--transparent;

    &,
    &:focus,
    &:hover,
    &:active,
    &:disabled,
    &.is-disabled {
        color: $text-color-inverted;
        border-color: $text-color-inverted;
    }
}

.btn--align-left {
    text-align: left;
}

.btn--danger {
    @extend .btn-danger;
}

.btn--link {
    @extend .btn-link;

    // horizontal paddings would make the button look off on mobile
    padding-left: 0;
    padding-right: 0;

    &.collapsible {
        .link--less {
            display: none;
        }

        .link--more {
            display: block;
        }
    }

    .show + &.collapsible {
        .link--less {
            display: block;
        }

        .link--more {
            display: none;
        }
    }
}

.btn--close {
    @extend .btn-close;

    margin-bottom: auto;
}

.modal--close {
    text-align: right;
}

// .btn.btn--small,
// .btn.btn--round,
// .btn.btn--full,
// .btn.btn--huge,
// .btn.btn--select,
// .btn.btn--square {
//     background-color: $text-color;
//     color: contrast-color($text-color);
//     border-color: $text-color;
// }

.btn--select {
    @include text-truncate;
    max-width: 15em;

    // leave space for caret
    padding-right: 2.2em;
    position: relative;

    i {
        position: absolute;
        top: 0.7em;
        right: 0.7em;
    }
}

.btn--small {
    padding: 0.3em 0.6em;
}

.btn--huge {
    padding: 0.6em 2em;
}

.btn--full {
    display: block;
    width: 100%;
    margin-bottom: $spacer;
}

.btn--round {
    border-radius: 6.25rem;
}

.btn--attached-top {
    position: relative;
    top: -(0.5 * $spacer);
}

.btn--group {
    @extend .btn-group;

    .dropdown {
        display: inline-block;
    }

    > *,
    .dropdown-toggle {
        border-radius: 0;
        margin-left: -1px !important;

        &:focus,
        &:hover {
            position: relative;
        }
    }

    > :first-child {
        margin-left: 0;
    }
}

@media print {
    .btn {
        background-color: contrast-color($print-black);
        color: $print-black;
        border-color: $border-color;
    }
}

.btn--facebook {
    color: $facebook;
}

.btn--google {
    color: $google;
}

.btn--twitter {
    color: $twitter;
}

.btn--github {
    color: $github;
}

// .checkbox-btn {
//     display: inline-block;
// }

.checkbox-btn__input {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.checkbox-btn__label--light {
    .checkbox-btn__text {
        @extend .btn;
        @extend .btn--light;
    }

    input[type="checkbox"]:checked + .checkbox-btn__text {
        @extend .btn--secondary;
    }
}

@media screen and (max-width: $breakpoint-xs-down) {
    .btn {
        font-size: $font-size-sm;
    }
}
