// used for poll and text commenting

.commenting__content--border {
    margin-bottom: calc($spacer / 2);
    padding: $padding;
    border: 1px solid $border-color;
}

.commenting--toc__button {
    // FIXME: This class should either not add styling or not be combined with .btn
    // see: https://github.com/liqd/a4-meinberlin/pull/555#discussion_r122957403
    display: block;
    width: 100%;
    text-align: left;

    &.active {
        color: $brand-primary;
    }
}

.commenting__actions {
    text-align: right;
}

.commenting {
    @include clearfix;
    @extend .row;

    margin-bottom: $spacer;
}

.commenting__content {
    @extend .col-lg-9;    

    margin-bottom: $spacer;
}

.commenting__actions {
    @extend .col-lg-3;

    text-align: left;
}
