.copyright {
    background-color: rgba(black, 0.55);
    color: contrast-color(black);
    font-size: $font-size-sm;
    padding: 0 0.2em;
}

.header__copyright {
    position: absolute;
    bottom: 0;
    right: 0;
}
