.dropdown {
    position: relative;
    text-align: left;

    i.fa-chevron-up {
        position: absolute;
        top: 0;
        right: 1.5 * $spacer;
        transition: transform 0.3s;
    }

    &.collapsed i.fa-chevron-up {
        transform: rotate(-180deg);
    }
}

.dropdown-item {
    font-family: $font-family-base;
}

// icon in categories dropdown a4
.dropdown-item__icon {
    max-width: 2 * $spacer;
}

.dropdown-toggle {
    // the current dropdown-toggle should be above the dropdown-menu shadow
    .dropdown.show & {
        position: relative;
        z-index: 4;
    }

    .dropdown-item__icon {
        display: none;
    }
}

// bootstrap overwrites
.dropdown-menu {
    position: relative;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: 1px solid $text-color;
    min-width: reset; // ensure filter widths align with buttons
    width: 100%;
    max-width: 12rem;

    a,
    button {
        display: block;
        width: 100%;
        padding: 0.5em;
        color: inherit;
        white-space: nowrap;
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: none;
            background-color: $bg-secondary;
            color: contrast-color($bg-secondary);
        }

        i {
            display: inline-block;
            width: 1.5em;
        }
    }

    &.show {
        margin-top: -2px !important; // to ensure no gap for dropdown and up placement
        margin-bottom: -2px !important;
    }

    img { // for category icons in dropdown
        display: inline-block;
        height: 1.5 * $spacer;
        width: auto;
        vertical-align: middle;
        margin-right: 0.5 * $spacer;
    }

    @media print {
        display: none;
    }
}
