html.embed {
    margin: 0;
    padding: 0;
    background: white;
    overflow: auto;
    border: 2px solid $platform-logo;
}

html.embed body {
    margin: 0;
    padding: 0;
    border-left: 5px solid $gray-lightest;
    border-right: 5px solid $gray-lightest;
    max-width: none;

    height: 100vh;
    display: flex;
    flex-direction: column;
}

.embed-header,
.embed-footer {
    position: relative;
    background: $gray-lightest;
    padding: 0.5*$padding;
    text-align: right;
    font-size: $font-size-sm;
}

.embed-header .btn {
    margin-left: 0.5em;
}

.embed-main {
    position: relative;
    flex: 1 1 auto;
    box-sizing: border-box;
    padding-bottom: 1em;
    overflow: auto;
    overflow-y: scroll;
    background: white;
}

.embed-footer a {
    text-decoration: underline;
    color: contrast-color($gray-lightest);
}

.embed-footer__logo {
    height: 1.5*$padding;
    float: left;
}

.embed-footer__platform-link {
    padding: 0.4em 0;
    display: inline-block;
}
