.follow__notification {
    .alert {
        margin-top: $r-spacer;
    }
}

//nasty overwrite, needs to be changed in a4
.follow > .btn--light {
    color: $white;
    background-color: transparent;
}
