.heading--sm {
    font-size: $font-size-sm;
    letter-spacing: 0.1em;
}

// .heading3 {
//
// }

// .cms__title--h2-size {
//     font-size: $font-size-xxl;
//
//     @media screen and (max-width: $breakpoint-xs-down) {
//         font-size: $mobile-headline-size*$font-size-xxl;
//     }
// }
//
// .cms__title--h3-size {
//     font-size: $font-size-xl;
//
//     @media screen and (max-width: $breakpoint-xs-down) {
//         font-size: $mobile-headline-size*$font-size-xl;
//     }
// }
//
// .organisation__header {
//     h1 {
//         font-size: $font-size-xl;
//     }
//
//     h2 {
//         font-size: $font-size-lg;
//     }
// }
//
// @media (min-width: $breakpoint) {
//     .organisation__header h1 {
//         font-size: $font-size-xxl;
//     }
//
//     .organisation__header h2 {
//         font-size: $font-size-xl;
//     }
// }
// .project-header__title {
//     margin-top: 1rem;
//     margin-bottom: 1.2rem;
//     font-size: $font-size-xl;
//
//     @media (min-width: $breakpoint) {
//         font-size: $font-size-xxl;
//     }
// }
// .hero-unit__title {
//     position: relative;
//     padding: $padding;
//     line-height: 1.2;
//     text-align: center;
//     font-size: $font-size-xl;
//     font-weight: bold;
//
//     @media screen and (min-width: $breakpoint) {
//         font-size: $font-size-xxl;
//     }
// }

// .timeline-detail__title {
//     font-size: $font-size-xl;
// }
//
// //h1 or h2
// .item-detail__title {
//     font-size: $font-size-xl;
// }
//
// //always h3
// .list-item__title {
//     margin: 0 0 0.8rem;
//     font-size: $font-size-lg;
// }
//
// .list-item__subtitle {
//     margin-bottom: 0.3em;
//     font-size: $font-size-sm;
// }

// .accordion__title {
//     h3 {
//         font-size: $font-size-md;
//         margin-top: $spacer / 3;
//         margin-bottom: $spacer / 3;
//     }
// }
