.item-detail {
    margin-bottom: $spacer;
    overflow-wrap: break-word;
}

.item-detail--bottom-divider {
    padding-bottom: $spacer * 1.5;
    border-bottom: 2px solid $brand-primary;
}

.item-detail__labels {
    margin-bottom: 1em;
}

.item-detail__labels .label {
    display: inline-block;
    margin-bottom: 0.4em;
}

.item-detail__meta {
    padding-bottom: 0.6em;
    font-size: $font-size-sm;
}

.item-detail__actions {
    padding-top: 0.6em;
    border-top: 2px solid $border-color;
}

.item-detail__creator {
    margin-right: 0.5em;
    word-break: break-word;
}

.item-detail__content {
    margin-bottom: 1em;
    position: relative;
    z-index: 0;
}

.item-detail__basic-content {
    @include clearfix;
    margin-bottom: 1em;
}

.item-detail__image {
    display: block;
    margin-bottom: 0.5em;
    width: 100%;
}

.item-detail__custom-fields {
    margin-top: 1.5 * $spacer;

    &__title {
        font-size: 20px;
        line-height: 24px;
        font-weight: $demi-bold;
        margin-bottom: 16px;
    }

    &__field {
        & + & {
            margin-top: 8px;
        }
    }

    &__question {
        font-size: 16px;
        line-height: 24px;
        font-weight: $demi-bold;
        margin: 0;
    }

    &__answer {
        font-size: 16px;
        line-height: 24px;
        margin: 0;
    }
}
