.live_questions__char-count {
    color: $gray-lighter;
    font-size: $font-size-sm;
    margin-top: -0.75*$spacer;
    margin-bottom: $spacer;
}

.live_questions__text {
    overflow-wrap: break-word;
}

.livequestions__filters {
    margin-bottom: $spacer;
    padding: 0 $spacer;

    @media (min-width: $breakpoint) and (max-width: $breakpoint-md-down) {
        text-align: right;
    }
}

.livequestions__filters > .btn {
    min-width: 100%;
}

.live_questions__select > .select2-container {
    min-width: 100%;
    margin: 0 0 1rem;

    @media screen and (min-width: $breakpoint-xs) {
        min-width: 15rem;
    }
}
