$border-color: transparent;
$light-blue: "#DFF6FF";

.notifications_btn {
    width: 3em;
    height: 3em;
    border: 1px solid $gray-lightest;
    padding: 0;
    background-color: $gray-lightest;
    text-decoration: none;
    transition: all 0.2s ease;
    position: relative;

    @media (max-width: $breakpoint-md) {
        padding: 1em;
        width: 2.5em;
        height: 2.5em;

        > i {
            font-size: 1em !important;
        }
    }

}



.notifications_btn:hover {
    background-color: $text-color-gray;
    border: 1px solid $text-color-gray;
}

.notifications_btn i {
    font-size: 1.2em;
    color: $black;
}

.notifications_btn .position-absolute {
    width: 13px;
    height: 13px;
}

.read-notification {
    opacity: 0.8;
}

.notification-icon-box {
    display: flex;
    height: 40px;
    width: 40px;
    font-size: large;
    background-color: $light-blue;
    vertical-align: middle;
    color: $brand-primary;
}

.unread-notification__single {
    margin-right: -4px;
    margin-top: -4px;
}