.project-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.3em 0;
    position: relative;
    margin-bottom: 4em;

    text-align: center;

    min-height: $hero-height-mobile;

    @media (min-width: $breakpoint) {
        min-height: ($hero-height-mobile + $hero-height-secondary) / 2;
    }

    @media (min-width: $breakpoint-md) {
        min-height: $hero-height-secondary;
        margin-bottom: 1em;
    }

    @media print {
        padding-top: 0;
    }
}

.project-header__tabs {
    position: absolute;
    left: $spacer;
    right: $spacer;
    bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0 !important;
    z-index: 1;
    justify-content: flex-end;
}

.project-header__title {
    overflow-wrap: break-word;
}

@media print {
    padding-top: 0;
}

.project-header--image {
    background-size: cover;
    color: contrast-color(#000);

    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        background-color: rgba(#000, 0.5);
    }

    @media print {
        min-height: 0;
        color: $print-black;
        background-image: none !important;

        &:before {
            content: none;
        }
    }

    .tab {
        color: $white;

        &:focus,
        &:hover {
            color: $white;
        }

        &.active {
            color: $text-color;
        }
    }
}

.project-header__link {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    font-weight: bold;
    font-size: $font-size-sm;

    &:focus,
    &:hover {
        color: inherit;
    }
}

.project-header__logo {
    border: 1px solid $border-color;
}

@media (min-width: $breakpoint) {
    .project-header__logo-wrapper {
        display: flex;
        align-items: flex-start;
        text-align: left;
    }

    .project-header__logo {
        flex: 0 0 auto;
        margin-right: $padding;
    }

    .project-header__logo-body {
        flex: 1 1 auto;
        align-self: center;
    }
}
