.tile {
    display: flex;
    flex-direction: column;
    page-break-inside: avoid;
    overflow-wrap: break-word;
    background-color: $body-bg;
    box-shadow: 0 2px 22px 0 rgba(0, 0, 0, 0.06);
    position: relative;
    margin-bottom: $spacer;

    &:hover {
        box-shadow: 0 2px 26px 0 rgba(0, 0, 0, 0.12);
    }
}

.tile__blueprint {
    margin: 0.5*$spacer 0.5*$spacer 2*$spacer 0.5*$spacer;
}

.organisation__tile {
    width: 100%;
}

.tile__head {
    position: relative;

    @media print {
        display: none;
    }
}

.tile__icon {
    color: $brand-primary;
}

.tile__link {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 4;
}

.tile__image {
    display: block;
    min-height: 13rem;
    height: 100%;

    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: $brand-info;
}

.tile__image__copyright {
    position: absolute;
    top: 0;
    right: 0;
}

.tile__body {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    padding: $padding;

    > :last-child {
        margin-bottom: 0;
    }
}

.tile__body-status {
    position: relative;
    padding-bottom: 5*$padding;
}

.tile__text {
    flex: 1 0 auto;
}

.tile__title {
    margin-top: 0;
    line-height: 1.5;

    a {
        text-decoration: none;
        color: inherit;
    }
}

.tile__title,
.tile__date {
    margin: 0;
}

.tile__date {
    color: $text-secondary-color;
}

@media (min-width: $breakpoint-xs) {
    .tile--vertical {
        margin: $r-spacer;
    }
}

@media (min-width: $breakpoint) {
    .tile {
        min-height: 15em;
    }

    .tile--horizontal {
        flex-direction: row;

        .tile__head {
            flex: 0 1 30%;
        }
    }

    .tile__image {
        min-height: 20rem;
    }

    .tile__image--contained {
        min-height: 13rem;
    }
}
