//this only appears on homepage_hero currently
.tooltip.bs-tooltip-top .tooltip-inner {
    font-size: $font-size-base;

    @media screen and (min-width: $breakpoint) {
        min-width: 240px;
    }
}
