.userindicator__dropdown {
    .btn {
        padding: 0.5em 1em;
    }

    i {
        margin-left: 0.5 * $padding;
        display: inline-block;
        vertical-align: middle;
    }
}

.userindicator__btn-img {
    margin-right: 0.5em;
    display: inline-block;
    vertical-align: middle;
    width: 3em;
    height: 3em;
    border-radius: 100%;
    border: 2px solid $body-bg;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.userindicator__btn-text {
    display: inline-block;
    vertical-align: middle;
    min-width: 120px;
    max-width: 180px;
}

.userindicator__hello {
    font-weight: normal;
}

.userindicator__dropdown-menu {
    position: fixed !important;
    min-width: 100%;
    top: 0.5*$spacer;
    margin: 0;
    background-color: $brand-secondary;
    color: contrast-color($brand-secondary);
    border: 1px solid $body-bg;

    a,
    button {
        border-bottom: 1px solid $body-bg;
        font-weight: bold;

        &:hover,
        &:focus {
            color: $brand-primary;
        }
    }
}

@media screen and (min-width: $breakpoint) {
    .userindicator__dropdown-menu {
        position: absolute !important;
        top: auto;
        margin-top: -(0.5*$spacer); // reposition to allign with btn--attached-to
    }
}
