.userdashboard-profile__side {
    min-height: 100%;
}

.userdashboard-profile__user {
    border: 1px solid #dadada;
    text-align: center;
    padding-bottom: 2*$padding;
}

.userdashboard-profile__avatar {
    border-radius: 50%;
    shape-outside: circle();
    // box-shadow: 0 0 2em rgba(0, 0, 0, 0.1); probably won't need
    position: relative;

    ~ h2 {
        clear: both;
    }
}

.userdashboard-profile__main {
    padding: 0 $padding;
}

@media (min-width: $breakpoint) {
    /* Ensure that info sidebar is always visible in sm
       and above and only a tab in sm
     */

    .userdashboard-profile__side {
        display: block;
    }
}
