
@font-face {
    font-family: 'SourceSerifPro';
    src: url('../fonts/SourceSerifPro-Regular.otf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'SourceSerifPro';
    src: url('../fonts/SourceSerifPro-It.otf');
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url('../fonts/SourceSansPro-Regular.otf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url('../fonts/SourceSansPro-It.otf');
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url('../fonts/SourceSansPro-Semibold.otf');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url('../fonts/SourceSansPro-Bold.otf');
    font-style: bold;
    font-weight: 900;
}
