// should be used with ul/ol
// @mixin grid-tiles($n, $settings: ()) {
//     @include clearfix;
//
//     > * {
//         @include grid-same-width($n, $settings);
//     }
//
//     @supports (display: grid) {
//         display: grid;
//         grid-column-gap: _grid-get("gutter", $settings);
//         grid-template-columns: repeat($n, 1fr);
//
//         > * {
//             margin-left: 0 !important;
//             margin-right: 0 !important;
//             width: auto !important;
//         }
//     }
// }

.container {
    position: relative;
    display: flow-root;
}

.container--shadow {
    background-color: $body-bg;
    box-shadow: 2px 4px 27px 0 rgba(0, 0, 0, 0.02), -2px -4px 27px 0 rgba(0, 0, 0, 0.05);
    padding: 0 $spacer;

    @media (min-width: $breakpoint) {
        padding: 0;
    }
}

.l-wrapper {
    @include clearfix;
    position: relative;
    width: 100%;  // required when used in a flex container
    max-width: $wrapper-width;
    margin: 0 auto;
    padding: 0 $padding;
}

.l-frame {
    margin-left: 1rem !important;
    margin-right: 1rem !important;

    @media screen and (min-width: $breakpoint-md) {
        margin-left: 4rem !important;
        margin-right: 4rem !important;
    }
}

.l-top-overlap {
    position: relative;
    z-index: 1;
    bottom: -2.75 * $spacer;
}

.l-bottom-overlap {
    position: relative;
    z-index: 1;
    top: -1em;
}

.l-tiles-2,
.l-tiles-3,
.l-tiles-4 {
    margin: 0;
    padding: 0;
    list-style: none;
}

@media (min-width: $breakpoint) {
    .l-center-8 {
        // @include grid-width(10);
        margin: 0 auto;
    }

    .l-tiles-2 {
        // @include grid-tiles(2);
    }

    .l-tiles-3 {
        // @include grid-tiles(2);
    }

    .l-tiles-4 {
        // @include grid-tiles(2);
    }
}

@media (min-width: $breakpoint-md) {
    .l-center-8 {
        // @include grid-width(8);
    }

    .l-center-6 {
        // @include grid-width(6);
    }

    .l-col-9-3 {
        // @include grid-span(9, 3);
    }

    .l-tiles-3 {
        // @include grid-tiles(3);
    }

    .l-tiles-4 {
        // @include grid-tiles(4);
    }
}
