.container {
    position: relative;
    display: flow-root;

    @media (max-width: $breakpoint-down) {
        max-width: 768px;
    }
}

.container--shadow {
    background-color: $body-bg;
    box-shadow: 2px 4px 27px 0 rgba(0, 0, 0, 0.02), -2px -4px 27px 0 rgba(0, 0, 0, 0.05);

    @media (max-width: $breakpoint-down) {
        padding: 0 $spacer;
    }
}

.l-tiles-2,
.l-tiles-3,
.l-tiles-4 {
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: $breakpoint-xs) {
    .l-tiles-2,
    .l-tiles-3,
    .l-tiles-4 {
        margin: -0.5*$r-spacer;
    }

    .l-two-col {
        -moz-column-count: 2;
        -moz-column-gap: 2*$r-spacer;
        -webkit-column-count: 2;
        -webkit-column-gap: 2*$r-spacer;
    }
}

@media (min-width: $breakpoint) {
    .l-tiles-2 {
        margin: -$r-spacer;
    }

    .l-tiles-2 > div,
    .l-tiles-2 > li {
        width: calc(100% * (1 / 2) - 32px - 1px);
    }

    .l-tiles-3 > div,
    .l-tiles-3 > li {
        width: calc(100% * (1 / 3) - 16px - 1px);
    }

    .l-tiles-4 > div,
    .l-tiles-4 > li {
        width: calc(100% * (1 / 2) - 16px - 1px);
    }
}

@media (min-width: $breakpoint-md) {
    .l-tiles-4 > div,
    .l-tiles-4 > li {
        width: calc(100% * (1 / 4) - 16px - 1px);
    }
}

.l-top-overlap {
    position: relative;
    z-index: 1;
    bottom: -1.5em;
}

.l-bottom-overlap {
    position: relative;
    z-index: 1;
    top: -1em;
}
