{% extends 'base.html' %}
{% load i18n wagtailcore_tags %}

{% block title %}{% trans 'Data protection' %} &mdash; {{ block.super }}{% endblock %}

{% block content %}
<div class="u-bg-light py-5">
    <div class="container container--shadow">
        <div class="row">
            <div class="col-md-8 col-lg-6 offset-md-2 offset-lg-3 pt-5">
                <div class="row py-4">
                    <div class="offset-6 col-sm-3 offset-sm-9 position-relative header-lower__position--right">
                        {% include 'header_lower.html' with organisation=organisation %}
                    </div>
                </div>
                <h1>{% trans 'Data protection' %}</h1>
                {{ organisation.data_protection|richtext }}
            </div>
        </div>
    {% include 'footer_upper.html' with organisation=organisation %}
    </div>
</div>
{% endblock %}
