{% extends 'base.html' %}
{% load static i18n thumbnail a4_candy_project_tags %}

{% block title %}{{ organisation.name }}{% endblock title %}

{% block social_meta_image %}
{% if organisation.image %}
<meta name="twitter:image" content="{% thumbnail organisation.image "1500x610" crop %}">
<meta name="linkedin:image" content="{% thumbnail organisation.image "1500x610" crop %}">
<meta property="og:image" content="{% thumbnail organisation.image "1500x610" crop %}">
<meta property="og:image:width" content="1500">
<meta property="og:image:height" content="610">
{% endif %}
{% endblock social_meta_image %}

{% block social_meta_description %}
{% if organisation.description %}
<meta name="twitter:description" content="{{ organisation.description }}">
<meta name="linkedin:description" content="{{ organisation.description }}">
<meta property="og:description" content="{{ organisation.description }}">
{% endif %}
{% endblock social_meta_description %}

{% block extra_js %}
  {{ block.super }}
  <script src="{% static 'project_search.js' %}"></script>
{% endblock extra_js %}

{% block super_content %}
<div class="u-bg-light py-5">
    <div class="container px-0 px-sm-3 u-bg-light">
        <div class="container--shadow">
            <div class="organisation-page__hero-wrap">
                <div class="hero-unit" style="background-image: url({% thumbnail organisation.image "1500x610" crop %});">
                    {% if organisation.image_copyright %}
                    <div class="header__copyright copyright">© {{ organisation.image_copyright }}</div>
                    {% endif %}
                </div>
                <div class="organisation-page__avatar">
                    {% if organisation.logo %}
                    <img src="{% thumbnail organisation.logo '0x160' %}" alt="{{ organisation.name }}">
                    {% else %}
                    <span>{{ organisation.name }}</span>
                    {% endif %}
                </div>
            </div>

            <div class="organisation-page__body">
                <div class="project-detail__intro">
                    <div class="project-detail__main">
                        <h1 class="organisation-page__title">
                            {{ organisation.name }}
                            {% if organisation.url %}
                            <a class="organisation-page__title-link" href="{{ organisation.url }}" target="_blank" title="{{ organisation.url }}">
                                <i class="fas fa-external-link-alt" role="img" aria-label="{{ organisation.title }} {% translate 'Opens in new window' %}"></i>
                            </a>
                            {% endif %}
                        </h1>
                        {% if organisation.slogan %}
                        <h3 class="organisation-page__slogan">{{ organisation.slogan }}</h3>
                        {% endif %}
                        {% if organisation.description %}
                        <p class="project-detail__description">{{ organisation.description }}</p>
                        {% endif %}
                        <div class="project-detail__actions">
                            <div class="project-detail__follow" id="organisation-follow-button">
                                {% include 'a4_candy_organisations/includes/follow_button.html' with organisation=organisation is_following=is_following %}
                            </div>
                            {% if organisation.information %}
                            <a class="btn btn--link project-detail__action organisation-page__about" href="{% url 'organisation-information' organisation_slug=organisation.slug %}">
                                {% translate 'About' %}
                            </a>
                            {% endif %}
                        </div>
                        <div id="organisation-follow-alert">
                            {% if unfollow_alert %}
                                {% include 'a4_candy_organisations/includes/_follow_alert.html' with is_following=False %}
                            {% endif %}
                        </div>
                    </div>
                    {% include 'a4_candy_organisations/includes/organisation_sidebar.html' %}
                </div>

                {% if active_projects or future_projects or past_projects %}
                <h2 class="organisation-page__projects-headline">{{ project_headline }}</h2>
                <div data-project-search>
                    <div class="organisation-page__search">
                        <label class="visually-hidden" for="organisation-project-search">{% translate 'Search projects' %}</label>
                        <i class="fas fa-search" aria-hidden="true"></i>
                        <input type="search" id="organisation-project-search" data-project-search-input placeholder="{% translate 'Search' %}" autocomplete="off">
                    </div>
                    <ul class="l-tiles-3 organisation-page__projects" data-project-search-list>
                        {% for project in active_projects %}
                            {% include 'a4_candy_projects/includes/project_list_tile.html' with object=project project=project orientation='vertical' type='project' url=project|project_url %}
                        {% endfor %}
                        {% for project in future_projects %}
                            {% include 'a4_candy_projects/includes/project_list_tile.html' with object=project project=project orientation='vertical' type='project' url=project|project_url %}
                        {% endfor %}
                        {% for project in past_projects %}
                            {% include 'a4_candy_projects/includes/project_list_tile.html' with object=project project=project orientation='vertical' type='project' url=project|project_url %}
                        {% endfor %}
                    </ul>
                    <p class="organisation-page__no-results" data-project-search-empty role="status" hidden>
                        {% translate 'No projects found.' %}
                    </p>
                </div>
                {% else %}
                    {% if request.user.is_authenticated %}
                        <p>{% blocktranslate %}</p>Currently, there are no public participation processes. Please check again later.{% endblocktranslate %}</p>
                    {% elif organisation.information %}
                        {% url 'account_login' as account_login_url %}
                        {% url 'organisation' organisation_slug=organisation.slug as organisation_url %}
                        {% url 'organisation-information' organisation_slug=organisation.slug as organisation_information_url %}
                        <p>{% blocktranslate %}Currently, there are no public participation processes. Sign in <a href="{{ account_login_url }}?next={{ organisation_url }}">here</a> or read more in <a href="{{ organisation_information_url }}">About</a>.{% endblocktranslate %}</p>
                    {% else %}
                        {% url 'account_login' as account_login_url %}
                        {% url 'organisation' organisation_slug=organisation.slug as organisation_url %}
                        <p>{% blocktranslate %}Currently, there are no public participation processes. Sign in <a href="{{ account_login_url }}?next={{ organisation_url }}">here</a>.{% endblocktranslate %}</p>
                    {% endif %}
                {% endif %}
            </div>
            {% include 'footer_upper.html' with organisation=organisation %}
        </div>
    </div>
</div>
{% endblock super_content %}
