{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% translate 'Unfollow' %} — {{ block.super }}{% endblock title %}

{% block content %}
<div class="u-bg-light py-5">
    <div class="container container--shadow">
        <div class="row">
            <div class="col-md-8 col-lg-6 offset-md-2 offset-lg-3 pt-5">
                <div class="row py-4">
                    <div class=" col-sm-3 offset-sm-9 position-relative header-lower__position--right">
                        {% include 'header_lower.html' with organisation=organisation %}
                    </div>
                </div>
                <h1>{% translate 'Unfollow' %}</h1>
                <p>
                    {% blocktranslate with organisation_name=organisation.name %}
                        You have unfollowed {{ organisation_name }}. You will no longer receive email notifications about new projects published by this organisation.
                    {% endblocktranslate %}
                </p>
                <a href="{% url 'organisation' organisation_slug=organisation.slug %}" class="btn btn-primary">
                    {% translate 'Back to organisation' %}
                </a>
            </div>
        </div>
    {% include 'footer_upper.html' with organisation=organisation %}
    </div>
</div>
{% endblock content %}
