.pollquestionlist-container,
.poll__preliminary-results {
    padding-top: $spacer;
}

.poll__preliminary-results-buttons {
    padding-top: $spacer;
}

.poll {
    border-top: 1px solid $gray-lightest;

    h2 {
        margin-top: 0;
        font-size: $font-size-lg;
        font-weight: 600;
        font-family: $font-family-base;
    }

    fieldset {
        padding: 0;
    }
}

.poll__question-image {
    cursor: pointer;
    margin: 1rem 0;
    display: inline-block;
}

.poll__question-image-img {
    max-width: 100%;
    max-height: 200px;
    object-fit: contain;
    border-radius: $choice-border-radius;
    transition: $choice-transition;
}

.poll__question-image--expanded {
    .poll__question-image-img {
        max-height: 700px;
        cursor: zoom-out;
    }
}

.poll__rows {
    display: flex;
    flex-direction: column;
}
