.poll__confidential-notice {
    margin-bottom: $spacer;
    font-size: $font-size-sm;
}

.poll__help-text {
    color: $text-color-gray;
    margin-bottom: 0.5 * $spacer;
}

.poll__char-counter {
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
    color: $text-color-gray;
    font-size: $font-size-sm;
}

.invalid-feedback {
    color: $feedback-color-rejected;
    font-size: 0.875em;
    margin-top: 0.25rem;
}

