{% extends extends %}
{% load i18n discovery_tags static maps_tags module_tags %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'a4maps_display_points.js' %}"></script>
    {{ block.super }}
{% endblock %}

{% block extra_css %}
    <link type="text/css" href="{% static 'a4maps_display_points.css'%}" rel="stylesheet" />
{% endblock %}

{% block project_action %}
    {% has_or_would_have_perm 'a4_candy_mapideas.add_mapidea' request.user module as propose_allowed %}
    {% if propose_allowed %}
        <div class="row">
            <a href="{% url 'a4_candy_mapideas:mapidea-create' organisation_slug=module.project.organisation.slug module_slug=module.slug %}" class="btn btn--full btn--huge mt-4">
                {% trans 'Submit Idea' %}
            </a>
        </div>
    {% endif %}
{% endblock %}

{% block phase_content %}
    <div class="l-top-overlap">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 offset-md-1 offset-lg-2">
                    {% include "a4_candy_contrib/includes/map_filter_and_sort.html" with filter=view.filter mode=view.mode %}
                </div>
            </div>
        </div>
    </div>
    {% if view.mode == 'map' %}
        <div class="map-list">
            <div class="map-list__controls">
                <div class="container">
                    <div class="leaflet-control-zoom leaflet-bar leaflet-control mt-4 mt-md-0">
                        <a class="leaflet-control-zoom-in" id="zoom-in" href="#" title="{% trans 'Zoom in' %}">+</a>
                        <a class="leaflet-control-zoom-out leaflet-disabled" id="zoom-out" href="#" title="{% trans 'Zoom out' %}">-</a>
                    </div>
                </div>
            </div>
            {% if object_list %}
              {% if object_list.0|has_feature:"rate" %}
                {% map_display_points object_list module.settings_instance.polygon %}
              {% else %}
                {% map_display_points object_list module.settings_instance.polygon 'true' %}
              {% endif %}
            {% else %}
              {% map_display_points object_list module.settings_instance.polygon %}
            {% endif %}
        </div>
    {% else %}
        <div class="bg--light">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-8 offset-md-1 offset-lg-2">
                        {% if object_list.count > 0 %}
                            <ul class="u-list-reset">
                                {% for object in object_list %}
                                    {% include "a4_candy_mapideas/includes/mapidea_list_item.html" with object=object %}
                                {% endfor %}
                            </ul>
                        {% else %}
                            {% trans "Nothing to show" %}
                        {% endif %}

                        {% include "a4_candy_contrib/includes/pagination.html" %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
