{% extends extends %}
{% load i18n discovery_tags static maps_tags module_tags %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'a4maps_display_points.js' %}"></script>
    {{ block.super }}
{% endblock extra_js %}

{% block extra_css %}
    <link type="text/css" href="{% static 'a4maps_display_points.css' %}" rel="stylesheet" />
{% endblock extra_css %}

{% block project_action %}
    {% has_or_would_have_perm 'a4_candy_mapideas.add_mapidea' request.user module as propose_allowed %}
    {% if propose_allowed %}
        <a href="{% url 'a4_candy_mapideas:mapidea-create' organisation_slug=module.project.organisation.slug module_slug=module.slug %}" class="btn btn--default btn--full btn--huge mt-4">
            {% translate 'Submit Idea' %}
        </a>
    {% endif %}
{% endblock project_action %}

{% block phase_content %}
    {% include "a4_candy_mapideas/includes/map_list_view.html" with view=view filter=view.filter %}
{% endblock phase_content %}
